In [1]:
#Import CSV Bibliothek 
import csv
#Import Pandas and label it as pd
import pandas as pd
#Import numpy and label it as np 
import numpy as np
#Import Json library
import json
#Set size of Data on 100,000,000 line  
csv.field_size_limit(100000000)
#Display max. rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Import tldextract for extraction of Domains
import tldextract
#Show warnings just in console 
import warnings
warnings.filterwarnings('ignore')

***

# TweetsCov19
## Merge user polarisation

***

In [2]:
path = '../data/tweetscov19_political_polarized_useres.tsv'

df_tweetscov19_political_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarised_domains', 'user_political_polarisation'])

print('Shape :', df_tweetscov19_political_polarized.shape)
df_tweetscov19_political_polarized.head()

Shape : (176301, 5)

,Username,Number_of_liberals,Number_of_conservatives,Sum_polarised_domains,user_political_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.0
1,00008de3f61d5f04329ee6867d5475b9,-1,0,1,-1.0
2,00012a177385cd6e7590e2acb3f206e3,-1,0,1,-1.0
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.0
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.0

In [3]:
path = '../data/tweetscov19_science_polarized_users.tsv'

df_tweetscov19_science_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_antiscience_domains', 'Number_of_proscience_domains', 'Sum_polarised_domains', 'user_science_polarisation'])

print('Shape :', df_tweetscov19_science_polarized.shape)
df_tweetscov19_science_polarized.head()

Shape : (44493, 5)

,Username,Number_of_antiscience_domains,Number_of_proscience_domains,Sum_polarised_domains,user_science_polarisation
0,000238f324f5063164908c27a7f310cd,-1,0,1,-1.0
1,0002eb2aff20e181397afe8cdebdd395,0,1,1,1.0
2,00065a00b971b5e1629d504e0ddf2da0,-3,0,3,-1.0
3,0006a238065c3acb128041e666b58f07,0,2,2,1.0
4,000795932bf3bc3ab05b5efc1b07104b,-1,0,1,-1.0

In [4]:
path = '../data/tweetscov19_moderacy_polarized_users.tsv'

df_tweetscov19_moderacy_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_moderates', 'Number_of_hardlines', 'Sum_polarised_domains', 'user_moderacy_polarisation'])

print('Shape :', df_tweetscov19_moderacy_polarized.shape)
df_tweetscov19_moderacy_polarized.head()

Shape : (176301, 5)

,Username,Number_of_moderates,Number_of_hardlines,Sum_polarised_domains,user_moderacy_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.0
1,00008de3f61d5f04329ee6867d5475b9,0,1,1,1.0
2,00012a177385cd6e7590e2acb3f206e3,0,1,1,1.0
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.0
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.0

In [5]:

df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'user_political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'user_science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'user_moderacy_polarisation']]

df_tweetscov19_user = pd.merge(df_tweetscov19_political_polarized, df_tweetscov19_science_polarized, on='Username', how='inner')
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy_polarized, on='Username', how='inner')
df_tweetscov19_user.shape

(15710, 4)

In [6]:

df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'user_political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'user_science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'user_moderacy_polarisation']]

df_tweetscov19_user = pd.merge(df_tweetscov19_political_polarized, df_tweetscov19_science_polarized, on='Username', how='outer')
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy_polarized, on='Username', how='outer')
df_tweetscov19_user.shape

(205084, 4)

In [7]:
df_tweetscov19_user.head()

,Username,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1.0,NaN,-1.0
1,00008de3f61d5f04329ee6867d5475b9,-1.0,NaN,1.0
2,00012a177385cd6e7590e2acb3f206e3,-1.0,NaN,1.0
3,00016e20a3865cb74581803c27d27b89,-1.0,NaN,-1.0
4,000186b796b0eb667801aad27ca978eb,-1.0,NaN,-1.0

In [8]:
len(df_tweetscov19_user.Username.unique())

205084

In [9]:
cond1 = df_tweetscov19_user.user_political_polarisation == 0
cond2 = df_tweetscov19_user.user_science_polarisation == 0
cond3 = df_tweetscov19_user.user_moderacy_polarisation == 0

df_tweetscov19_user[cond1 & cond2 & cond3].shape

(8, 4)

In [10]:
df_tweetscov19_user[cond1 | cond2 | cond3].shape

(9499, 4)

In [11]:
df_tweetscov19_user[~cond1 | ~cond2 | ~cond3].shape

(205076, 4)

***

In [12]:
pfad_tsv = '../data/TweetsCov19_alltweets_reputation_deletionratio.tsv'

df_tweetscov19_alltweets_reputation_deletionratio = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'Reputation', 'num_posted', 'num_deleted', 'Deletionratio'])

print('Form :', df_tweetscov19_alltweets_reputation_deletionratio.shape)
df_tweetscov19_alltweets_reputation_deletionratio.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation,num_posted,num_deleted,Deletionratio
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,0.999827,21,21,1.0
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,0.999827,21,21,1.0
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,0.999827,21,21,1.0
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,0.999827,21,21,1.0
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,0.999827,21,21,1.0

In [13]:
df_tweetscov19_alltweets_reputation_deletionratio = df_tweetscov19_alltweets_reputation_deletionratio[['Tweet_Id', 'Username', 'Deletionratio', 'Reputation', 'is_deleted']]

df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'user_political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'user_science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'user_moderacy_polarisation']]

df_tweetscov19_user = pd.merge(df_tweetscov19_political_polarized, df_tweetscov19_science_polarized, on='Username', how='outer')
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy_polarized, on='Username', how='outer')

df_tweetscov19_user.shape

(205084, 4)

In [14]:

df_tweetscov19_polarized_user = pd.merge(df_tweetscov19_alltweets_reputation_deletionratio, df_tweetscov19_user, on='Username', how='inner')#, indicator=True)
print('Form :', df_tweetscov19_polarized_user.shape)
df_tweetscov19_polarized_user.head()

Form : (2231354, 8)

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
0,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,0.208333,0.572205,False,-0.5,NaN,-1.0
1,1179408833728466944,7966d5716c1c4f33591b17755184e3d6,0.208333,0.572205,True,-0.5,NaN,-1.0
2,1182683474827739136,7966d5716c1c4f33591b17755184e3d6,0.208333,0.572205,False,-0.5,NaN,-1.0
3,1184746364158271488,7966d5716c1c4f33591b17755184e3d6,0.208333,0.572205,False,-0.5,NaN,-1.0
4,1185117204628623360,7966d5716c1c4f33591b17755184e3d6,0.208333,0.572205,True,-0.5,NaN,-1.0

In [15]:
df_tweetscov19_polarized_user = df_tweetscov19_polarized_user.replace(np.nan, 0)

In [16]:
df_tweetscov19_polarized_user[df_tweetscov19_polarized_user['user_moderacy_polarisation'] == 0].head()

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
5364,1178791899769049091,9d9bb22c54cb933330f754d686d2fb2f,0.0,0.988202,False,0.0,1.0,0.0
5365,1209202438005305345,9d9bb22c54cb933330f754d686d2fb2f,0.0,0.988202,False,0.0,1.0,0.0
5366,1210198745742221312,9d9bb22c54cb933330f754d686d2fb2f,0.0,0.988202,False,0.0,1.0,0.0
5367,1242571946853834753,9d9bb22c54cb933330f754d686d2fb2f,0.0,0.988202,False,0.0,1.0,0.0
5368,1245060830145765377,9d9bb22c54cb933330f754d686d2fb2f,0.0,0.988202,False,0.0,1.0,0.0

### Add Timestamp

In [17]:
path = '../data/tweetsCov19_tweetsid_username_timestamp.tsv'

df_tweetscov19_id_user_time = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp'])

print('Shape :', df_tweetscov19_id_user_time.shape)
df_tweetscov19_id_user_time.head()

Shape : (9409841, 3)

,Tweet_Id,Username,Timestamp
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00

In [18]:
df_tweetscov19_id_user_time = df_tweetscov19_id_user_time[['Tweet_Id', 'Timestamp']]
df_tweetscov19_polarized_user = pd.merge(df_tweetscov19_polarized_user, df_tweetscov19_id_user_time, how='inner', on='Tweet_Id')
df_tweetscov19_polarized_user.head(1)

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,Timestamp
0,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,0.208333,0.572205,False,-0.5,0.0,-1.0,2019-09-30 22:00:03+00:00

In [19]:
df_tweetscov19_polarized_user.shape

(2231354, 9)

In [20]:
# pfad_tsv = '../data/tweetsCov19_polarized_users_deletionratio_reputation_timestamp.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_tweetscov19_polarized_user.iterrows():
#         tsv_writer.writerow(row.values.tolist())

-------------------------

## Merge tweets polarisation

In [21]:
path = '../data/tweetscov19_political_polarized_tweets.tsv'

df_tweetscov19_political_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarized_domains', 'tweet_political_polarisation'])

print('Shape :', df_tweetscov19_political_polarized_tweets.shape)
df_tweetscov19_political_polarized_tweets.head()

Shape : (611835, 5)

,Tweet_Id,Number_of_liberals,Number_of_conservatives,Sum_polarized_domains,tweet_political_polarisation
0,1178791675315011589,-1,0,1,-1.0
1,1178791745447968768,-1,0,1,-1.0
2,1178791856890503170,-1,0,1,-1.0
3,1178791939728130048,-1,0,1,-1.0
4,1178791946413846529,-1,0,1,-1.0

In [22]:
path = '../data/tweetscov19_science_polarized_tweets.tsv'

df_tweetscov19_science_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, dtype={'Tweet_Id':'object'} ,names=['Tweet_Id', 'number_of_antisciens_domains', 'number_of_prosciens_domains', 'Sum_polarized_domains', 'tweet_science_polarisation'])

print('Shape :', df_tweetscov19_science_polarized_tweets.shape)
df_tweetscov19_science_polarized_tweets.head()

Shape : (148308, 5)

,Tweet_Id,number_of_antisciens_domains,number_of_prosciens_domains,Sum_polarized_domains,tweet_science_polarisation
0,1178791818135314432,-1,0,1,-1.0
1,1178791899769049091,0,1,1,1.0
2,1178792638838956032,-1,0,1,-1.0
3,1178793544804454402,-1,0,1,-1.0
4,1178794161350139904,0,1,1,1.0

In [23]:
path = '../data/tweetscov19_moderacy_polarized_tweets.tsv'

df_tweetscov19_moderacy_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains', 'Sum_polarized_domains', 'tweet_moderacy_polarisation'])

print('Shape :', df_tweetscov19_moderacy_polarized_tweets.shape)
df_tweetscov19_moderacy_polarized_tweets.head()

Shape : (611835, 5)

,Tweet_Id,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,tweet_moderacy_polarisation
0,1178791675315011589,-1,0,1,-1.0
1,1178791745447968768,0,1,1,1.0
2,1178791856890503170,-1,0,1,-1.0
3,1178791939728130048,-1,0,1,-1.0
4,1178791946413846529,0,1,1,1.0

In [24]:
df_tweetscov19_political_polarized_tweets = df_tweetscov19_political_polarized_tweets[['Tweet_Id', 'tweet_political_polarisation']]
df_tweetscov19_science_polarized_tweets = df_tweetscov19_science_polarized_tweets[['Tweet_Id', 'tweet_science_polarisation']]
df_tweetscov19_moderacy_polarized_tweets = df_tweetscov19_moderacy_polarized_tweets[['Tweet_Id', 'tweet_moderacy_polarisation']]

df_tweetscov19_polarized_user.Tweet_Id = df_tweetscov19_polarized_user.Tweet_Id.astype(str) 
df_tweetscov19_political_polarized_tweets.Tweet_Id = df_tweetscov19_political_polarized_tweets.Tweet_Id.astype(str) 
df_tweetscov19_science_polarized_tweets.Tweet_Id = df_tweetscov19_science_polarized_tweets.Tweet_Id.astype(str) 
df_tweetscov19_moderacy_polarized_tweets.Tweet_Id = df_tweetscov19_moderacy_polarized_tweets.Tweet_Id.astype(str) 

df_tweetscov19_polarized_tweets = pd.merge(df_tweetscov19_political_polarized_tweets, df_tweetscov19_science_polarized_tweets, on= 'Tweet_Id', how='outer' )
df_tweetscov19_polarized_tweets = pd.merge(df_tweetscov19_polarized_tweets, df_tweetscov19_moderacy_polarized_tweets, on= 'Tweet_Id', how='left' )

In [25]:
df_tweetscov19_polarized_tweets.head()

,Tweet_Id,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1178791675315011589,-1.0,NaN,-1.0
1,1178791745447968768,-1.0,NaN,1.0
2,1178791856890503170,-1.0,NaN,-1.0
3,1178791939728130048,-1.0,NaN,-1.0
4,1178791946413846529,-1.0,NaN,1.0

In [26]:
df_tweetscov19_polarized_tweets.shape

(759735, 4)

In [27]:
df_tweetscov19_polarized_user_and_tweet = pd.merge(df_tweetscov19_polarized_user, df_tweetscov19_polarized_tweets, how='inner', on='Tweet_Id')
df_tweetscov19_polarized_user_and_tweet.shape

(759735, 12)

In [28]:
df_tweetscov19_polarized_user_and_tweet = df_tweetscov19_polarized_user_and_tweet[['Tweet_Id', 'Username', 'Timestamp', 'Deletionratio', 'Reputation', 'is_deleted', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'tweet_political_polarisation', 'tweet_science_polarisation', 'tweet_moderacy_polarisation']]
# df_tweetscov19_polarized_user_and_tweet = df_tweetscov19_polarized_user_and_tweet.replace(np.nan, 0)
df_tweetscov19_polarized_user_and_tweet.head(1)

,Tweet_Id,Username,Timestamp,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1184746364158271488,7966d5716c1c4f33591b17755184e3d6,2019-10-17 08:21:59+00:00,0.208333,0.572205,False,-0.5,0.0,-1.0,-1.0,NaN,-1.0

In [29]:
deleted = df_tweetscov19_polarized_user_and_tweet[df_tweetscov19_polarized_user_and_tweet.is_deleted == True].shape[0]
undeleted = df_tweetscov19_polarized_user_and_tweet[df_tweetscov19_polarized_user_and_tweet.is_deleted == False].shape[0]

print('Deletd : ',deleted)
print('Undeleted: ',undeleted)

Deletd :  122623
Undeleted:  637112

In [30]:
len(df_tweetscov19_polarized_user_and_tweet.Username.unique())

205084

In [37]:
# pfad_tsv = '../data/tweetsCov19_polarized_users_and_tweets_deletionratio_reputation_timestamp.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_tweetscov19_polarized_user_and_tweet.iterrows():
#         tsv_writer.writerow(row.values.tolist())

-----------------