In [78]:
#Import CSV Bibliothek 
import csv
#Import Pandas and label it as pd
import pandas as pd
#Import numpy and label it as np 
import numpy as np
#Import Json library
import json
#Set size of Data on 100,000,000 line  
csv.field_size_limit(100000000)
#Display max. rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Import tldextract for extraction of Domains
import tldextract
#Show warnings just in console 
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format

***

# TweetsCov19
## Merge user polarisation

***

In [79]:
path = '../data/tweetscov19_political_polarized_useres.tsv'

df_tweetscov19_political_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarised_domains', 'user_political_polarisation'])

print('Shape :', df_tweetscov19_political_polarized.shape)
df_tweetscov19_political_polarized.head()

Shape : (176301, 5)

,Username,Number_of_liberals,Number_of_conservatives,Sum_polarised_domains,user_political_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.00
1,00008de3f61d5f04329ee6867d5475b9,-1,0,1,-1.00
2,00012a177385cd6e7590e2acb3f206e3,-1,0,1,-1.00
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.00
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.00

In [80]:
path = '../data/tweetscov19_science_polarized_users.tsv'

df_tweetscov19_science_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_antiscience_domains', 'Number_of_proscience_domains', 'Sum_polarised_domains', 'user_science_polarisation'])

print('Shape :', df_tweetscov19_science_polarized.shape)
df_tweetscov19_science_polarized.head()

Shape : (44493, 5)

,Username,Number_of_antiscience_domains,Number_of_proscience_domains,Sum_polarised_domains,user_science_polarisation
0,000238f324f5063164908c27a7f310cd,-1,0,1,-1.00
1,0002eb2aff20e181397afe8cdebdd395,0,1,1,1.00
2,00065a00b971b5e1629d504e0ddf2da0,-3,0,3,-1.00
3,0006a238065c3acb128041e666b58f07,0,2,2,1.00
4,000795932bf3bc3ab05b5efc1b07104b,-1,0,1,-1.00

In [81]:
path = '../data/tweetscov19_moderacy_polarized_users.tsv'

df_tweetscov19_moderacy_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_moderates', 'Number_of_hardlines', 'Sum_polarised_domains', 'user_moderacy_polarisation'])

print('Shape :', df_tweetscov19_moderacy_polarized.shape)
df_tweetscov19_moderacy_polarized.head()

Shape : (176301, 5)

,Username,Number_of_moderates,Number_of_hardlines,Sum_polarised_domains,user_moderacy_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.00
1,00008de3f61d5f04329ee6867d5475b9,0,1,1,1.00
2,00012a177385cd6e7590e2acb3f206e3,0,1,1,1.00
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.00
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.00

In [82]:

df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'user_political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'user_science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'user_moderacy_polarisation']]

df_tweetscov19_user = pd.merge(df_tweetscov19_political_polarized, df_tweetscov19_science_polarized, on='Username', how='inner')
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy_polarized, on='Username', how='inner')
df_tweetscov19_user.shape

(15710, 4)

In [83]:

df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'user_political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'user_science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'user_moderacy_polarisation']]

df_tweetscov19_user = pd.merge(df_tweetscov19_political_polarized, df_tweetscov19_science_polarized, on='Username', how='outer')
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy_polarized, on='Username', how='outer')
df_tweetscov19_user.shape

(205084, 4)

In [84]:
df_tweetscov19_user.head()

,Username,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1.00,NaN,-1.00
1,00008de3f61d5f04329ee6867d5475b9,-1.00,NaN,1.00
2,00012a177385cd6e7590e2acb3f206e3,-1.00,NaN,1.00
3,00016e20a3865cb74581803c27d27b89,-1.00,NaN,-1.00
4,000186b796b0eb667801aad27ca978eb,-1.00,NaN,-1.00

In [85]:
len(df_tweetscov19_user.Username.unique())

205084

In [86]:
cond1 = df_tweetscov19_user.user_political_polarisation == 0
cond2 = df_tweetscov19_user.user_science_polarisation == 0
cond3 = df_tweetscov19_user.user_moderacy_polarisation == 0

df_tweetscov19_user[cond1 & cond2 & cond3].shape

(8, 4)

In [87]:
df_tweetscov19_user[cond1 | cond2 | cond3].shape

(9499, 4)

In [88]:
df_tweetscov19_user[~cond1 | ~cond2 | ~cond3].shape

(205076, 4)

***

In [89]:
pfad_tsv = '../data/TweetsCov19_alltweets_reputation_deletionratio.tsv'

df_tweetscov19_alltweets_reputation_deletionratio = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'Reputation', 'num_posted', 'num_deleted', 'Deletionratio'])

print('Form :', df_tweetscov19_alltweets_reputation_deletionratio.shape)
df_tweetscov19_alltweets_reputation_deletionratio.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation,num_posted,num_deleted,Deletionratio
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,1.00,21,21,1.00
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,1.00,21,21,1.00
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,1.00,21,21,1.00
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,1.00,21,21,1.00
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,1.00,21,21,1.00

In [90]:
df_tweetscov19_alltweets_reputation_deletionratio = df_tweetscov19_alltweets_reputation_deletionratio[['Tweet_Id', 'Username', 'Deletionratio', 'Reputation', 'is_deleted']]

df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'user_political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'user_science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'user_moderacy_polarisation']]

df_tweetscov19_user = pd.merge(df_tweetscov19_political_polarized, df_tweetscov19_science_polarized, on='Username', how='outer')
df_tweetscov19_user = pd.merge(df_tweetscov19_user, df_tweetscov19_moderacy_polarized, on='Username', how='outer')

df_tweetscov19_user.shape

(205084, 4)

In [91]:

df_tweetscov19_polarized_user = pd.merge(df_tweetscov19_alltweets_reputation_deletionratio, df_tweetscov19_user, on='Username', how='inner')#, indicator=True)
print('Form :', df_tweetscov19_polarized_user.shape)
df_tweetscov19_polarized_user.head()

Form : (2231354, 8)

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
0,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,0.21,0.57,False,-0.50,NaN,-1.00
1,1179408833728466944,7966d5716c1c4f33591b17755184e3d6,0.21,0.57,True,-0.50,NaN,-1.00
2,1182683474827739136,7966d5716c1c4f33591b17755184e3d6,0.21,0.57,False,-0.50,NaN,-1.00
3,1184746364158271488,7966d5716c1c4f33591b17755184e3d6,0.21,0.57,False,-0.50,NaN,-1.00
4,1185117204628623360,7966d5716c1c4f33591b17755184e3d6,0.21,0.57,True,-0.50,NaN,-1.00

In [93]:
df_tweetscov19_polarized_user[df_tweetscov19_polarized_user['user_moderacy_polarisation'] == 0].head()

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation
5375,1178791946413846529,d0f73e6d57bde75aae4136a37e41a388,0.00,0.52,False,-1.00,NaN,0.00
5376,1179102103173812225,d0f73e6d57bde75aae4136a37e41a388,0.00,0.52,False,-1.00,NaN,0.00
5377,1180137424858558464,d0f73e6d57bde75aae4136a37e41a388,0.00,0.52,False,-1.00,NaN,0.00
5378,1183781055406526464,d0f73e6d57bde75aae4136a37e41a388,0.00,0.52,False,-1.00,NaN,0.00
5379,1185151972455997442,d0f73e6d57bde75aae4136a37e41a388,0.00,0.52,False,-1.00,NaN,0.00

### Add Timestamp

In [94]:
path = '../data/tweetsCov19_tweetsid_username_timestamp.tsv'

df_tweetscov19_id_user_time = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp'])

print('Shape :', df_tweetscov19_id_user_time.shape)
df_tweetscov19_id_user_time.head()

Shape : (9409841, 3)

,Tweet_Id,Username,Timestamp
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00

In [95]:
df_tweetscov19_id_user_time = df_tweetscov19_id_user_time[['Tweet_Id', 'Timestamp']]
df_tweetscov19_polarized_user = pd.merge(df_tweetscov19_polarized_user, df_tweetscov19_id_user_time, how='inner', on='Tweet_Id')
df_tweetscov19_polarized_user.head(1)

,Tweet_Id,Username,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,Timestamp
0,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,0.21,0.57,False,-0.50,NaN,-1.00,2019-09-30 22:00:03+00:00

In [96]:
df_tweetscov19_polarized_user.shape

(2231354, 9)

In [108]:
num_polarized_user = len(df_tweetscov19_polarized_user.Username.unique())

political_polarized_users = df_tweetscov19_political_polarized.drop_duplicates(subset=['Username']).shape[0]
science_polarized_users = df_tweetscov19_science_polarized.drop_duplicates(subset=['Username']).shape[0]
moderacy_polarized_users = df_tweetscov19_moderacy_polarized.drop_duplicates(subset=['Username']).shape[0]

print(f"Political polarized Users: {round((political_polarized_users/num_polarized_user) * 100, 2)}")
print(f"Science polarized Users  : {round((science_polarized_users/num_polarized_user) * 100, 2)}")
print(f"Moderacy polarized Users : {round((moderacy_polarized_users/num_polarized_user) * 100, 2)}")

Political polarized Users: 85.97
Science polarized Users  : 21.7
Moderacy polarized Users : 85.97

In [115]:
political_cond1 = (df_tweetscov19_polarized_user.user_political_polarisation.notna())
political_cond2 = (df_tweetscov19_polarized_user.user_political_polarisation == 0)

science_cond1 = (df_tweetscov19_polarized_user.user_science_polarisation.notna())
science_cond2 = (df_tweetscov19_polarized_user.user_science_polarisation == 0)

moderacy_cond1 = (df_tweetscov19_polarized_user.user_moderacy_polarisation.notna())
moderacy_cond2 = (df_tweetscov19_polarized_user.user_moderacy_polarisation == 0)

political_polarized_users = df_tweetscov19_polarized_user[political_cond1 & political_cond2].drop_duplicates(subset=['Username']).shape[0]
science_polarized_users =   df_tweetscov19_polarized_user[science_cond1 & science_cond2].drop_duplicates(subset=['Username']).shape[0]
moderacy_polarized_users =  df_tweetscov19_polarized_user[moderacy_cond1 & moderacy_cond2].drop_duplicates(subset=['Username']).shape[0]

print(f"Political polarized Users: {round((political_polarized_users/num_polarized_user) * 100, 2)}")
print(f"Science polarized Users  : {round((science_polarized_users/num_polarized_user) * 100, 2)}")
print(f"Moderacy polarized Users : {round((moderacy_polarized_users/num_polarized_user) * 100, 2)}")

Political polarized Users: 2.41
Science polarized Users  : 0.27
Moderacy polarized Users : 2.75

In [116]:
political_cond1 = (df_tweetscov19_polarized_user.user_political_polarisation.notna())
political_cond2 = (df_tweetscov19_polarized_user.user_political_polarisation != 0)

science_cond1 = (df_tweetscov19_polarized_user.user_science_polarisation.notna())
science_cond2 = (df_tweetscov19_polarized_user.user_science_polarisation != 0)

moderacy_cond1 = (df_tweetscov19_polarized_user.user_moderacy_polarisation.notna())
moderacy_cond2 = (df_tweetscov19_polarized_user.user_moderacy_polarisation != 0)

political_polarized_users = df_tweetscov19_polarized_user[political_cond1 & political_cond2].drop_duplicates(subset=['Username']).shape[0]
science_polarized_users =   df_tweetscov19_polarized_user[science_cond1 & science_cond2].drop_duplicates(subset=['Username']).shape[0]
moderacy_polarized_users =  df_tweetscov19_polarized_user[moderacy_cond1 & moderacy_cond2].drop_duplicates(subset=['Username']).shape[0]

print(f"Political polarized Users: {round((political_polarized_users/num_polarized_user) * 100, 2)}")
print(f"Science polarized Users  : {round((science_polarized_users/num_polarized_user) * 100, 2)}")
print(f"Moderacy polarized Users : {round((moderacy_polarized_users/num_polarized_user) * 100, 2)}")

Political polarized Users: 83.55
Science polarized Users  : 21.43
Moderacy polarized Users : 83.22

In [ ]:
# df_tweetscov19_polarized_user = df_tweetscov19_polarized_user.replace(np.nan, 0)

In [20]:
# pfad_tsv = '../data/tweetsCov19_polarized_users_deletionratio_reputation_timestamp.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_tweetscov19_polarized_user.iterrows():
#         tsv_writer.writerow(row.values.tolist())

-------------------------

## Merge tweets polarisation

In [21]:
path = '../data/tweetscov19_political_polarized_tweets.tsv'

df_tweetscov19_political_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarized_domains', 'tweet_political_polarisation'])

print('Shape :', df_tweetscov19_political_polarized_tweets.shape)
df_tweetscov19_political_polarized_tweets.head()

Shape : (611835, 5)

,Tweet_Id,Number_of_liberals,Number_of_conservatives,Sum_polarized_domains,tweet_political_polarisation
0,1178791675315011589,-1,0,1,-1.00
1,1178791745447968768,-1,0,1,-1.00
2,1178791856890503170,-1,0,1,-1.00
3,1178791939728130048,-1,0,1,-1.00
4,1178791946413846529,-1,0,1,-1.00

In [22]:
path = '../data/tweetscov19_science_polarized_tweets.tsv'

df_tweetscov19_science_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, dtype={'Tweet_Id':'object'} ,names=['Tweet_Id', 'number_of_antisciens_domains', 'number_of_prosciens_domains', 'Sum_polarized_domains', 'tweet_science_polarisation'])

print('Shape :', df_tweetscov19_science_polarized_tweets.shape)
df_tweetscov19_science_polarized_tweets.head()

Shape : (148308, 5)

,Tweet_Id,number_of_antisciens_domains,number_of_prosciens_domains,Sum_polarized_domains,tweet_science_polarisation
0,1178791818135314432,-1,0,1,-1.00
1,1178791899769049091,0,1,1,1.00
2,1178792638838956032,-1,0,1,-1.00
3,1178793544804454402,-1,0,1,-1.00
4,1178794161350139904,0,1,1,1.00

In [23]:
path = '../data/tweetscov19_moderacy_polarized_tweets.tsv'

df_tweetscov19_moderacy_polarized_tweets = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains', 'Sum_polarized_domains', 'tweet_moderacy_polarisation'])

print('Shape :', df_tweetscov19_moderacy_polarized_tweets.shape)
df_tweetscov19_moderacy_polarized_tweets.head()

Shape : (611835, 5)

,Tweet_Id,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,tweet_moderacy_polarisation
0,1178791675315011589,-1,0,1,-1.00
1,1178791745447968768,0,1,1,1.00
2,1178791856890503170,-1,0,1,-1.00
3,1178791939728130048,-1,0,1,-1.00
4,1178791946413846529,0,1,1,1.00

In [24]:
df_tweetscov19_political_polarized_tweets = df_tweetscov19_political_polarized_tweets[['Tweet_Id', 'tweet_political_polarisation']]
df_tweetscov19_science_polarized_tweets = df_tweetscov19_science_polarized_tweets[['Tweet_Id', 'tweet_science_polarisation']]
df_tweetscov19_moderacy_polarized_tweets = df_tweetscov19_moderacy_polarized_tweets[['Tweet_Id', 'tweet_moderacy_polarisation']]

df_tweetscov19_polarized_user.Tweet_Id = df_tweetscov19_polarized_user.Tweet_Id.astype(str) 
df_tweetscov19_political_polarized_tweets.Tweet_Id = df_tweetscov19_political_polarized_tweets.Tweet_Id.astype(str) 
df_tweetscov19_science_polarized_tweets.Tweet_Id = df_tweetscov19_science_polarized_tweets.Tweet_Id.astype(str) 
df_tweetscov19_moderacy_polarized_tweets.Tweet_Id = df_tweetscov19_moderacy_polarized_tweets.Tweet_Id.astype(str) 

df_tweetscov19_polarized_tweets = pd.merge(df_tweetscov19_political_polarized_tweets, df_tweetscov19_science_polarized_tweets, on= 'Tweet_Id', how='outer' )
df_tweetscov19_polarized_tweets = pd.merge(df_tweetscov19_polarized_tweets, df_tweetscov19_moderacy_polarized_tweets, on= 'Tweet_Id', how='left' )

In [36]:
df_tweetscov19_polarized_tweets.head()

,Tweet_Id,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1178791675315011589,-1.00,NaN,-1.00
1,1178791745447968768,-1.00,NaN,1.00
2,1178791856890503170,-1.00,NaN,-1.00
3,1178791939728130048,-1.00,NaN,-1.00
4,1178791946413846529,-1.00,NaN,1.00

In [37]:
df_tweetscov19_polarized_tweets.shape

(759735, 4)

In [38]:
df_tweetscov19_polarized_user_and_tweet = pd.merge(df_tweetscov19_polarized_user, df_tweetscov19_polarized_tweets, how='inner', on='Tweet_Id')
df_tweetscov19_polarized_user_and_tweet.shape

(759735, 12)

In [39]:
df_tweetscov19_polarized_user_and_tweet = df_tweetscov19_polarized_user_and_tweet[['Tweet_Id', 'Username', 'Timestamp', 'Deletionratio', 'Reputation', 'is_deleted', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'tweet_political_polarisation', 'tweet_science_polarisation', 'tweet_moderacy_polarisation']]
# df_tweetscov19_polarized_user_and_tweet = df_tweetscov19_polarized_user_and_tweet.replace(np.nan, 0)
df_tweetscov19_polarized_user_and_tweet.head(1)

,Tweet_Id,Username,Timestamp,Deletionratio,Reputation,is_deleted,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1184746364158271488,7966d5716c1c4f33591b17755184e3d6,2019-10-17 08:21:59+00:00,0.21,0.57,False,-0.50,0.00,-1.00,-1.00,NaN,-1.00

In [40]:
deleted = df_tweetscov19_polarized_user_and_tweet[df_tweetscov19_polarized_user_and_tweet.is_deleted == True].shape[0]
undeleted = df_tweetscov19_polarized_user_and_tweet[df_tweetscov19_polarized_user_and_tweet.is_deleted == False].shape[0]

print('Deletd : ',deleted)
print('Undeleted: ',undeleted)

Deletd :  122623
Undeleted:  637112

In [41]:
len(df_tweetscov19_polarized_user_and_tweet.Username.unique())

205084

In [47]:
# political_polarized_tweets = df_tweetscov19_polarized_tweets[(df_tweetscov19_polarized_tweets.tweet_political_polarisation.notna()) & (df_tweetscov19_polarized_tweets.tweet_political_polarisation != 0)].shape[0]
num_polarized_tweets = df_tweetscov19_polarized_tweets.shape[0]

political_polarized_tweets = df_tweetscov19_polarized_tweets[(df_tweetscov19_polarized_tweets.tweet_political_polarisation.notna())].shape[0]
science_polarized_tweets = df_tweetscov19_polarized_tweets[(df_tweetscov19_polarized_tweets.tweet_science_polarisation.notna())].shape[0]
moderacy_polarized_tweets = df_tweetscov19_polarized_tweets[(df_tweetscov19_polarized_tweets.tweet_moderacy_polarisation.notna())].shape[0]

print(f"Political polarized Tweets: {round((political_polarized_tweets/num_polarized_tweets) * 100, 2)}")
print(f"Science polarized Tweets  : {round((science_polarized_tweets/num_polarized_tweets) * 100, 2)}")
print(f"Moderacy polarized Tweets : {round((moderacy_polarized_tweets/num_polarized_tweets) * 100, 2)}")

Political polarized Tweets: 80.53
Science polarized Tweets  : 19.52
Moderacy polarized Tweets : 80.53

In [48]:
df_deleted = df_tweetscov19_polarized_user_and_tweet[df_tweetscov19_polarized_user_and_tweet.is_deleted == True]

# political_polarized_tweets = df_tweetscov19_polarized_tweets[(df_tweetscov19_polarized_tweets.tweet_political_polarisation.notna()) & (df_tweetscov19_polarized_tweets.tweet_political_polarisation != 0)].shape[0]
political_polarized_tweets = df_deleted[(df_deleted.tweet_political_polarisation.notna())].shape[0]
science_polarized_tweets = df_deleted[(df_deleted.tweet_science_polarisation.notna())].shape[0]
moderacy_polarized_tweets = df_deleted[(df_deleted.tweet_moderacy_polarisation.notna())].shape[0]

print(f"Political polarized Tweets: {round((political_polarized_tweets/num_polarized_tweets) * 100, 2)}")
print(f"Science polarized Tweets  : {round((science_polarized_tweets/num_polarized_tweets) * 100, 2)}")
print(f"Moderacy polarized Tweets : {round((moderacy_polarized_tweets/num_polarized_tweets) * 100, 2)}")

Political polarized Tweets: 9.63
Science polarized Tweets  : 6.52
Moderacy polarized Tweets : 9.63

In [49]:
df_undeleted = df_tweetscov19_polarized_user_and_tweet[df_tweetscov19_polarized_user_and_tweet.is_deleted == False]


# political_polarized_tweets = df_tweetscov19_polarized_tweets[(df_tweetscov19_polarized_tweets.tweet_political_polarisation.notna()) & (df_tweetscov19_polarized_tweets.tweet_political_polarisation != 0)].shape[0]
political_polarized_tweets = df_undeleted[(df_undeleted.tweet_political_polarisation.notna())].shape[0]
science_polarized_tweets = df_undeleted[(df_undeleted.tweet_science_polarisation.notna())].shape[0]
moderacy_polarized_tweets = df_undeleted[(df_undeleted.tweet_moderacy_polarisation.notna())].shape[0]

print(f"Political polarized Tweets: {round((political_polarized_tweets/num_polarized_tweets) * 100, 2)}")
print(f"Science polarized Tweets  : {round((science_polarized_tweets/num_polarized_tweets) * 100, 2)}")
print(f"Moderacy polarized Tweets : {round((moderacy_polarized_tweets/num_polarized_tweets) * 100, 2)}")

Political polarized Tweets: 70.9
Science polarized Tweets  : 13.0
Moderacy polarized Tweets : 70.9

In [31]:
# pfad_tsv = '../data/tweetsCov19_polarized_users_and_tweets_deletionratio_reputation_timestamp.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_tweetscov19_polarized_user_and_tweet.iterrows():
#         tsv_writer.writerow(row.values.tolist())

-----------------