In [3]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Extraktion der Domäne
import tldextract

***

***

### Moderate

In [5]:
path = '../data/df_domains_moderate_564.tsv'

df_domains_moderate = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [6]:
print('Shape: ', df_domains_moderate.shape)
df_domains_moderate.head()

Shape:  (564, 9)

,domain,mediabias_leftcenterbias_x,mediabias_leftbias_x,mediabias_rightcenterbias_x,mediabias_rightbias_x,mediabias_leftcenterbias_y,mediabias_leftbias_y,mediabias_rightcenterbias_y,mediabias_rightbias_y
0,armscontrol.org,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1,omplex.com,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
2,mainichi.jp,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
3,tcf.org,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
4,yaleglobal.yale.edu,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [8]:
df_domains_moderate.domain.unique().shape[0]

564

In [9]:
list_moderat_domains = df_domains_moderate.domain.to_list()
len(list_moderat_domains)

564

***

***

## Hardline

In [10]:
path = '../data/df_domains_left_right.tsv'

df_liberal_conservative_domains = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [11]:
df_domain_leftbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftbias'] == 1]

print('Shape: ', df_domain_leftbias.shape)
df_domain_leftbias.head()

Shape:  (310, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0,1.0,0.0,0.0
645,Accountable.US,0.0,1.0,0.0,0.0
646,Brut.Media,0.0,1.0,0.0,0.0
647,JoeBiden.com,0.0,1.0,0.0,0.0
648,Them.us,0.0,1.0,0.0,0.0

In [13]:
df_domain_rightbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightbias'] == 1]

print('Shape: ', df_domain_rightbias.shape)
df_domain_rightbias.head()

Shape:  (254, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
1335,2ndvote.com,0.0,0.0,0.0,1.0
1336,Abort73.com,0.0,0.0,0.0,1.0
1337,Aish.com,0.0,0.0,0.0,1.0
1338,AsianNews.it,0.0,0.0,0.0,1.0
1339,CAGW.org,0.0,0.0,0.0,1.0

In [14]:
df_right = df_domain_rightbias.merge(df_domain_leftbias, on = 'domain', how = 'outer')
len(df_right)

564

In [15]:

list_hardline_domains = df_right.domain.to_list()
len(list_hardline_domains)

564

## TweetsCov19

***

In [16]:
path_tweetscov19 = '../data/tweetscov19_id_isdeleted_domains.tsv'

df_tweetscov19 = pd.read_csv(path_tweetscov19, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains'])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 4)

,Tweet_Id,Username,Is_deleted,Domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0

In [17]:
def get_number_of_moderate_domains(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        
        d = domains_list[i]
        
        if d in list_moderat_domains:
            score -=  1
        
    return score

In [18]:
df_tweetscov19['Domains'] = df_tweetscov19['Domains'].astype(str)

df_tweetscov19['Number_of_moderate_domains'] = df_tweetscov19.apply(lambda row: get_number_of_moderate_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [19]:
df_tweetscov19.head()

,Tweet_Id,Username,Is_deleted,Domains,Number_of_moderate_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0

In [20]:
tweets_with_moderate_domains = df_tweetscov19[df_tweetscov19['Number_of_moderate_domains'] < 0].shape

print('Number of Tweets with at least one moderate domains: ', tweets_with_moderate_domains[0])

Number of Tweets with at least one moderate domains:  264415

In [21]:
def get_number_of_hardline_domains(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
       
        d = domains_list[i]
        
        if d in list_hardline_domains:
            score +=  1
        
    return score

In [22]:
df_tweetscov19['Number_of_hardline_domains'] = df_tweetscov19.apply(lambda row: get_number_of_hardline_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [23]:
df_tweetscov19.head()

,Tweet_Id,Username,Is_deleted,Domains,Number_of_moderate_domains,Number_of_hardline_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,0,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0

In [26]:
tweets_with_atleast_one_hardline_domain = df_tweetscov19[df_tweetscov19['Number_of_hardline_domains'] > 0].shape

print('tweets with at least one hardline domain: ', tweets_with_atleast_one_hardline_domain[0])

tweets with at least one hardline domain:  158160

In [27]:
df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

<ipython-input-27-235e324510c5>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

In [28]:
unique_users = df_tweetscov19_unique_user.shape

print('Number of unique users in TweetsCOV19: ', unique_users[0])

Number of unique users in TweetsCOV19:  4095876

In [29]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['Number_of_hardline_domains']>0].head()

,Number_of_moderate_domains,Number_of_hardline_domains
Username,,
00008de3f61d5f04329ee6867d5475b9,0,1
00012a177385cd6e7590e2acb3f206e3,0,1
0001a863c159122c712c53258cf13c8b,0,1
000353a523eec0084e195fafc082a6a9,0,1
0003e8427d9272dd24f2bcb66b871ea9,0,2

In [30]:
df_tweetscov19_unique_user['Sum_polarized_domains'] = df_tweetscov19_unique_user.apply(lambda row: (row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']), axis=1)

In [31]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['Number_of_moderate_domains']<0].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains
Username,,,
00008ca06f863b962f72cc9167d7978a,-1,0,1
00016e20a3865cb74581803c27d27b89,-1,0,1
000220d9d43b6b1ad7dbbdbfbcc53371,-1,0,1
0003fb847751a16fae91117947a259b7,-1,0,1
00053d9e1dc6f9efac2648ecd1d4ce03,-1,0,1

In [32]:
df_tweetscov19_unique_user['normalised_polarisation'] = df_tweetscov19_unique_user.apply(lambda row: (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / row['Sum_polarized_domains'] if row['Sum_polarized_domains'] != 0 else 0, axis=1)

In [33]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['Number_of_moderate_domains']<-2].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
Username,,,,
00065a00b971b5e1629d504e0ddf2da0,-4,2,6,-0.333333
0013aaa4da0461c58d0b1306af75af02,-12,20,32,0.250000
0028b1c0f33fc484e49c2ce2820cd4ae,-13,0,13,-1.000000
002f506ad2fa8c2cb570fa65d135de67,-8,12,20,0.200000
002f6fd90a56d5e3512012305fbf65f7,-5,0,5,-1.000000

In [34]:
users_with_with_atleast_one_polarized_domain = df_tweetscov19_unique_user[df_tweetscov19_unique_user['Sum_polarized_domains']>0]

print('Number of users with with at least one polarized domain: ',users_with_with_atleast_one_polarized_domain.shape[0])

Number of users with with at least one polarized domain:  129134

In [35]:
users_with_with_atleast_one_polarized_domain[users_with_with_atleast_one_polarized_domain['normalised_polarisation'] == 0].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
Username,,,,
00084b153bbf7f4a8c1df3b638e07765,-1,1,2,0.0
000e23685aded21e1a41fbf670acf7ca,-1,1,2,0.0
0021ab6c166eb3b5b3c8139bdc3ae3f1,-1,1,2,0.0
0037a52b5297dd03726565e8aab3df54,-1,1,2,0.0
003939c963d399c0bf67f3d5d0058864,-1,1,2,0.0

In [36]:
#df_tweetscov19_unique_users_without_zero_polarisation = df_tweetscov19_unique_user[df_tweetscov19_unique_user['normalised_polarisation'] != 0]

In [37]:
#unique_polarised_users = df_tweetscov19_unique_users_without_zero_polarisation.shape

#print('Number of recognised polarized users in TweetsCOV19: ', unique_polarised_users[0])

In [38]:
number_of_hardline_users = users_with_with_atleast_one_polarized_domain[users_with_with_atleast_one_polarized_domain['normalised_polarisation'] > 0].shape

print('Number of recognised hardline users in TweetsCOV19: ',number_of_hardline_users[0] )

Number of recognised hardline users in TweetsCOV19:  40879

In [39]:
number_of_moderate_users = users_with_with_atleast_one_polarized_domain[users_with_with_atleast_one_polarized_domain['normalised_polarisation'] < 0].shape

print('Number of recognised moderate users in TweetsCOV19: ', number_of_moderate_users[0])

Number of recognised moderate users in TweetsCOV19:  83364

In [40]:
users_with_with_atleast_one_polarized_domain = users_with_with_atleast_one_polarized_domain.reset_index()
users_with_with_atleast_one_polarized_domain.head()

,Username,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.0
1,00008de3f61d5f04329ee6867d5475b9,0,1,1,1.0
2,00012a177385cd6e7590e2acb3f206e3,0,1,1,1.0
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.0
4,0001a863c159122c712c53258cf13c8b,0,1,1,1.0

***

***

In [41]:
df_tweetscov19 = df_tweetscov19 [['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains']]

path = '../data/tweetscov19_tweets_moderacy_polarized_v2.tsv'

with open(path, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

In [42]:

pfad_tsv3 = '../data/tweetscov19_moderacy_polarized_users_with_atleast_one_polarized_domain_v2.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in users_with_with_atleast_one_polarized_domain.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

***

## Polarisierungen berechnen
### TweetsKB

***

In [43]:
pfad_tsv = '../data/tweetskb_id_isdeleted_domains.tsv'

df_tweetskb = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains'])

print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 4)

              Tweet_Id         Username  Is_deleted                 Domains
0  1178791636039589889         DCComics       False  dcuniverseinfinite.com
1  1178791641265639424       seanberdyz        True                carrd.co
2  1178791640573579264  AnArtistAtBirth        True                       0
3  1178791644797255680     lagosboygang        True                       0
4  1178791648056217600     Phenom_Hoops       False    phenomhoopreport.com

In [44]:
df_tweetskb['Domains'] = df_tweetskb['Domains'].astype(str)

df_tweetskb['Number_of_moderate_domains'] = df_tweetskb.apply(lambda row: get_number_of_moderate_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [45]:
tweets_with_moderate_domains = df_tweetskb[df_tweetskb['Number_of_moderate_domains'] < 0].shape

print('Number of Tweets with at least one moderate domains: ', tweets_with_moderate_domains[0])

Number of Tweets with at least one moderate domains:  57959

In [46]:
df_tweetskb['Number_of_hardline_domains'] = df_tweetskb.apply(lambda row: get_number_of_hardline_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [47]:
tweets_with_one_hardline_domain = df_tweetskb[df_tweetskb['Number_of_hardline_domains'] > 0].shape

print('tweets with at least one hardline domain: ', tweets_with_one_hardline_domain[0])

tweets with at least one hardline domain:  36013

In [48]:
df_tweetskb_unique_user = df_tweetskb.groupby('Username')[ 'Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

<ipython-input-48-ca5f8dec60c1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetskb_unique_user = df_tweetskb.groupby('Username')[ 'Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

In [49]:
unique_users = df_tweetskb_unique_user.shape

print('Number of unique users in TweetsKB: ', unique_users[0])

Number of unique users in TweetsKB:  5208425

In [63]:
df_tweetskb_unique_user.head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
Username,,,,
00000000,0,0,0,0.0
000000000yt,0,0,0,0.0
00000000martin,0,0,0,0.0
000000911a,0,0,0,0.0
000000_127,0,0,0,0.0

In [51]:
df_tweetskb_unique_user['Sum_polarized_domains'] = df_tweetskb_unique_user.apply(lambda row:  (row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']), axis=1)

In [52]:
df_tweetskb_unique_user[df_tweetskb_unique_user['Number_of_moderate_domains']<-2].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains
Username,,,
1066Live,-7,0,7
1120Eclipse,-7,4,11
13WHAM,-4,0,4
18AKGOYAL,-3,1,4
1CMartinez,-3,0,3

In [53]:
df_tweetskb_unique_user['normalised_polarisation'] = df_tweetskb_unique_user.apply(lambda row: (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / row['Sum_polarized_domains'] if row['Sum_polarized_domains'] != 0 else 0, axis=1)

In [54]:
df_tweetskb_unique_users_with_atleast_one_polarized_domain= df_tweetskb_unique_user[df_tweetskb_unique_user['Sum_polarized_domains'] > 0]

print('df tweetskb unique users with atleast one polarized domain: ', df_tweetskb_unique_users_with_atleast_one_polarized_domain.shape[0])

df tweetskb unique users with atleast one polarized domain:  48333

In [64]:
df_tweetskb_unique_users_with_atleast_one_polarized_domain[df_tweetskb_unique_users_with_atleast_one_polarized_domain['normalised_polarisation']==0].head()

,Username,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
51,125LolaLola,-2,2,4,0.0
62,13thethe,-1,1,2,0.0
89,1969Maurice,-1,1,2,0.0
98,19Dumptrump,-1,1,2,0.0
169,1news_me,-2,2,4,0.0

In [56]:
#df_tweetskb_unique_users_without_zero_polarisation = df_tweetskb_unique_user[df_tweetskb_unique_user['normalised_polarisation'] != 0]

In [57]:
#number_of_polarised_users = df_tweetskb_unique_users_without_zero_polarisation.shape

#print('Number of recognised polarised users in TweetsKB:  ', number_of_polarised_users[0])

In [58]:
number_of_hardline_users = df_tweetskb_unique_users_with_atleast_one_polarized_domain[df_tweetskb_unique_users_with_atleast_one_polarized_domain['normalised_polarisation'] > 0].shape

print('Number of recognised hardline users in TweetsKB: ', number_of_hardline_users[0])

Number of recognised hardline users in TweetsKB:  15573

In [59]:
number_of_moderate_users = df_tweetskb_unique_users_with_atleast_one_polarized_domain[df_tweetskb_unique_users_with_atleast_one_polarized_domain['normalised_polarisation'] < 0].shape

print('Number of recognised moderate users in TweetsKB: ', number_of_moderate_users[0])

Number of recognised moderate users in TweetsKB:  31277

In [60]:
df_tweetskb_unique_users_with_atleast_one_polarized_domain = df_tweetskb_unique_users_with_atleast_one_polarized_domain.reset_index()
df_tweetskb_unique_users_with_atleast_one_polarized_domain.head()

,Username,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
0,0000Condor,0,1,1,1.0
1,007AliSohrab,-1,0,1,-1.0
2,007plus100,-1,0,1,-1.0
3,01_zebra,0,1,1,1.0
4,01pod,-1,0,1,-1.0

***

***

In [61]:
df_tweetskb = df_tweetskb[['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains']]


path = '../data/tweetskb_tweets_moderacy_polarized_v2.tsv'

with open(path, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

***

In [65]:
pfad_tsv3 = '../data/tweetskb_moderacy_polarized_users_with_atleast_one_polarized_domain_v2.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_unique_users_with_atleast_one_polarized_domain.iterrows():
        tsv_writer.writerow(row.values.tolist())