In [3]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Extraktion der Domäne
import tldextract

***

***

### Moderate

In [2]:
path = '../data/df_domains_left_right.tsv'

df_liberal_conservative_domains = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [3]:
print('Shape: ', df_liberal_conservative_domains.shape)
df_liberal_conservative_domains.head()

Shape:  (1589, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [4]:
df_domain_leftcenterbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1]

print('Shape: ', df_domain_leftcenterbias.shape)
df_domain_leftcenterbias.head()

Shape:  (644, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [5]:
list_domain_leftcenterbias = df_domain_leftcenterbias.domain.tolist()

In [6]:
def get_unique_items(l1):
    l1 = np.array(l1)
    l1 = np.unique(l1)
    l1 = l1.tolist()
    
    return l1

In [7]:
list_domain_leftcenterbias = get_unique_items(list_domain_leftcenterbias)
len(list_domain_leftcenterbias)

644

In [8]:
df_domain_rightcenterbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1]

print('Shape: ', df_domain_rightcenterbias.shape)
df_domain_rightcenterbias.head()

Shape:  (381, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0,0.0,1.0,0.0
955,19fortyfive.com,0.0,0.0,1.0,0.0
956,7news.com.au,0.0,0.0,1.0,0.0
957,9news.com.au,0.0,0.0,1.0,0.0
958,Deutschland.de,0.0,0.0,1.0,0.0

***

In [9]:
list_domain_rightcenterbias = df_domain_rightcenterbias.domain.tolist()

list_domain_rightcenterbias = get_unique_items(list_domain_rightcenterbias)
len(list_domain_rightcenterbias)

381

In [10]:
list_moderat_domains = []

list_moderat_domains.extend(list_domain_rightcenterbias)
list_moderat_domains.extend(list_domain_leftcenterbias)

list_moderat_domains = get_unique_items(list_moderat_domains)
len(list_moderat_domains)

1025

***

## Hardline

In [11]:
df_domain_leftbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftbias'] == 1]

print('Shape: ', df_domain_leftbias.shape)
df_domain_leftbias.head()

Shape:  (310, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0,1.0,0.0,0.0
645,Accountable.US,0.0,1.0,0.0,0.0
646,Brut.Media,0.0,1.0,0.0,0.0
647,JoeBiden.com,0.0,1.0,0.0,0.0
648,Them.us,0.0,1.0,0.0,0.0

In [12]:
list_domain_leftbias = df_domain_leftbias.domain.tolist()

list_domain_leftbias = get_unique_items(list_domain_leftbias)
len(list_domain_leftbias)

310

In [13]:
df_domain_rightbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightbias'] == 1]

print('Shape: ', df_domain_rightbias.shape)
df_domain_rightbias.head()

Shape:  (254, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
1335,2ndvote.com,0.0,0.0,0.0,1.0
1336,Abort73.com,0.0,0.0,0.0,1.0
1337,Aish.com,0.0,0.0,0.0,1.0
1338,AsianNews.it,0.0,0.0,0.0,1.0
1339,CAGW.org,0.0,0.0,0.0,1.0

In [14]:
list_domain_rightbias = df_domain_rightbias.domain.tolist()

list_domain_rightbias = get_unique_items(list_domain_rightbias)
len(list_domain_rightbias)

254

In [15]:
list_hardline_domains = []
list_hardline_domains.extend(list_domain_rightbias)
list_hardline_domains.extend(list_domain_leftbias)

list_hardline_domains = get_unique_items(list_hardline_domains)
len(list_hardline_domains)

564

## TweetsCov19

***

In [16]:
path = '../data/tweetscov19_id_isdeleted_domains.tsv'

df_tweetscov19 = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username' , 'Is_deleted', 'Domains'])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 4)

,Tweet_Id,Username,Is_deleted,Domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0

In [17]:
def get_number_of_moderate_domains(domains):
    domains_list = domains.split()
    score = 0
    l = []
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        
        d = domains_list[i]
        
        if d in list_moderat_domains:
            score -=  1
            l.append(d)
        
    return l

In [18]:
df_tweetscov19['Domains'] = df_tweetscov19['Domains'].astype(str)

df_tweetscov19['Moderate_domains'] = df_tweetscov19.apply(lambda row: get_number_of_moderate_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [19]:
df_tweetscov19.head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,[]
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0

In [22]:
df_tweetscov19['Number_of_moderate_domains'] = df_tweetscov19.apply(lambda row: len(row['Moderate_domains']) if (row['Moderate_domains'] != 0) else 0, axis=1)

In [23]:
df_tweetscov19[df_tweetscov19.Number_of_moderate_domains > 1].head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains
4726,1178882401122050048,d42173071607f0bbce9d86ed25fc85b5,False,medium.com medium.com medium.com,"[medium.com, medium.com, medium.com]",3
11005,1179022210310299649,628f78c70516c829d81bdef58a8ec4e0,False,latimes.com latimes.com,"[latimes.com, latimes.com]",2
14228,1179067849769308160,1ebd59e1442eff260eb058d861064f48,False,washingtonpost.com senate.gov theatlantic.com,"[washingtonpost.com, theatlantic.com]",2
14687,1179073925986373632,c18a20d047f61afa723526dd8ef8eec5,False,latimes.com latimes.com,"[latimes.com, latimes.com]",2
31260,1179421404506316802,26a173fdbe4770fc467f718461b94197,False,euronews.com euronews.com,"[euronews.com, euronews.com]",2

In [24]:
def get_number_of_hardline_domains(domains):
    domains_list = domains.split()
    score = 0
    l = []
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
       
        d = domains_list[i]
        
        if d in list_hardline_domains:
            score +=  1
            l.append(d)
        
    return l

In [25]:
df_tweetscov19['Hardline_domains'] = df_tweetscov19.apply(lambda row: get_number_of_hardline_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [26]:
df_tweetscov19.head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,[],0,[]
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0,0

In [29]:
df_tweetscov19['Number_of_hardline_domains'] = df_tweetscov19.apply(lambda row: len(row['Hardline_domains']) if (row['Hardline_domains'] != 0) else 0, axis=1)

In [30]:
df_tweetscov19[df_tweetscov19.Number_of_hardline_domains > 1].head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
2878,1178845541461057536,2435a45b85628172c5a47122144a7c67,False,cnn.com cnn.com,[],0,"[cnn.com, cnn.com]",2
51222,1179794501487005698,0e3b228f079e42c2387cdf38d0317844,False,nytimes.com cnn.com thenation.com bloomberg.co...,"[nytimes.com, bloomberg.com, cnbc.com]",3,"[cnn.com, thenation.com]",2
154684,1181739317733056512,9a03cb041ffb42baf9854b27decfdc61,True,twitchy.com twitchy.com,[],0,"[twitchy.com, twitchy.com]",2
200795,1182551145195200514,0ebc12c72878213b4454d2f6ccdb708d,False,unicornriot.ninja unicornriot.ninja,[],0,"[unicornriot.ninja, unicornriot.ninja]",2
212363,1182741442483105792,9d78170b196c546d6507c3f155e2b875,False,cnn.com twitter.com cnn.com,[],0,"[cnn.com, cnn.com]",2

***

***

In [31]:
pfad_tsv3 = '../data/tweetscov19_domainsLR_moderacy_polarized_useres.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

In [2]:
path_tweetscov19 = '../data/tweetscov19_domainsLR_moderacy_polarized_useres.tsv'

df_tweetscov19 = pd.read_csv(path_tweetscov19, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains', 'Moderate_domains', 'Number_of_moderate_domains', 'Hardline_domains', 'Number_of_hardline_domains'])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 8)

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,[],0,[],0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0,0,0

In [3]:
df_tweetscov19_del = df_tweetscov19[df_tweetscov19['Is_deleted'] == True]
df_tweetscov19_undel = df_tweetscov19[df_tweetscov19['Is_deleted'] == False]

In [4]:
import ast

def get_unique_domains_with_their_number_of_repeatation(df):
    dict_domains = {}
    i  = 0

    for idx, row in df.iterrows():
        list_domains = []
        list_domains = (row.values.tolist()[0])
        
        list_domains = ast.literal_eval(list_domains)

        if (list_domains != 0):
            if (len(list_domains) > 0):
                #print(list_domains)
                for i in range(0, len(list_domains)):
                    domain = list_domains[i]
                    if domain not in dict_domains:
                        dict_domains[domain] = 1
                    else :
                        dict_domains[domain] = dict_domains[domain] +1
    return dict_domains

In [5]:
df_tweetsCov19_domains_m = df_tweetscov19[['Moderate_domains']]
dict_tweetscov19_domains_m = get_unique_domains_with_their_number_of_repeatation(df_tweetsCov19_domains_m)

In [6]:
df_dict_tweetsCov19_moderate_domains = pd.DataFrame(dict_tweetscov19_domains_m.items(), columns=['Moderate_domains','Number'])
df_dict_tweetsCov19_moderate_domains.head(1)

  Moderate_domains  Number
0      nytimes.com   35661

In [7]:
Number_of_moderate_domains = df_tweetscov19['Number_of_moderate_domains'].sum()
print('Number of used moderate Domains in TweetsCov19(unique) :', df_dict_tweetsCov19_moderate_domains.Moderate_domains.size)
print('Number of used moderate Domains in TweetsCov19(sum) :', Number_of_moderate_domains)

Number of used moderate Domains in TweetsCov19(unique) : 837
Number of used moderate Domains in TweetsCov19(sum) : 455589

In [8]:
df_dict_tweetsCov19_moderate_domains['percent'] =  df_dict_tweetsCov19_moderate_domains['Number'].apply(lambda row : ((row /2508542) * 100) )

df_dict_tweetsCov19_moderate_domains['Number'] = df_dict_tweetsCov19_moderate_domains['Number'].astype(int) 
df_dict_tweetsCov19_moderate_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetsCov19_moderate_domains.head(10)

      Moderate_domains  Number   percent
0          nytimes.com   35661  1.421583
11     theguardian.com   33863  1.349908
4   washingtonpost.com   25083  0.999904
10       bloomberg.com   16885  0.673100
20         nbcnews.com   11190  0.446076
12            cnbc.com    9763  0.389190
7           nypost.com    9192  0.366428
5              bbc.com    9180  0.365950
82   independent.co.uk    8907  0.355067
48             wsj.com    8582  0.342111

In [9]:
df_tweetsCov19_domains_h = df_tweetscov19[['Hardline_domains']]
dict_tweetscov19_domains_h = get_unique_domains_with_their_number_of_repeatation(df_tweetsCov19_domains_h)

In [10]:
df_dict_tweetsCov19_hardliner_domains = pd.DataFrame(dict_tweetscov19_domains_h.items(), columns=['Hardliner_domains','Number'])

In [13]:
Number_of_hardliner = df_tweetscov19['Number_of_hardline_domains'].sum()
print('Number of used hardliner Domains in TweetsCov19(unique) :', df_dict_tweetsCov19_hardliner_domains.Hardliner_domains.size) 
print('Number of used hardliner Domains in TweetsCov19(sum) :', Number_of_hardliner)

Number of used hardliner Domains in TweetsCov19(unique) : 445
Number of used hardliner Domains in TweetsCov19(sum) : 158601

In [15]:
df_dict_tweetsCov19_hardliner_domains['percent'] =  df_dict_tweetsCov19_hardliner_domains['Number'].apply(lambda row : ((row /2508542) * 100) )

df_dict_tweetsCov19_hardliner_domains['Number'] = df_dict_tweetsCov19_hardliner_domains['Number'].astype(int) 
df_dict_tweetsCov19_hardliner_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetsCov19_hardliner_domains.head(10)

         Hardliner_domains  Number   percent
0                  cnn.com   29895  1.191728
4              foxnews.com   18794  0.749200
1             rawstory.com   11516  0.459071
26              change.org    8381  0.334098
18       thedailybeast.com    4679  0.186523
36         telegraph.co.uk    4624  0.184330
9   washingtonexaminer.com    4544  0.181141
31               msnbc.com    4007  0.159734
22         dailycaller.com    3981  0.158698
13                 vox.com    3907  0.155748

-----

In [4]:
path_tweetscov19 = '../data/tweetscov19_domainsLR_moderacy_polarized_useres.tsv'

df_tweetscov19 = pd.read_csv(path_tweetscov19, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains', 'Moderate_domains', 'Number_of_moderate_domains', 'Hardline_domains', 'Number_of_hardline_domains'])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 8)

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,[],0,[],0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0,0,0

In [5]:
cond1 = df_tweetscov19.Number_of_moderate_domains != 0
cond2 = df_tweetscov19.Number_of_hardline_domains != 0
df_tweetscov19 = df_tweetscov19[(cond1 | cond2)]

In [7]:
df_tweetscov19.Number_of_moderate_domains = df_tweetscov19.Number_of_moderate_domains *-1

In [8]:
df_tweetscov19['tweet_moderacy_polarisation'] = df_tweetscov19.apply(lambda row: ( (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) if ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) != 0 else 0 ), axis=1)

In [9]:
df_tweetscov19.describe()

,Tweet_Id,Number_of_moderate_domains,Number_of_hardline_domains,tweet_moderacy_polarisation
count,6.118350e+05,611835.000000,611835.000000,611835.000000
mean,1.241852e+18,-0.744627,0.259222,-0.483523
std,1.907819e+16,0.443205,0.440221,0.875055
min,1.178792e+18,-6.000000,0.000000,-1.000000
25%,1.238215e+18,-1.000000,0.000000,-1.000000
50%,1.245422e+18,-1.000000,0.000000,-1.000000
75%,1.254079e+18,0.000000,1.000000,1.000000
max,1.267229e+18,0.000000,6.000000,1.000000

In [10]:
pfad_tsv3 = '../data/tweetscov19_domainsLR_moderacy_polarized_tweets.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

## TweetsKB

***

In [32]:
pfad_tsv3 = '../data/tweetskb_id_isdeleted_domains.tsv'

df_tweetskb = pd.read_csv(pfad_tsv3, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username' , 'Is_deleted', 'Domains'])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 4)

              Tweet_Id         Username  Is_deleted                 Domains
0  1178791636039589889         DCComics       False  dcuniverseinfinite.com
1  1178791641265639424       seanberdyz        True                carrd.co
2  1178791640573579264  AnArtistAtBirth        True                       0
3  1178791644797255680     lagosboygang        True                       0
4  1178791648056217600     Phenom_Hoops       False    phenomhoopreport.com

In [33]:
df_tweetskb['Domains'] = df_tweetskb['Domains'].astype(str)

df_tweetskb['Moderate_domains'] = df_tweetskb.apply(lambda row: get_number_of_moderate_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [34]:
df_tweetskb.head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,[]
1,1178791641265639424,seanberdyz,True,carrd.co,[]
2,1178791640573579264,AnArtistAtBirth,True,0,0
3,1178791644797255680,lagosboygang,True,0,0
4,1178791648056217600,Phenom_Hoops,False,phenomhoopreport.com,[]

In [36]:
df_tweetskb['Number_of_moderate_domains'] = df_tweetskb.apply(lambda row: len(row['Moderate_domains']) if (row['Moderate_domains'] != 0) else 0, axis=1)

In [37]:
df_tweetskb[df_tweetskb.Number_of_moderate_domains > 1].head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains
22393,1179046201271967745,Historian_Matt,False,cbc.ca cbc.ca,"[cbc.ca, cbc.ca]",2
48811,1179343794896027648,superscriber,False,theguardian.com smh.com.au,"[theguardian.com, smh.com.au]",2
51424,1179373615084720128,SotelloTV,True,dailymail.co.uk dailymail.co.uk msn.com msn.com,"[msn.com, msn.com]",2
89720,1179767830855782402,PreetBharara,False,brennancenter.org nytimes.com,"[brennancenter.org, nytimes.com]",2
90651,1179774793828073472,CalPolicy,False,nytimes.com nytimes.com youtube.com,"[nytimes.com, nytimes.com]",2

In [38]:
df_tweetskb['Hardline_domains'] = df_tweetskb.apply(lambda row: get_number_of_hardline_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [42]:
df_tweetskb[df_tweetskb.Number_of_moderate_domains > 1].head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
22393,1179046201271967745,Historian_Matt,False,cbc.ca cbc.ca,"[cbc.ca, cbc.ca]",2,[],0
48811,1179343794896027648,superscriber,False,theguardian.com smh.com.au,"[theguardian.com, smh.com.au]",2,[],0
51424,1179373615084720128,SotelloTV,True,dailymail.co.uk dailymail.co.uk msn.com msn.com,"[msn.com, msn.com]",2,[],0
89720,1179767830855782402,PreetBharara,False,brennancenter.org nytimes.com,"[brennancenter.org, nytimes.com]",2,[],0
90651,1179774793828073472,CalPolicy,False,nytimes.com nytimes.com youtube.com,"[nytimes.com, nytimes.com]",2,[],0

In [40]:
df_tweetskb['Number_of_hardline_domains'] = df_tweetskb.apply(lambda row: len(row['Hardline_domains']) if (row['Hardline_domains'] != 0) else 0, axis=1)

In [41]:
df_tweetskb[df_tweetskb.Number_of_hardline_domains > 1].head()

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
122040,1180107335018192896,DeplorableNYC50,False,foxnews.com foxnews.com,[],0,"[foxnews.com, foxnews.com]",2
139289,1180262150436089856,staronline,False,thestar.com.my thestar.com.my,[],0,"[thestar.com.my, thestar.com.my]",2
143921,1180313321481748480,tax_will,False,redstate.com redstate.com redstate.com,[],0,"[redstate.com, redstate.com, redstate.com]",3
269253,1181688088495558656,ChrisBurkeShay,False,thenation.com thenation.com,[],0,"[thenation.com, thenation.com]",2
356454,1182615084012490754,staronline,False,thestar.com.my thestar.com.my,[],0,"[thestar.com.my, thestar.com.my]",2

***

In [43]:
pfad_tsv3 = '../data/tweetskb_domainsLR_moderacy_polarized_useres.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

----

In [16]:
path_tweetskb = '../data/tweetskb_domainsLR_moderacy_polarized_useres.tsv'

df_tweetskb = pd.read_csv(path_tweetskb, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains', 'Moderate_domains', 'Number_of_moderate_domains', 'Hardline_domains', 'Number_of_hardline_domains'])

print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 8)

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,[],0,[],0
1,1178791641265639424,seanberdyz,True,carrd.co,[],0,[],0
2,1178791640573579264,AnArtistAtBirth,True,0,0,0,0,0
3,1178791644797255680,lagosboygang,True,0,0,0,0,0
4,1178791648056217600,Phenom_Hoops,False,phenomhoopreport.com,[],0,[],0

In [17]:
df_tweetskb_del = df_tweetskb[df_tweetskb['Is_deleted'] == True]
df_tweetskb_undel = df_tweetskb[df_tweetskb['Is_deleted'] == False]

In [18]:
df_tweetskb_domains_m = df_tweetskb[['Moderate_domains']]
dict_tweetskb_domains_m = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains_m)

In [19]:
df_dict_tweetskb_moderate_domains = pd.DataFrame(dict_tweetskb_domains_m.items(), columns=['Moderate_domains','Number'])
df_dict_tweetskb_moderate_domains.head(1)

  Moderate_domains  Number
0  dailyherald.com      40

In [22]:
Number_of_moderate_domains = df_tweetskb['Number_of_moderate_domains'].sum()
print('Number of used moderate Domains in Tweetskb(unique) :', df_dict_tweetskb_moderate_domains.Moderate_domains.size)
print('Number of used moderate Domains in Tweetskb(sum) :', Number_of_moderate_domains)

Number of used moderate Domains in Tweetskb(unique) : 799
Number of used moderate Domains in Tweetskb(sum) : 98240

In [23]:
df_dict_tweetskb_moderate_domains['percent'] =  df_dict_tweetskb_moderate_domains['Number'].apply(lambda row : ((row /2508542) * 100) )

df_dict_tweetskb_moderate_domains['Number'] = df_dict_tweetskb_moderate_domains['Number'].astype(int) 
df_dict_tweetskb_moderate_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_moderate_domains.head(10)

      Moderate_domains  Number   percent
17     theguardian.com    8832  0.352077
28         nytimes.com    5532  0.220527
3   washingtonpost.com    4765  0.189951
12          medium.com    3228  0.128680
18       bloomberg.com    2578  0.102769
75   independent.co.uk    2219  0.088458
49          forbes.com    2001  0.079767
35          nypost.com    1862  0.074226
2              msn.com    1771  0.070599
8          nbcnews.com    1701  0.067808

In [25]:
df_tweetskb_domains_h = df_tweetskb[['Hardline_domains']]
dict_tweetskb_domains_h = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains_h)

In [26]:
df_dict_tweetskb_hardliner_domains = pd.DataFrame(dict_tweetskb_domains_h.items(), columns=['Hardliner_domains','Number'])

In [27]:
Number_of_hardliner = df_tweetskb['Number_of_hardline_domains'].sum()
print('Number of used hardliner Domains in TweetsCov19(unique) :', df_dict_tweetskb_hardliner_domains.Hardliner_domains.size) 
print('Number of used hardliner Domains in TweetsCov19(sum) :', Number_of_hardliner)

Number of used hardliner Domains in TweetsCov19(unique) : 421
Number of used hardliner Domains in TweetsCov19(sum) : 36213

In [28]:
df_dict_tweetskb_hardliner_domains['percent'] =  df_dict_tweetskb_hardliner_domains['Number'].apply(lambda row : ((row /2508542) * 100) )

df_dict_tweetskb_hardliner_domains['Number'] = df_dict_tweetskb_hardliner_domains['Number'].astype(int) 
df_dict_tweetskb_hardliner_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_hardliner_domains.head(10)

    Hardliner_domains  Number   percent
3         foxnews.com    3720  0.148293
7             cnn.com    3680  0.146699
1        rawstory.com    2502  0.099739
26  thedailybeast.com    1225  0.048833
16          msnbc.com    1207  0.048116
38    telegraph.co.uk    1172  0.046720
17    dailycaller.com    1073  0.042774
5          change.org    1061  0.042295
24            vox.com     827  0.032967
18      dailywire.com     713  0.028423

In [11]:
path_tweetskb = '../data/tweetskb_domainsLR_moderacy_polarized_useres.tsv'

df_tweetskb = pd.read_csv(path_tweetskb, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains', 'Moderate_domains', 'Number_of_moderate_domains', 'Hardline_domains', 'Number_of_hardline_domains'])

print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 8)

,Tweet_Id,Username,Is_deleted,Domains,Moderate_domains,Number_of_moderate_domains,Hardline_domains,Number_of_hardline_domains
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,[],0,[],0
1,1178791641265639424,seanberdyz,True,carrd.co,[],0,[],0
2,1178791640573579264,AnArtistAtBirth,True,0,0,0,0,0
3,1178791644797255680,lagosboygang,True,0,0,0,0,0
4,1178791648056217600,Phenom_Hoops,False,phenomhoopreport.com,[],0,[],0

In [12]:
cond1 = df_tweetskb.Number_of_moderate_domains != 0
cond2 = df_tweetskb.Number_of_hardline_domains != 0
df_tweetskb = df_tweetskb[(cond1 | cond2)]

In [13]:
df_tweetskb.Number_of_moderate_domains = df_tweetskb.Number_of_moderate_domains *-1

In [14]:
df_tweetskb['tweet_moderacy_polarisation'] = df_tweetskb.apply(lambda row: ( (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) if ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) != 0 else 0 ), axis=1)

In [15]:
df_tweetskb.describe()

,Tweet_Id,Number_of_moderate_domains,Number_of_hardline_domains,tweet_moderacy_polarisation
count,1.336760e+05,133676.000000,133676.000000,133676.000000
mean,1.224523e+18,-0.734911,0.270901,-0.461787
std,2.582551e+16,0.451370,0.448081,0.886695
min,1.178756e+18,-6.000000,0.000000,-1.000000
25%,1.201884e+18,-1.000000,0.000000,-1.000000
50%,1.225821e+18,-1.000000,0.000000,-1.000000
75%,1.247016e+18,0.000000,1.000000,1.000000
max,1.267214e+18,0.000000,5.000000,1.000000

In [16]:
pfad_tsv3 = '../data/tweetskb_domainsLR_moderacy_polarized_tweets.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())