In [1]:
#Import CSV Bibliothek 
import csv
#Import Pandas and label it as pd
import pandas as pd
#Import numpy and label it as np 
import numpy as np
#Import Json library
import json
#Set size of Data on 100,000,000 line  
csv.field_size_limit(100000000)
#Display max. rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Import tldextract for extraction of Domains
import tldextract
#Show warnings just in console 
import warnings
warnings.filterwarnings('ignore')

***

# Political Polarisiation

### Liberale domais

***

In [2]:
path = '../data/df_domains_left_right.tsv'

df_liberal_conservative_domains = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [3]:
print('Shape: ', df_liberal_conservative_domains.shape)
df_liberal_conservative_domains.head()

Shape:  (1589, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [4]:
df_leftcenterbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1]

print('Shape: ', df_leftcenterbias.shape)
df_leftcenterbias.head()

Shape:  (644, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [5]:
list_leftcenterbias_domains = df_leftcenterbias.domain.tolist()
len(list_leftcenterbias_domains)

644

In [6]:
df_leftbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftbias'] == 1]

print('Shape: ', df_leftbias.shape)
df_leftbias.head()

Shape:  (310, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0,1.0,0.0,0.0
645,Accountable.US,0.0,1.0,0.0,0.0
646,Brut.Media,0.0,1.0,0.0,0.0
647,JoeBiden.com,0.0,1.0,0.0,0.0
648,Them.us,0.0,1.0,0.0,0.0

In [7]:
list_leftbias_domains = df_leftbias.domain.tolist()
len(list_leftbias_domains)

310

In [8]:
list_liberal_domains = []

list_liberal_domains.extend(list_leftbias_domains)
list_liberal_domains.extend(list_leftcenterbias_domains)

len(list_liberal_domains)

954

***

## Conservative Domains

***

In [9]:
df_rightcenterbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1]

print('Shape: ', df_rightcenterbias.shape)
df_rightcenterbias.head()

Shape:  (381, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0,0.0,1.0,0.0
955,19fortyfive.com,0.0,0.0,1.0,0.0
956,7news.com.au,0.0,0.0,1.0,0.0
957,9news.com.au,0.0,0.0,1.0,0.0
958,Deutschland.de,0.0,0.0,1.0,0.0

In [10]:
list_rightcenterbias_domains = df_rightcenterbias.domain.tolist()
len(list_rightcenterbias_domains)

381

In [11]:
df_rightbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightbias'] == 1]

print('Shape: ', df_rightbias.shape)
df_rightbias.head()

Shape:  (254, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
1335,2ndvote.com,0.0,0.0,0.0,1.0
1336,Abort73.com,0.0,0.0,0.0,1.0
1337,Aish.com,0.0,0.0,0.0,1.0
1338,AsianNews.it,0.0,0.0,0.0,1.0
1339,CAGW.org,0.0,0.0,0.0,1.0

In [12]:
list_rightbias_domains = df_rightbias.domain.tolist()
len(list_rightbias_domains)

254

In [13]:
list_conservative_domains = []

list_conservative_domains.extend(list_rightbias_domains)
list_conservative_domains.extend(list_rightcenterbias_domains)

len(list_conservative_domains)

635

***

# TweetsCov19
### User polarisation

In [14]:
path_tweetscov19 = '../data/tweetscov19_id_isdeleted_domains.tsv'


df_tweetscov19 = pd.read_csv(path_tweetscov19, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username','Is_deleted', 'Domains'])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 4)

,Tweet_Id,Username,Is_deleted,Domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0

In [15]:
path = '../data/tweetsCov19_tweetsid_username_timestamp.tsv'

df_tweetscov19_id_user_time = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp'])

print('Shape :', df_tweetscov19_id_user_time.shape)
df_tweetscov19_id_user_time.head()

Shape : (9409841, 3)

,Tweet_Id,Username,Timestamp
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00

In [16]:
df_tweetscov19_id_user_time = df_tweetscov19_id_user_time[['Tweet_Id', 'Timestamp']]
df_tweetscov19 = pd.merge(df_tweetscov19, df_tweetscov19_id_user_time, how='inner', on='Tweet_Id')
df_tweetscov19.head(1)

,Tweet_Id,Username,Is_deleted,Domains,Timestamp
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,2019-09-30 22:00:01+00:00

In [17]:
df_tweetscov19.shape

(9409841, 5)

In [18]:
def get_tweets_per_mounth(df):
    
    october = df[df['Timestamp'] < '2019-11-01 00:00:00+00:00']
    print('Number of Tweets in October: ', october.shape[0])
    
    start_date = '2019-11-01 00:00:00+00:00'
    end_date = '2019-12-01 00:00:00+00:00'
    november = df[(df['Timestamp'] >= start_date) & (df['Timestamp'] < end_date) ]
    print('Number of Tweets in November: ', november.shape[0])
    
    start_date = '2019-12-01 00:00:00+00:00'
    end_date = '2020-01-01 00:00:00+00:00'
    december = df[(df['Timestamp'] >= start_date) & (df['Timestamp'] < end_date) ]
    print('Number of Tweets in December: ', december.shape[0])
    
    start_date = '2020-01-01 00:00:00+00:00'
    end_date = '2020-02-01 00:00:00+00:00'
    januar = df[(df['Timestamp'] >= start_date) & (df['Timestamp'] < end_date) ]
    print('Number of Tweets in Januar: ', januar.shape[0])

    start_date = '2020-02-01 00:00:00+00:00'
    end_date = '2020-03-01 00:00:00+00:00'
    februar = df[df['Timestamp'] >= start_date]
    februar = februar[februar['Timestamp'] < end_date]
    print('Number of Tweets in February: ', februar.shape[0])
    
    start_date = '2020-03-01 00:00:00+00:00'
    end_date = '2020-04-01 00:00:00+00:00'
    march = df[df['Timestamp'] >= start_date]
    march = df[df['Timestamp'] < end_date ]
    print('Number of Tweets in March: ', march.shape[0])

    start_date = '2020-04-01 00:00:00+00:00'
    end_date = '2020-05-01 00:00:00+00:00'
    april = df[df['Timestamp'] >= start_date]
    april = april[april['Timestamp'] < end_date ]
    print('Number of Tweets in April: ', april.shape[0])

    start_date = '2020-05-01 00:00:00+00:00'
    #end_date = '2020-05-01 00:00:00+00:00'
    may = df[df['Timestamp'] >= start_date ]
    print('Number of Tweets in May: ', may.shape[0])


    return october, november, december, januar, februar, march, april, may

In [19]:
def get_number_of_liberal_domains(domains):
    
    domains_list = domains.split()
    score = 0
    
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        d = domains_list[i]
        
        if d in list_liberal_domains:
            score -=  1
        
    return score

In [20]:
def get_number_of_conservative_domains(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        d =  domains_list[i]
        
        if d in list_conservative_domains:
            score +=  1
        
    return score

In [21]:
def get_polarized_users(df, dim1, dim2, user_polarisation, mounth):
    
    df.Domains = df.Domains.astype(str)

    df[dim1] = df.apply(lambda row: get_number_of_liberal_domains(row.Domains) if (row.Domains != '0') else 0, axis=1)
    num_domains_dim1 = df[df[dim1] < 0].shape[0]
    #print(f"{dim1} : {num_domains_dim1}")
    
    df[dim2] = df.apply(lambda row: get_number_of_conservative_domains(row.Domains) if (row.Domains != '0') else 0, axis=1)
    num_domains_dim2 = df[df[dim2] > 0].shape[0]
    #print(f'{dim2}: {num_domains_dim2}')
    
    df_unique_users = df.groupby('Username')[ dim1, dim2].sum()
    #print(f'Number of unique users in Dataframe: {df_unique_users.shape[0]}')
    
    df_unique_users['count_polarized_domains'] = df_unique_users.apply(lambda row: ((row[dim2] - row[dim1])), axis=1)
    df_unique_users[user_polarisation] = df_unique_users.apply(lambda row: (row[dim1] + row[dim2]) / row.count_polarized_domains if row.count_polarized_domains != 0 else 0, axis=1)
    
    ########################### Prints ########################
    
    number_of_unique_users = df_unique_users[df_unique_users.count_polarized_domains>0].shape[0]
    #print('Number of recognised polarized users: ', number_of_unique_users)
    print(f'{mounth}: ', '{0:.2g}'.format(df_unique_users[df_unique_users['count_polarized_domains'] > 0][polarisation].mean()))
    return df, df_unique_users

## Spliting dataframe

In [22]:
october, november, december, januar, februar, march, april, may = get_tweets_per_mounth(df_tweetscov19 )

Number of Tweets in October:  582828
Number of Tweets in November:  543328
Number of Tweets in December:  549828
Number of Tweets in Januar:  618367
Number of Tweets in February:  572733
Number of Tweets in March:  5290424
Number of Tweets in April:  2321998
Number of Tweets in May:  1797419

## User polarisation per mouth

In [23]:
polarisation = 'user_political_polarisation'

df_tweets_of_october, october = get_polarized_users(october, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'October')
df_tweets_of_november, november = get_polarized_users(november, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'November')
df_tweets_of_december, december = get_polarized_users(december, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'December')
df_tweets_of_januar, januar = get_polarized_users(januar, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'Januar')
df_tweets_of_februar, februar = get_polarized_users(februar, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'Februar')
df_tweets_of_march, march = get_polarized_users(march, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'March')
df_tweets_of_april, april = get_polarized_users(april, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'April')
df_tweets_of_may, may = get_polarized_users(may, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'May')

October:  -0.5
November:  -0.51
December:  -0.5
Januar:  -0.53
Februar:  -0.53
March:  -0.57
April:  -0.52
May:  -0.5

***

***

# TweetsKB
### User polarisation

***

In [24]:
pfad_tsv = '../data/tweetskb_id_isdeleted_domains.tsv'

df_tweetskb = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains'])

print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 4)

              Tweet_Id         Username  Is_deleted                 Domains
0  1178791636039589889         DCComics       False  dcuniverseinfinite.com
1  1178791641265639424       seanberdyz        True                carrd.co
2  1178791640573579264  AnArtistAtBirth        True                       0
3  1178791644797255680     lagosboygang        True                       0
4  1178791648056217600     Phenom_Hoops       False    phenomhoopreport.com

In [25]:
path = '../data/df_tweetskb_tweetsid_username_timestamp.tsv'

df_tweetskb_id_user_time = pd.read_csv(path, sep='\t', dtype={'Tweet_Id':'object'}, error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp'])

print('Shape :', df_tweetskb_id_user_time.shape)
df_tweetskb_id_user_time.head()

Shape : (9409841, 3)

              Tweet_Id         Username                  Timestamp
0  1178791636039589889         DCComics  2019-09-30 22:00:01+00:00
1  1178791641265639424       seanberdyz  2019-09-30 22:00:02+00:00
2  1178791640573579264  AnArtistAtBirth  2019-09-30 22:00:02+00:00
3  1178791644797255680     lagosboygang  2019-09-30 22:00:03+00:00
4  1178791648056217600     Phenom_Hoops  2019-09-30 22:00:04+00:00

In [26]:
df_tweetskb_id_user_time = df_tweetskb_id_user_time[['Tweet_Id', 'Timestamp']]

df_tweetskb.Tweet_Id = df_tweetskb.Tweet_Id.astype(str) 
df_tweetskb_id_user_time.Tweet_Id = df_tweetskb_id_user_time.Tweet_Id.astype(str) 

df_tweetskb = pd.merge(df_tweetskb, df_tweetskb_id_user_time, how='inner', on='Tweet_Id')
df_tweetskb.head(1)

,Tweet_Id,Username,Is_deleted,Domains,Timestamp
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,2019-09-30 22:00:01+00:00

In [27]:
df_tweetskb.shape

(9409841, 5)

## Spliting dataframe

In [28]:
october, november, december, januar, februar, march, april, may = get_tweets_per_mounth(df_tweetskb )

Number of Tweets in October:  1091989
Number of Tweets in November:  1041247
Number of Tweets in December:  1082048
Number of Tweets in Januar:  1152147
Number of Tweets in February:  1044832
Number of Tweets in March:  6673506
Number of Tweets in April:  1346895
Number of Tweets in May:  1389440

## User polarisation per mouth

In [29]:
polarisation = 'user_political_polarisation'

df_tweets_of_october, october = get_polarized_users(october, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'October')
df_tweets_of_november, november = get_polarized_users(november, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'November')
df_tweets_of_december, december = get_polarized_users(december, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'December')
df_tweets_of_januar, januar = get_polarized_users(januar, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'Januar')
df_tweets_of_februar, februar = get_polarized_users(februar, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'Februar')
df_tweets_of_march, march = get_polarized_users(march, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'March')
df_tweets_of_april, april = get_polarized_users(april, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'April')
df_tweets_of_may, may = get_polarized_users(may, 'Number_of_liberals', 'Number_of_conservatives', polarisation, 'May')

October:  -0.51
November:  -0.5
December:  -0.49
Januar:  -0.5
Februar:  -0.48
March:  -0.53
April:  -0.51
May:  -0.5