In [2]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Extraktion der Domäne
import tldextract

***

***

### Moderate

In [3]:
path = '../data/df_domains_left_right.tsv'

df_liberal_conservative_domains = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [4]:
print('Shape: ', df_liberal_conservative_domains.shape)
df_liberal_conservative_domains.head()

Shape:  (1589, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [5]:
df_domain_leftcenterbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1]

print('Shape: ', df_domain_leftcenterbias.shape)
df_domain_leftcenterbias.head()

Shape:  (644, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [8]:
list_domain_leftcenterbias = df_domain_leftcenterbias.domain.tolist()

In [9]:
def get_unique_items(l1):
    l1 = np.array(l1)
    l1 = np.unique(l1)
    l1 = l1.tolist()
    
    return l1

In [10]:
list_domain_leftcenterbias = get_unique_items(list_domain_leftcenterbias)
len(list_domain_leftcenterbias)

644

In [11]:
df_domain_rightcenterbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1]

print('Shape: ', df_domain_rightcenterbias.shape)
df_domain_rightcenterbias.head()

Shape:  (381, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0,0.0,1.0,0.0
955,19fortyfive.com,0.0,0.0,1.0,0.0
956,7news.com.au,0.0,0.0,1.0,0.0
957,9news.com.au,0.0,0.0,1.0,0.0
958,Deutschland.de,0.0,0.0,1.0,0.0

***

In [12]:
list_domain_rightcenterbias = df_domain_rightcenterbias.domain.tolist()

list_domain_rightcenterbias = get_unique_items(list_domain_rightcenterbias)
len(list_domain_rightcenterbias)

381

In [13]:
list_moderat_domains = []

list_moderat_domains.extend(list_domain_rightcenterbias)
list_moderat_domains.extend(list_domain_leftcenterbias)

list_moderat_domains = get_unique_items(list_moderat_domains)
len(list_moderat_domains)

1025

***

## Hardline

In [14]:
df_domain_leftbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_leftbias'] == 1]

print('Shape: ', df_domain_leftbias.shape)
df_domain_leftbias.head()

Shape:  (310, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0,1.0,0.0,0.0
645,Accountable.US,0.0,1.0,0.0,0.0
646,Brut.Media,0.0,1.0,0.0,0.0
647,JoeBiden.com,0.0,1.0,0.0,0.0
648,Them.us,0.0,1.0,0.0,0.0

In [16]:
list_domain_leftbias = df_domain_leftbias.domain.tolist()

list_domain_leftbias = get_unique_items(list_domain_leftbias)
len(list_domain_leftbias)

310

In [17]:
df_domain_rightbias = df_liberal_conservative_domains[df_liberal_conservative_domains['mediabias_rightbias'] == 1]

print('Shape: ', df_domain_rightbias.shape)
df_domain_rightbias.head()

Shape:  (254, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
1335,2ndvote.com,0.0,0.0,0.0,1.0
1336,Abort73.com,0.0,0.0,0.0,1.0
1337,Aish.com,0.0,0.0,0.0,1.0
1338,AsianNews.it,0.0,0.0,0.0,1.0
1339,CAGW.org,0.0,0.0,0.0,1.0

In [18]:
list_domain_rightbias = df_domain_rightbias.domain.tolist()

list_domain_rightbias = get_unique_items(list_domain_rightbias)
len(list_domain_rightbias)

254

In [19]:
list_hardline_domains = []
list_hardline_domains.extend(list_domain_rightbias)
list_hardline_domains.extend(list_domain_leftbias)

list_hardline_domains = get_unique_items(list_hardline_domains)
len(list_hardline_domains)

564

## TweetsCov19

***

In [22]:
path = '../data/tweetscov19_id_isdeleted_domains.tsv'

df_tweetscov19 = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username','Is_deleted', 'Domains'])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 4)

,Tweet_Id,Username,Is_deleted,Domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0

In [23]:
def get_number_of_moderate_domains(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        
        d = domains_list[i]
        
        if d in list_moderat_domains:
            score -=  1
        
    return score

In [24]:
df_tweetscov19['Domains'] = df_tweetscov19['Domains'].astype(str)

df_tweetscov19['Number_of_moderate_domains'] = df_tweetscov19.apply(lambda row: get_number_of_moderate_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [25]:
df_tweetscov19.head()

,Tweet_Id,Username,Is_deleted,Domains,Number_of_moderate_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0

In [26]:
tweets_with_moderate_domains = df_tweetscov19[df_tweetscov19['Number_of_moderate_domains'] < 0].shape

print('Number of Tweets with at least one moderate domains: ', tweets_with_moderate_domains[0])

Number of Tweets with at least one moderate domains:  453982

In [27]:
def get_number_of_hardline_domains(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
       
        d = domains_list[i]
        
        if d in list_hardline_domains:
            score +=  1
        
    return score

In [29]:
df_tweetscov19['Number_of_hardline_domains'] = df_tweetscov19.apply(lambda row: get_number_of_hardline_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [30]:
df_tweetscov19.head()

,Tweet_Id,Username,Is_deleted,Domains,Number_of_moderate_domains,Number_of_hardline_domains
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,catholicnewsagency.com,0,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0

In [32]:
tweets_with_atleast_one_hardline_domain = df_tweetscov19[df_tweetscov19['Number_of_hardline_domains'] > 0].shape

print('tweets with at least one hardline domain: ', tweets_with_atleast_one_hardline_domain[0])

tweets with at least one hardline domain:  158160

In [35]:

df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

<ipython-input-35-235e324510c5>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

In [36]:
unique_users = df_tweetscov19_unique_user.shape

print('Number of unique users in TweetsCOV19: ', unique_users[0])

Number of unique users in TweetsCOV19:  4095876

In [38]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['Number_of_hardline_domains']>0].head()

,Number_of_moderate_domains,Number_of_hardline_domains
Username,,
00008de3f61d5f04329ee6867d5475b9,0,1
00012a177385cd6e7590e2acb3f206e3,0,1
0001a863c159122c712c53258cf13c8b,0,1
000353a523eec0084e195fafc082a6a9,0,1
0003e8427d9272dd24f2bcb66b871ea9,0,2

In [39]:
df_tweetscov19_unique_user['Sum_polarized_domains'] = df_tweetscov19_unique_user.apply(lambda row: (row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']), axis=1)

In [40]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['Number_of_moderate_domains']<0].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains
Username,,,
00008ca06f863b962f72cc9167d7978a,-1,0,1
00016e20a3865cb74581803c27d27b89,-1,0,1
000186b796b0eb667801aad27ca978eb,-2,0,2
000220d9d43b6b1ad7dbbdbfbcc53371,-3,0,3
000222229ae52915cddbcddaf8261891,-1,0,1

In [41]:
df_tweetscov19_unique_user['normalised_polarisation'] = df_tweetscov19_unique_user.apply(lambda row: (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / row['Sum_polarized_domains'] if row['Sum_polarized_domains'] != 0 else 0, axis=1)

In [42]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['Number_of_moderate_domains']<-2].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
Username,,,,
000220d9d43b6b1ad7dbbdbfbcc53371,-3,0,3,-1.000000
00053d9e1dc6f9efac2648ecd1d4ce03,-4,0,4,-1.000000
00065a00b971b5e1629d504e0ddf2da0,-7,2,9,-0.555556
0006a238065c3acb128041e666b58f07,-5,0,5,-1.000000
000aa7c6d8842347d36e2d756d57ca50,-3,1,4,-0.500000

In [43]:
df_tweetscov19_unique_users_without_zero_polarisation = df_tweetscov19_unique_user[df_tweetscov19_unique_user['normalised_polarisation'] != 0]

In [53]:
unique_polarised_users = df_tweetscov19_unique_users_without_zero_polarisation.shape

print('Number of recognised polarized users in TweetsCOV19: ', unique_polarised_users[0])

Number of recognised polarized users in TweetsCOV19:  170670

In [54]:
number_of_hardline_users = df_tweetscov19_unique_users_without_zero_polarisation[df_tweetscov19_unique_users_without_zero_polarisation['normalised_polarisation'] > 0].shape

print('Number of recognised hardline users in TweetsCOV19: ',number_of_hardline_users[0] )

Number of recognised hardline users in TweetsCOV19:  36665

In [55]:
number_of_moderate_users = df_tweetscov19_unique_users_without_zero_polarisation[df_tweetscov19_unique_users_without_zero_polarisation['normalised_polarisation'] < 0].shape

print('Number of recognised moderate users in TweetsCOV19: ', number_of_moderate_users[0])

Number of recognised moderate users in TweetsCOV19:  134005

In [51]:
df_tweetscov19_unique_users_without_zero_polarisation = df_tweetscov19_unique_users_without_zero_polarisation.reset_index()
df_tweetscov19_unique_users_without_zero_polarisation.head()

,Username,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.0
1,00008de3f61d5f04329ee6867d5475b9,0,1,1,1.0
2,00012a177385cd6e7590e2acb3f206e3,0,1,1,1.0
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.0
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.0

In [78]:
pfad_tsv3 = '../data/tweetscov19_moderacy_polarized_users.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_unique_users_without_zero_polarisation.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

## Polarisierungen berechnen
### TweetsKB

***

In [58]:
pfad_tsv3 = '../data/tweetskb_id_isdeleted_domains.tsv'

df_tweetskb = pd.read_csv(pfad_tsv3, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Is_deleted', 'Domains'])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 4)

              Tweet_Id         Username  Is_deleted                 Domains
0  1178791636039589889         DCComics       False  dcuniverseinfinite.com
1  1178791641265639424       seanberdyz        True                carrd.co
2  1178791640573579264  AnArtistAtBirth        True                       0
3  1178791644797255680     lagosboygang        True                       0
4  1178791648056217600     Phenom_Hoops       False    phenomhoopreport.com

In [59]:
df_tweetskb['Domains'] = df_tweetskb['Domains'].astype(str)

df_tweetskb['Number_of_moderate_domains'] = df_tweetskb.apply(lambda row: get_number_of_moderate_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [60]:
tweets_with_moderate_domains = df_tweetskb[df_tweetskb['Number_of_moderate_domains'] < 0].shape

print('Number of Tweets with at least one moderate domains: ', tweets_with_moderate_domains[0])

Number of Tweets with at least one moderate domains:  97737

In [61]:
df_tweetskb['Number_of_hardline_domains'] = df_tweetskb.apply(lambda row: get_number_of_hardline_domains(row['Domains']) if (row['Domains'] != '0') else 0, axis=1)

In [62]:
tweets_with_one_hardline_domain = df_tweetskb[df_tweetskb['Number_of_hardline_domains'] > 0].shape

print('tweets with at least one hardline domain: ', tweets_with_atleast_one_hardline_domain[0])

tweets with at least one hardline domain:  158160

In [63]:
df_tweetskb_unique_user = df_tweetskb.groupby('Username')[ 'Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

<ipython-input-63-ca5f8dec60c1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetskb_unique_user = df_tweetskb.groupby('Username')[ 'Number_of_moderate_domains', 'Number_of_hardline_domains'].sum()

In [64]:
unique_users = df_tweetskb_unique_user.shape

print('Number of unique users in TweetsKB: ', unique_users[0])

Number of unique users in TweetsKB:  5208425

In [65]:
df_tweetskb_unique_user.head()

                Number_of_moderate_domains  Number_of_hardline_domains
Username
00000000                                 0                           0
000000000yt                              0                           0
00000000martin                           0                           0
000000911a                               0                           0
000000_127                               0                           0

In [66]:
df_tweetskb_unique_user['Sum_polarized_domains'] = df_tweetskb_unique_user.apply(lambda row:  (row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']), axis=1)

In [67]:
df_tweetskb_unique_user[df_tweetskb_unique_user['Number_of_moderate_domains']<-2].head()

,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains
Username,,,
100FrogLegs,-3,1,4
1066Live,-7,0,7
10F01C0,-3,1,4
1120Eclipse,-14,4,18
123RHGreen,-3,5,8

In [69]:
df_tweetskb_unique_user['normalised_polarisation'] = df_tweetskb_unique_user.apply(lambda row: (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / row['Sum_polarized_domains'] if row['Sum_polarized_domains'] != 0 else 0, axis=1)

In [70]:
df_tweetskb_unique_users_without_zero_polarisation = df_tweetskb_unique_user[df_tweetskb_unique_user['normalised_polarisation'] != 0]

In [74]:
number_of_polarised_users = df_tweetskb_unique_users_without_zero_polarisation.shape

print('Number of recognised polarised users in TweetsKB: ', number_of_polarised_users[0])

Number of recognised polarised users in TweetsKB:  65653

In [75]:
number_of_hardline_users = df_tweetskb_unique_users_without_zero_polarisation[df_tweetskb_unique_users_without_zero_polarisation['normalised_polarisation'] > 0].shape

print('Number of recognised hardline users in TweetsKB: ', number_of_hardline_users[0])

Number of recognised hardline users in TweetsKB:  14319

In [76]:
number_of_moderate_users = df_tweetskb_unique_users_without_zero_polarisation[df_tweetskb_unique_users_without_zero_polarisation['normalised_polarisation'] < 0].shape

print('Number of recognised moderate users in TweetsKB: ', number_of_moderate_users[0])

Number of recognised moderate users in TweetsKB:  51334

In [77]:
df_tweetskb_unique_users_without_zero_polarisation = df_tweetskb_unique_users_without_zero_polarisation.reset_index()
df_tweetskb_unique_users_without_zero_polarisation.head()

,Username,Number_of_moderate_domains,Number_of_hardline_domains,Sum_polarized_domains,normalised_polarisation
0,0000Condor,0,1,1,1.0
1,007AliSohrab,-2,0,2,-1.0
2,007newsandviews,-1,0,1,-1.0
3,007plus100,-1,0,1,-1.0
4,00CelebNewz00,-1,0,1,-1.0

In [79]:
pfad_tsv3 = '../data/tweetskb_moderacy_polarized_users.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_unique_users_without_zero_polarisation.iterrows():
        tsv_writer.writerow(row.values.tolist())