In [1]:
#Import CSV Bibliothek 
import csv
#Import Pandas and label it as pd
import pandas as pd
#Import numpy and label it as np 
import numpy as np
#Import Json library
import json
#Set size of Data on 100,000,000 line  
csv.field_size_limit(100000000)
#Display max. rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Import tldextract for extraction of Domains
import tldextract
#Show warnings just in console 
import warnings
warnings.filterwarnings('ignore')

***

# Political Polarisiation

### Liberale

***

In [2]:
path = '../data/df_domains_left_right.tsv'

df_domains_left_right = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [3]:
print('Shape: ', df_domains_left_right.shape)
df_domains_left_right.head()

Shape:  (1589, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [4]:
df_dom_leftcenterbias = df_domains_left_right[df_domains_left_right['mediabias_leftcenterbias'] == 1]
print('Shape: ', df_dom_leftcenterbias.shape)
df_dom_leftcenterbias.head()

Shape:  (644, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [5]:
#Die Spalte der anti-wissenschaftlichen Dom√§ne zu Liste umwandeln.
list_dom_leftcenterbias = df_dom_leftcenterbias.dom.tolist()

In [6]:
def get_unique_items(l1):
    l1 = np.array(l1)
    l1 = np.unique(l1)
    l1 = l1.tolist()
    
    return l1

In [7]:
list_dom_leftcenterbias = get_unique_items(list_dom_leftcenterbias)
len(list_dom_leftcenterbias)

644

In [8]:
df_dom_leftbias = df_domains_left_right[df_domains_left_right['mediabias_leftbias'] == 1]
print('Shape: ', df_dom_leftbias.shape)
df_dom_leftbias.head()

Shape:  (310, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0,1.0,0.0,0.0
645,Accountable.US,0.0,1.0,0.0,0.0
646,Brut.Media,0.0,1.0,0.0,0.0
647,JoeBiden.com,0.0,1.0,0.0,0.0
648,Them.us,0.0,1.0,0.0,0.0

In [9]:
list_dom_leftbias = df_dom_leftbias.dom.tolist()

In [10]:
list_dom_leftbias = get_unique_items(list_dom_leftbias)
len(list_dom_leftbias)

310

In [11]:
list_lib = []
list_lib.extend(list_dom_leftbias)
#list_lib.extend(list_dom_leftcenterbias)

list_lib = get_unique_items(list_lib)
len(list_lib)

310

In [12]:
list_lib.remove('dom')
#list_lib.remove('bbc.com')
#list_lib.remove('usatoday.com')

ValueError: list.remove(x): x not in list

In [16]:
len(list_lib)

310

***

## Conservative

***

In [13]:
df_dom_rightcenterbias = df_domains_left_right[df_domains_left_right['mediabias_rightcenterbias'] == 1]
print('Shape: ', df_dom_rightcenterbias.shape)
df_dom_rightcenterbias.head()

Shape:  (381, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0,0.0,1.0,0.0
955,19fortyfive.com,0.0,0.0,1.0,0.0
956,7news.com.au,0.0,0.0,1.0,0.0
957,9news.com.au,0.0,0.0,1.0,0.0
958,Deutschland.de,0.0,0.0,1.0,0.0

In [14]:
list_rightcenterbias = df_dom_rightcenterbias.dom.tolist()

list_rightcenterbias = get_unique_items(list_rightcenterbias)
len(list_rightcenterbias)

381

In [15]:
df_dom_rightbias = df_domains_left_right[df_domains_left_right['mediabias_rightbias'] == 1]
print('Shape: ', df_dom_rightbias.shape)
df_dom_rightbias.head()

Shape:  (254, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
1335,2ndvote.com,0.0,0.0,0.0,1.0
1336,Abort73.com,0.0,0.0,0.0,1.0
1337,Aish.com,0.0,0.0,0.0,1.0
1338,AsianNews.it,0.0,0.0,0.0,1.0
1339,CAGW.org,0.0,0.0,0.0,1.0

In [16]:
df_dom_rightbias = df_dom_rightbias.dom.tolist()

df_dom_rightbias = get_unique_items(df_dom_rightbias)
len(df_dom_rightbias)

254

In [17]:
list_con = []
list_con.extend(df_dom_rightbias)
#list_con.extend(list_rightcenterbias)

list_con = get_unique_items(list_con)
len(list_con)

254

In [18]:
list_con.remove('dom')
#list_con.remove('bbc.com')
#list_con.remove('usatoday.com')

ValueError: list.remove(x): x not in list

In [23]:
len(list_con)

254

***

## TweetsCov19

In [2]:
pfad_tsv1 = '../../tweetsCov19_id_is_dom.tsv'

df_tweetscov19 = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username','is_deleted','Urls_num', 'Url_dom'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 5)

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0

In [20]:

def get_politik_pol(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        
        d = domains_list[i]
        
        
        if d in list_lib:
            score -=  1
        
    return score

In [21]:
df_tweetscov19['Url_dom'] = df_tweetscov19['Url_dom'].astype(str)
df_tweetscov19['dom_neg_pol'] = df_tweetscov19.apply(lambda row: get_politik_pol(row['Url_dom']) if (row['Url_dom'] != '0') else 0, axis=1)

In [22]:
df_tweetscov19.head()

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom,dom_neg_pol
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0

In [23]:
#Anzahl der Tweets die eine Wertung weniger als 0 haben.
df_tweetscov19[df_tweetscov19['dom_neg_pol'] < 0].shape

(100446, 6)

In [24]:

def get_politik_pol_pos(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
       
        d =  domains_list[i]
        
        if d in list_con:
            score +=  1
        
    return score

In [25]:
df_tweetscov19['dom_pos_pol'] = df_tweetscov19.apply(lambda row: get_politik_pol_pos(row['Url_dom']) if (row['Url_dom'] != '0') else 0, axis=1)

In [26]:
df_tweetscov19.head()

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom,dom_neg_pol,dom_pos_pol
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com,0,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0,0

In [27]:
df_tweetscov19[df_tweetscov19['dom_pos_pol'] > 0].shape

(57721, 7)

In [28]:

df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Urls_num', 'dom_neg_pol', 'dom_pos_pol'].sum()

In [29]:
#Anzahl der einzigartigen Users in Dataframe
df_tweetscov19_unique_user.shape

(4095876, 3)

In [30]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_pos_pol']>0].head()

                                  Urls_num  dom_neg_pol  dom_pos_pol
Username
0004878b3fd069f70a0277acafeffad1         1            0            1
00065a00b971b5e1629d504e0ddf2da0        27            0            2
00084b153bbf7f4a8c1df3b638e07765        15            0            1
000b3162b12624888e26748e2756dfe4         1            0            1
000df0c86153a1e9e65feca1051f8c1e         7            0            4

In [31]:
df_tweetscov19_unique_user['pol_num'] = df_tweetscov19_unique_user.apply(lambda row: (-1 * (row['dom_pos_pol'] - row['dom_neg_pol'])) if (row['dom_pos_pol'] - row['dom_neg_pol']) < 0 else (row['dom_pos_pol'] - row['dom_neg_pol']), axis=1)

In [32]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_neg_pol']<0].head()

                                  Urls_num  dom_neg_pol  dom_pos_pol  pol_num
Username
00008de3f61d5f04329ee6867d5475b9         1           -1            0        1
00012a177385cd6e7590e2acb3f206e3         1           -1            0        1
0001a863c159122c712c53258cf13c8b         1           -1            0        1
000353a523eec0084e195fafc082a6a9         1           -1            0        1
0003e8427d9272dd24f2bcb66b871ea9         2           -2            0        2

In [33]:

df_tweetscov19_unique_user['user_pol'] = df_tweetscov19_unique_user.apply(lambda row: (row['dom_neg_pol'] + row['dom_pos_pol']) / row['pol_num'] if row['pol_num'] != 0 else 0, axis=1)

In [34]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_neg_pol']<-2].head()

,Urls_num,dom_neg_pol,dom_pos_pol,pol_num,user_pol
Username,,,,,
0013aaa4da0461c58d0b1306af75af02,215,-4,16,20,0.6
00247be59d748ab0e377ab5885ecc66b,7,-5,0,5,-1.0
002f506ad2fa8c2cb570fa65d135de67,24,-12,0,12,-1.0
006ee9819f09274ad87ac8c201f1de47,8,-3,0,3,-1.0
0091266f66182afa0aad50f206a84f38,371,-7,0,7,-1.0

In [35]:
#Die Benutzer, die eine Wertung von 0 bekommen haben, werden ausgenommen.
df_tweetscov19_unique_user_0 = df_tweetscov19_unique_user[df_tweetscov19_unique_user['user_pol'] != 0]

In [36]:
#Die Form der Dataframe
df_tweetscov19_unique_user_0.shape

(50852, 5)

In [37]:
#Die Form der Dataframe Konservativen.
df_tweetscov19_unique_user_0[df_tweetscov19_unique_user_0['user_pol'] > 0].shape

(17663, 5)

In [38]:
#Die Form der Dataframe Liberalen.
df_tweetscov19_unique_user_0[df_tweetscov19_unique_user_0['user_pol'] < 0].shape

(33189, 5)

In [39]:
df_tweetscov19_unique_user_0.head()

,Urls_num,dom_neg_pol,dom_pos_pol,pol_num,user_pol
Username,,,,,
00008de3f61d5f04329ee6867d5475b9,1,-1,0,1,-1.0
00012a177385cd6e7590e2acb3f206e3,1,-1,0,1,-1.0
0001a863c159122c712c53258cf13c8b,1,-1,0,1,-1.0
000353a523eec0084e195fafc082a6a9,1,-1,0,1,-1.0
0003e8427d9272dd24f2bcb66b871ea9,2,-2,0,2,-1.0

In [57]:
#Die polarisieten Werte f√ºr Tweets werden gespeichert.
pfad_tsv3 = '../data/dataframes/tweetsCov19_user_dom_politik.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

In [40]:
df_tweetscov19_unique_user_0 = df_tweetscov19_unique_user_0.reset_index()
df_tweetscov19_unique_user_0.head()

,Username,Urls_num,dom_neg_pol,dom_pos_pol,pol_num,user_pol
0,00008de3f61d5f04329ee6867d5475b9,1,-1,0,1,-1.0
1,00012a177385cd6e7590e2acb3f206e3,1,-1,0,1,-1.0
2,0001a863c159122c712c53258cf13c8b,1,-1,0,1,-1.0
3,000353a523eec0084e195fafc082a6a9,1,-1,0,1,-1.0
4,0003e8427d9272dd24f2bcb66b871ea9,2,-2,0,2,-1.0

In [41]:
#Die polarisieten Werte f√ºr Tweets werden gespeichert.
pfad_tsv3 = '../../tweetsCov19_user_dom_politic_2.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_unique_user_0.iterrows():
        tsv_writer.writerow(row.values.tolist())

****

## Polarisierungen berechnen
### TweetsKB

***

In [5]:
pfad_tsv = '../../tweetskb_sample_id_is_dom.tsv'

df_tweetskb = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', "Username", 'is_deleted', 'URLs_dom', 'URLs_num'])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 5)

,Tweet_Id,Username,is_deleted,URLs_dom,URLs_num
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,1
1,1178791641265639424,seanberdyz,True,carrd.co,1
2,1178791640573579264,AnArtistAtBirth,True,0,0
3,1178791644797255680,lagosboygang,True,0,0
4,1178791648056217600,Phenom_Hoops,False,phenomhoopreport.com,1

In [43]:
df_tweetskb['URLs_dom'] = df_tweetskb['URLs_dom'].astype(str)
df_tweetskb['dom_neg_pol'] = df_tweetskb.apply(lambda row: get_politik_pol(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)

In [44]:
df_tweetskb[df_tweetskb['dom_neg_pol'] < 0].shape

(22137, 6)

In [45]:
df_tweetskb['dom_pos_pol'] = df_tweetskb.apply(lambda row: get_politik_pol_pos(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)

In [46]:
df_tweetskb[df_tweetskb['dom_pos_pol'] > 0].shape

(13878, 7)

In [47]:

df_tweetskb_unique_user = df_tweetskb.groupby('Username')['URLs_num', 'dom_neg_pol', 'dom_pos_pol'].sum()

In [48]:
df_tweetskb_unique_user.shape

(5208425, 3)

In [49]:
df_tweetskb_unique_user.head()

                URLs_num  dom_neg_pol  dom_pos_pol
Username
00000000               0            0            0
000000000yt            0            0            0
00000000martin         0            0            0
000000911a             0            0            0
000000_127             0            0            0

In [50]:
df_tweetskb_unique_user['pol_num'] = df_tweetskb_unique_user.apply(lambda row: (-1 * (row['dom_pos_pol'] - row['dom_neg_pol'])) if (row['dom_pos_pol'] - row['dom_neg_pol']) < 0 else (row['dom_pos_pol'] - row['dom_neg_pol']), axis=1)

In [51]:
df_tweetskb_unique_user[df_tweetskb_unique_user['dom_neg_pol']<-2].head()

             URLs_num  dom_neg_pol  dom_pos_pol  pol_num
Username
0nehunter69         4           -3            0        3
1120Eclipse        20           -3            1        4
11thHour           14           -9            0        9
1GameNut            4           -4            0        4
1Krohmer13         29           -3            5        8

In [52]:

df_tweetskb_unique_user['user_pol'] = df_tweetskb_unique_user.apply(lambda row: (row['dom_neg_pol'] + row['dom_pos_pol']) / row['pol_num'] if row['pol_num'] != 0 else 0, axis=1)

In [53]:
df_tweetskb_unique_user_0 = df_tweetskb_unique_user[df_tweetskb_unique_user['user_pol'] != 0]

In [54]:
df_tweetskb_unique_user_0.shape

(18019, 5)

In [55]:
df_tweetskb_unique_user_0[df_tweetskb_unique_user_0['user_pol'] > 0].shape

(6767, 5)

In [56]:
df_tweetskb_unique_user_0[df_tweetskb_unique_user_0['user_pol'] < 0].shape

(11252, 5)

In [76]:
pfad_tsv3 = '../data/dataframes/tweetskb_user_dom_politik.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

In [57]:
df_tweetskb_unique_user_0 = df_tweetskb_unique_user_0.reset_index()
df_tweetskb_unique_user_0.head()

          Username  URLs_num  dom_neg_pol  dom_pos_pol  pol_num  user_pol
0       0000Condor         1           -1            0        1      -1.0
1         01_zebra         4            0            1        1       1.0
2  05e9d20d8cd6400         1           -1            0        1      -1.0
3       08_diane08         1           -1            0        1      -1.0
4        097cypher         1           -1            0        1      -1.0

In [58]:
pfad_tsv3 = '../../tweetskb_user_dom_politic_2.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_unique_user_0.iterrows():
        tsv_writer.writerow(row.values.tolist())