In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Extraktion der Domäne
import tldextract

***

### Pro_science

In [80]:
list_prosc = []

In [12]:
#Anzahl der Domäne, die Pro-Wissenschaftliche Meinungen vertretten.
len(list_prosc)

120

***

## Anti_science

***

In [ ]:
list_antisc = []

## Polarisierungen berechnen
### TweetsCov19

---

In [12]:
#Alle Tweets als Dataframe lesen.
pfad_tsv1 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/TweetsCov19_sample/url/tweetsCov19_id_is_dom.tsv'

df_tweetscov19 = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username','is_deleted','Urls_num', 'Url_dom'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 5)

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0

In [13]:
#Diese Methode bekommt die benutzten Domäne als ein String ein.
#Wandelt sie die String-Daten zu Liste um.
#Die Methode geht die Liste durch, prüft jede Domain. 
#Wenn Domain in anti-wissenschaftliche Domänen wäre, dann bekommt der Tweet dafür eine Wertung von -1.

def get_ascience_pol(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        d = tldextract.extract(domains_list[i])
        d = d.domain
                   
        
        if d in list_antisc:
            score -=  1
        
    return score

In [14]:
#Für alle Tweets wird die Funktion get_ascience_pol() gerufen.
df_tweetscov19['Url_dom'] = df_tweetscov19['Url_dom'].astype(str)
df_tweetscov19['dom_neg_scien'] = df_tweetscov19.apply(lambda row: get_ascience_pol(row['Url_dom']) if (row['Url_dom'] != '0') else 0, axis=1)

In [15]:
df_tweetscov19.head()

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom,dom_neg_scien
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0

In [16]:
#Anzahl der Tweets die eine Wertung weniger als 0 haben.
df_tweetscov19[df_tweetscov19['dom_neg_scien'] < 0].shape

(90732, 6)

In [17]:
#Diese Methode bekommt benutzten Domäne als ein String.
#Wandelt sie die String-Daten zu Liste um.
#Die Methode geht die Liste durch, prüft jede Domain. 
#Wenn Domain in pro-wissenschaftlichen Domäne wäre, dann bekommt der Tweet dafür eine Wertung von 1.

def get_scienc_pos(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        d = tldextract.extract(domains_list[i])
        d = d.domain
       
            
        
        if d in list_prosc:
            score +=  1
        
    return score

In [18]:
#Für jeden Tweets wird die anzahl der benutzten pro-wissenschaftlichen Domäne berechnet.
df_tweetscov19['dom_pos_scien'] = df_tweetscov19.apply(lambda row: get_scienc_pos(row['Url_dom']) if (row['Url_dom'] != '0') else 0, axis=1)

In [19]:
df_tweetscov19.head()

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom,dom_neg_scien,dom_pos_scien
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com,0,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0,0

In [20]:
df_tweetscov19[df_tweetscov19['dom_pos_scien'] > 0].shape

(67078, 7)

In [21]:
#Hier werdrn die Benutzer in Datframe gruppiert, und die Features 'Anzahl der Domäne', 'Negative Wertungen' und 'Psoitive Wertungen summiert.' 
#dom_neg_scien = Anti-Wissenschaft
#dom_pos_scien = Pro-Wissenschaft
df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Urls_num', 'dom_neg_scien', 'dom_pos_scien'].sum()

<ipython-input-21-ab622b5b2d43>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Urls_num', 'dom_neg_scien', 'dom_pos_scien'].sum()

In [22]:
#Anzahl der einzigartigen Users in Dataframe
df_tweetscov19_unique_user.shape

(4095876, 3)

In [23]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_pos_scien']>0].head()

                                  Urls_num  dom_neg_scien  dom_pos_scien
Username
0002eb2aff20e181397afe8cdebdd395         1              0              1
00065a00b971b5e1629d504e0ddf2da0        27             -4              1
0006a238065c3acb128041e666b58f07        13              0              2
00084b153bbf7f4a8c1df3b638e07765        15             -9              4
0008667130fe3776676804ff59e8ce3b         5              0              2

In [24]:
#Anzahl der benutzten polarisierten Domäne wird berechnet.
df_tweetscov19_unique_user['pol_num'] = df_tweetscov19_unique_user.apply(lambda row:  (row['dom_pos_scien'] - row['dom_neg_scien']), axis=1)

In [25]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_neg_scien']<0].head()

,Urls_num,dom_neg_scien,dom_pos_scien,pol_num
Username,,,,
00065a00b971b5e1629d504e0ddf2da0,27,-4,1,5
000795932bf3bc3ab05b5efc1b07104b,2,-1,0,1
00084b153bbf7f4a8c1df3b638e07765,15,-9,4,13
00098f7374d9ea6b43df2c97931ecf01,1,-1,1,2
000df0c86153a1e9e65feca1051f8c1e,7,-4,1,5

In [26]:
#Die Polarisierung der Domäne wird berechnet.
#Anzahl der Negativen + der Positiven durch die Anzahl der benutzten Domäne 
df_tweetscov19_unique_user['user_pol'] = df_tweetscov19_unique_user.apply(lambda row: (row['dom_neg_scien'] + row['dom_pos_scien']) / row['pol_num'] if row['pol_num'] != 0 else 0, axis=1)

In [27]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_neg_scien']<-2].head()

,Urls_num,dom_neg_scien,dom_pos_scien,pol_num,user_pol
Username,,,,,
00065a00b971b5e1629d504e0ddf2da0,27,-4,1,5,-0.600000
00084b153bbf7f4a8c1df3b638e07765,15,-9,4,13,-0.384615
000df0c86153a1e9e65feca1051f8c1e,7,-4,1,5,-0.600000
0013aaa4da0461c58d0b1306af75af02,215,-14,9,23,-0.217391
0023797612d9ad76ffd7024c324c499c,8,-8,5,13,-0.230769

In [28]:
#Die Benutzer, die eine Wertung von 0 bekommen haben, werden ausgenommen.
df_tweetscov19_unique_user_0 = df_tweetscov19_unique_user[df_tweetscov19_unique_user['user_pol'] != 0]

In [29]:
#Die Form der Dataframe
df_tweetscov19_unique_user_0.shape

(36104, 5)

In [30]:
#Die Form der Dataframe für die Benutzer mit positiven polarisierten Wert.
df_tweetscov19_unique_user_0[df_tweetscov19_unique_user_0['user_pol'] > 0].shape

(19226, 5)

In [31]:
#Die Form der Dataframe für die Benutzer mit negativen polarisierten Wert.
df_tweetscov19_unique_user_0[df_tweetscov19_unique_user_0['user_pol'] < 0].shape

(16878, 5)

In [37]:
#Die polarisieten Werte für Tweets werden gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetscov19_dom_science.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

In [39]:
df_tweetscov19_unique_user_0 = df_tweetscov19_unique_user_0.reset_index()
df_tweetscov19_unique_user_0.head()

,Username,Urls_num,dom_neg_scien,dom_pos_scien,pol_num,user_pol
0,0002eb2aff20e181397afe8cdebdd395,1,0,1,1,1.000000
1,00065a00b971b5e1629d504e0ddf2da0,27,-4,1,5,-0.600000
2,0006a238065c3acb128041e666b58f07,13,0,2,2,1.000000
3,000795932bf3bc3ab05b5efc1b07104b,2,-1,0,1,-1.000000
4,00084b153bbf7f4a8c1df3b638e07765,15,-9,4,13,-0.384615

In [40]:
#Die Benutzer mit bekannten polarisierten Ansichten speichern. 
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/users/tweetscov19_unique_user_dom_science.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_unique_user_0.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

## Polarisierungen berechnen
### TweetsKB

***

In [41]:
#Dataframe wird gelesen.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/tweetskb_sample/url/tweetskb_sample_id_is_urls.tsv'

df_tweetskb = pd.read_csv(pfad_tsv3, sep='\t', error_bad_lines=False, names=['Tweet_Id', "Username", 'is_deleted', 'URLs_dom', 'URLs_num'])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 5)

,Tweet_Id,Username,is_deleted,URLs_dom,URLs_num
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,1
1,1178791641265639424,seanberdyz,True,carrd.co,1
2,1178791640573579264,AnArtistAtBirth,True,0,0
3,1178791644797255680,lagosboygang,True,0,0
4,1178791648056217600,Phenom_Hoops,False,phenomhoopreport.com,1

In [42]:
#Für alle Domäne in Tweets wird die Anzahl der anti-Wissenschaftlichen Domäne berechnet.
df_tweetskb['URLs_dom'] = df_tweetskb['URLs_dom'].astype(str)
df_tweetskb['dom_neg_scien'] = df_tweetskb.apply(lambda row: get_ascience_pol(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)

In [43]:
#Form der Dataframe
df_tweetskb[df_tweetskb['dom_neg_scien'] < 0].shape

(21796, 6)

In [44]:
#Für alle Domäne in Tweets wird die Anzahl der pro-Wissenschaftlichen Domäne berechnet.
df_tweetskb['dom_pos_scien'] = df_tweetskb.apply(lambda row: get_scienc_pos(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)

In [45]:
#Form der Dataframe
df_tweetskb[df_tweetskb['dom_pos_scien'] > 0].shape

(14453, 7)

In [46]:
#Hier werden die Benutzer in Dataframe gruppiert, und die Features 'Anzahl der Domäne', 'Negative Wertungen' und 'Psoitive Wertungen summiert.' 
#dom_neg_scien = Anti-Wissenschaft
#dom_pos_scien = Pro-Wissenschaft
df_tweetskb_unique_user = df_tweetskb.groupby('Username')['URLs_num', 'dom_neg_scien', 'dom_pos_scien'].sum()

<ipython-input-46-185a630db4bb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetskb_unique_user = df_tweetskb.groupby('Username')['URLs_num', 'dom_neg_scien', 'dom_pos_scien'].sum()

In [47]:
df_tweetskb_unique_user.shape

(5208425, 3)

In [48]:
df_tweetskb_unique_user.head()

                URLs_num  dom_neg_scien  dom_pos_scien
Username
00000000               0              0              0
000000000yt            0              0              0
00000000martin         0              0              0
000000911a             0              0              0
000000_127             0              0              0

In [49]:
#Die Anzahl der benutzten polarisierten Domäne wird berechnet.
df_tweetskb_unique_user['pol_num'] = df_tweetskb_unique_user.apply(lambda row: (row['dom_pos_scien'] - row['dom_neg_scien']), axis=1)

In [50]:
df_tweetskb_unique_user[df_tweetskb_unique_user['dom_neg_scien']<-2].head()

                URLs_num  dom_neg_scien  dom_pos_scien  pol_num
Username
0nehunter69            4             -3              3        6
10thAmendment         10             -8              7       15
123RHGreen            54            -18             17       35
1776AmericaUSA        12             -7              4       11
1776Resistance        13             -3              0        3

In [51]:
#Die Polarisierungswerte für die Benutzer wird berechnet.
df_tweetskb_unique_user['user_pol'] = df_tweetskb_unique_user.apply(lambda row: (row['dom_neg_scien'] + row['dom_pos_scien']) / row['pol_num'] if row['pol_num'] != 0 else 0, axis=1)

In [52]:
#Die Benutzer, die eine Wertung von 0 bekommen haben, werden ausgenommen.
df_tweetskb_unique_user_0 = df_tweetskb_unique_user[df_tweetskb_unique_user['user_pol'] != 0]

In [53]:
#Die Form der Dataframe 
df_tweetskb_unique_user_0.shape

(11311, 5)

In [54]:
#Die Benutzer, die eine positive Wertung haben. 
df_tweetskb_unique_user_0[df_tweetskb_unique_user_0['user_pol'] > 0].shape

(5019, 5)

In [55]:
#Die Benutzer, die eine negative Wertung haben. 
df_tweetskb_unique_user_0[df_tweetskb_unique_user_0['user_pol'] < 0].shape

(6292, 5)

In [71]:
#Die polarisierten Werte für die Tweets werden gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetskb_dom_schience.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

In [69]:
df_tweetskb_unique_user_0 = df_tweetskb_unique_user_0.reset_index()
df_tweetskb_unique_user_0.head()

     Username  URLs_num  dom_neg_scien  dom_pos_scien  pol_num  user_pol
0    01_zebra         4             -1              0        1      -1.0
1     01sth02         1              0              1        1       1.0
2     02MK13B         1             -1              0        1      -1.0
3  08_diane08         1             -1              0        1      -1.0
4  0Ludicris5         4             -2              0        2      -1.0

In [70]:
df_tweetskb_unique_user_0.shape

(11311, 6)

In [72]:
#Die Benutzer mit polarisierten Werte werden gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/users/tweetskb_unique_user_dom_science.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_unique_user_0.iterrows():
        tsv_writer.writerow(row.values.tolist())