In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None
#Extraktion der Domäne
import tldextract

***

***

### Moderate

In [2]:
path = '../data/df_domains_left_right.tsv'

df_domains_left_right = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [3]:
print('Shape: ', df_domains_left_right.shape)
df_domains_left_right.head()

Shape:  (1589, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [4]:
df_dom_leftcenterbias = df_domains_left_right[df_domains_left_right['mediabias_leftcenterbias'] == 1]
print('Shape: ', df_dom_leftcenterbias.shape)
df_dom_leftcenterbias.head()

Shape:  (644, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0,0.0,0.0,0.0
1,972mag.com,1.0,0.0,0.0,0.0
2,Augustachronicle.com,1.0,0.0,0.0,0.0
3,Boston.com,1.0,0.0,0.0,0.0
4,Censor.NET,1.0,0.0,0.0,0.0

In [5]:
list_dom_leftcenterbias = df_dom_leftcenterbias.dom.tolist()

In [6]:
def get_unique_items(l1):
    l1 = np.array(l1)
    l1 = np.unique(l1)
    l1 = l1.tolist()
    
    return l1

In [7]:
list_dom_leftcenterbias = get_unique_items(list_dom_leftcenterbias)
len(list_dom_leftcenterbias)

644

In [8]:
df_dom_rightcenterbias = df_domains_left_right[df_domains_left_right['mediabias_rightcenterbias'] == 1]
print('Shape: ', df_dom_rightcenterbias.shape)
df_dom_rightcenterbias.head()

Shape:  (381, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0,0.0,1.0,0.0
955,19fortyfive.com,0.0,0.0,1.0,0.0
956,7news.com.au,0.0,0.0,1.0,0.0
957,9news.com.au,0.0,0.0,1.0,0.0
958,Deutschland.de,0.0,0.0,1.0,0.0

***

In [9]:
list_rightcenterbias = df_dom_rightcenterbias.dom.tolist()

list_rightcenterbias = get_unique_items(list_rightcenterbias)
len(list_rightcenterbias)

381

In [10]:
list_mod = []
list_mod.extend(list_rightcenterbias)
list_mod.extend(list_dom_leftcenterbias)

list_mod = get_unique_items(list_mod)
len(list_mod)

1025

In [16]:
list_mod.remove('dom')

ValueError: list.remove(x): x not in list

***

## Hardline

In [11]:
df_dom_leftbias = df_domains_left_right[df_domains_left_right['mediabias_leftbias'] == 1]
print('Shape: ', df_dom_leftbias.shape)
df_dom_leftbias.head()

Shape:  (310, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0,1.0,0.0,0.0
645,Accountable.US,0.0,1.0,0.0,0.0
646,Brut.Media,0.0,1.0,0.0,0.0
647,JoeBiden.com,0.0,1.0,0.0,0.0
648,Them.us,0.0,1.0,0.0,0.0

In [12]:
list_dom_leftbias = df_dom_leftbias.dom.tolist()

list_dom_leftbias = get_unique_items(list_dom_leftbias)
len(list_dom_leftbias)

310

In [13]:
df_dom_rightbias = df_domains_left_right[df_domains_left_right['mediabias_rightbias'] == 1]
print('Shape: ', df_dom_rightbias.shape)
df_dom_rightbias.head()

Shape:  (254, 5)

,dom,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
1335,2ndvote.com,0.0,0.0,0.0,1.0
1336,Abort73.com,0.0,0.0,0.0,1.0
1337,Aish.com,0.0,0.0,0.0,1.0
1338,AsianNews.it,0.0,0.0,0.0,1.0
1339,CAGW.org,0.0,0.0,0.0,1.0

In [14]:
df_dom_rightbias = df_dom_rightbias.dom.tolist()

df_dom_rightbias = get_unique_items(df_dom_rightbias)
len(df_dom_rightbias)

254

In [15]:
list_hard = []
list_hard.extend(df_dom_rightbias)
list_hard.extend(list_rightcenterbias)

list_hard = get_unique_items(list_hard)
len(list_hard)

635

In [17]:
list_mod.remove('dom')

ValueError: list.remove(x): x not in list

## Polarisierungen berechnen
### TweetsCov19

***

In [18]:
#Alle tweets als Dataframe lesen.
pfad_tsv1 = '../../tweetsCov19_id_is_dom.tsv'

df_tweetscov19 = pd.read_csv(pfad_tsv1, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username','is_deleted','Urls_num', 'Url_dom'])
pd.options.display.max_columns = None
print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 5)

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0

In [19]:
#Diese Methode bekommt benutzten Domäne als ein String,
#Wandelt sie die String-daten zu Liste um.
#Die Methode geht die Liste durch, prüft jede Domain. 
#Wenn Domain in moderaten Domäne wäre, dann bekommt der Tweet dafür eine Wertung von -1.


def get_mod_pol(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
        
        d = domains_list[i]
        
        if d in list_mod:
            score -=  1
        
    return score

In [20]:
#Für alle Tweets wird die Anzahl der benutzten moderaten Domäne berechnet.
df_tweetscov19['Url_dom'] = df_tweetscov19['Url_dom'].astype(str)
df_tweetscov19['dom_mod_pol'] = df_tweetscov19.apply(lambda row: get_mod_pol(row['Url_dom']) if (row['Url_dom'] != '0') else 0, axis=1)

In [21]:
df_tweetscov19.head()

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom,dom_mod_pol
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0

In [22]:
df_tweetscov19[df_tweetscov19['dom_mod_pol'] < 0].shape

(453982, 6)

In [23]:
#Diese Methode bekommt benutzten Domäne als ein String,
#Wandel sie die String-daten zu Liste um.
#Die Methode geht die Liste durch, prüft jede Domain. 
#Wenn Domain in Hardliner-Domäne wäre, dann bekommt der Tweet dafür eine Wertung von 1

def get_hard_pol(domains):
    domains_list = domains.split()
    score = 0
    for i in range(0, len(domains_list)):
        
        #d = tldextract.extract(domains_list[i])
        #d = d.domain
       
        d = domains_list[i]
        
        if d in list_hard:
            score +=  1
        
    return score

In [24]:
#Für alle Tweets wird die anzahl der benutzten konservativen Domäne berechnet.
df_tweetscov19['dom_hard_pol'] = df_tweetscov19.apply(lambda row: get_hard_pol(row['Url_dom']) if (row['Url_dom'] != '0') else 0, axis=1)

In [25]:
df_tweetscov19.head()

,Tweet_Id,Username,is_deleted,Urls_num,Url_dom,dom_mod_pol,dom_hard_pol
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,True,0,0,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,False,1,catholicnewsagency.com,0,0
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,False,0,0,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,False,0,0,0,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,False,0,0,0,0

In [26]:
df_tweetscov19[df_tweetscov19['dom_hard_pol'] > 0].shape

(140774, 7)

In [27]:
#Hier werden die Benutzer in Dataframe gruppiert, und die Features 'Anzahl der Domäne', 'Negative Wertungen' und 'Psoitive Wertungen' werden summiert. 
#dom_mod_pol = Moderaten
#dom_hard_pol = Hardliner
df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Urls_num', 'dom_mod_pol', 'dom_hard_pol'].sum()

<ipython-input-27-bbe9aef53859>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetscov19_unique_user = df_tweetscov19.groupby('Username')['Urls_num', 'dom_mod_pol', 'dom_hard_pol'].sum()

In [28]:
df_tweetscov19_unique_user.shape

(4095876, 3)

In [29]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_hard_pol']>0].head()

                                  Urls_num  dom_mod_pol  dom_hard_pol
Username
000220d9d43b6b1ad7dbbdbfbcc53371         5           -3             2
0004878b3fd069f70a0277acafeffad1         1            0             1
00053d9e1dc6f9efac2648ecd1d4ce03         9           -4             1
000548ba8e1e9eeaa908d4a8eef43a77         1           -1             1
000576e39362d72241f34077f5c58153         5           -1             1

In [30]:
#Anzahl der benutzten polarisierten Domäne wird berechnet.
df_tweetscov19_unique_user['pol_num'] = df_tweetscov19_unique_user.apply(lambda row: (row['dom_hard_pol'] - row['dom_mod_pol']), axis=1)

In [31]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_mod_pol']<0].head()

                                  Urls_num  dom_mod_pol  dom_hard_pol  pol_num
Username
00008ca06f863b962f72cc9167d7978a         1           -1             0        1
00016e20a3865cb74581803c27d27b89         1           -1             0        1
000186b796b0eb667801aad27ca978eb         5           -2             0        2
000220d9d43b6b1ad7dbbdbfbcc53371         5           -3             2        5
000222229ae52915cddbcddaf8261891         1           -1             0        1

In [32]:
#Die Polarisierung der Domäne wird berechnet.
#Anzahl der Moderatne + der Hardliner durch die Anzahl der benutzten Domäne.
df_tweetscov19_unique_user['user_pol'] = df_tweetscov19_unique_user.apply(lambda row: (row['dom_mod_pol'] + row['dom_hard_pol']) / row['pol_num'] if row['pol_num'] != 0 else 0, axis=1)

In [33]:
df_tweetscov19_unique_user[df_tweetscov19_unique_user['dom_mod_pol']<-2].head()

,Urls_num,dom_mod_pol,dom_hard_pol,pol_num,user_pol
Username,,,,,
000220d9d43b6b1ad7dbbdbfbcc53371,5,-3,2,5,-0.200000
00053d9e1dc6f9efac2648ecd1d4ce03,9,-4,1,5,-0.600000
00065a00b971b5e1629d504e0ddf2da0,27,-7,4,11,-0.272727
0006a238065c3acb128041e666b58f07,13,-5,1,6,-0.666667
000aa7c6d8842347d36e2d756d57ca50,8,-3,2,5,-0.200000

In [34]:
#Die Benutzer, die eine Wertung von 0 bekommen haben, werden ausgenommen.
df_tweetscov19_unique_user_0 = df_tweetscov19_unique_user[df_tweetscov19_unique_user['user_pol'] != 0]

In [35]:
#Die Form der Dataframe
df_tweetscov19_unique_user_0.shape

(132402, 5)

In [36]:
#Die Form der Dataframe Hardliner.
df_tweetscov19_unique_user_0[df_tweetscov19_unique_user_0['user_pol'] > 0].shape

(14538, 5)

In [37]:
#Die Form der Dataframe Moderaten.
df_tweetscov19_unique_user_0[df_tweetscov19_unique_user_0['user_pol'] < 0].shape

(117864, 5)

In [97]:
#Die polarisieten Werte für Tweets werden gespeichert.
#pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetscov19_dom_moderacy.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

In [38]:
df_tweetscov19_unique_user_0 = df_tweetscov19_unique_user_0.reset_index()

In [39]:
#Die Benutzer mit bekannten polarisierten Ansichten speichern. 
pfad_tsv3 = '../../tweetsCov19_user_dom_moderacy.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_unique_user_0.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

## Polarisierungen berechnen
### TweetsKB

***

In [40]:
#Dataframe wird gelesen.
pfad_tsv3 = '../../tweetskb_sample_id_is_dom.tsv'

df_tweetskb = pd.read_csv(pfad_tsv3, sep='\t', error_bad_lines=False, names=['Tweet_Id', "Username", 'is_deleted', 'URLs_dom', 'URLs_num'])
pd.options.display.max_columns = None
print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 5)

,Tweet_Id,Username,is_deleted,URLs_dom,URLs_num
0,1178791636039589889,DCComics,False,dcuniverseinfinite.com,1
1,1178791641265639424,seanberdyz,True,carrd.co,1
2,1178791640573579264,AnArtistAtBirth,True,0,0
3,1178791644797255680,lagosboygang,True,0,0
4,1178791648056217600,Phenom_Hoops,False,phenomhoopreport.com,1

In [41]:
#Für alle Domäne in Tweets wird die Anzahl der moderaten Domäne berechnet.
df_tweetskb['URLs_dom'] = df_tweetskb['URLs_dom'].astype(str)
df_tweetskb['dom_mod_pol'] = df_tweetskb.apply(lambda row: get_mod_pol(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)

In [42]:
df_tweetskb[df_tweetskb['dom_mod_pol'] < 0].shape

(97737, 6)

In [43]:
#Für alle Domäne in Tweets wird die Anzahl der Hardliner-Domäne berechnet.
df_tweetskb['dom_hard_pol'] = df_tweetskb.apply(lambda row: get_hard_pol(row['URLs_dom']) if (row['URLs_dom'] != '0') else 0, axis=1)

In [44]:
df_tweetskb[df_tweetskb['dom_hard_pol'] > 0].shape

(33123, 7)

In [45]:
#Hier werden die Benutzer in Dataframe gruppiert, und die Features 'Anzahl der Domäne', 'Negative Wertungen' und 'Psoitive Wertungen' werden summiert. 
#dom_mod_pol = Moderaten
#dom_hard_pol = Hardliner
df_tweetskb_unique_user = df_tweetskb.groupby('Username')['URLs_num', 'dom_mod_pol', 'dom_hard_pol'].sum()

<ipython-input-45-15af3bd14a92>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_tweetskb_unique_user = df_tweetskb.groupby('Username')['URLs_num', 'dom_mod_pol', 'dom_hard_pol'].sum()

In [46]:
df_tweetskb_unique_user.shape

(5208425, 3)

In [47]:
df_tweetskb_unique_user.head()

                URLs_num  dom_mod_pol  dom_hard_pol
Username
00000000               0            0             0
000000000yt            0            0             0
00000000martin         0            0             0
000000911a             0            0             0
000000_127             0            0             0

In [48]:
#Die Anzahl der benutzten polarisierten Domäne werden berechnet.
df_tweetskb_unique_user['pol_num'] = df_tweetskb_unique_user.apply(lambda row:  (row['dom_hard_pol'] - row['dom_mod_pol']), axis=1)

In [49]:
df_tweetskb_unique_user[df_tweetskb_unique_user['dom_mod_pol']<-2].head()

             URLs_num  dom_mod_pol  dom_hard_pol  pol_num
Username
100FrogLegs         6           -3             1        4
1066Live           11           -7             0        7
10F01C0             7           -3             1        4
1120Eclipse        20          -14             2       16
123RHGreen         54           -3             7       10

In [50]:
#Die Polarisierungswerte für die Benutzer wird berechnet.
df_tweetskb_unique_user['user_pol'] = df_tweetskb_unique_user.apply(lambda row: (row['dom_mod_pol'] + row['dom_hard_pol']) / row['pol_num'] if row['pol_num'] != 0 else 0, axis=1)

In [51]:
#Die Benutzer, die eine Wertung von 0 bekommen haben, werden ausgenommen.
df_tweetskb_unique_user_0 = df_tweetskb_unique_user[df_tweetskb_unique_user['user_pol'] != 0]

In [52]:
#Die Form der Dataframe
df_tweetskb_unique_user_0.shape

(49995, 5)

In [53]:
#Die Hardliner 
df_tweetskb_unique_user_0[df_tweetskb_unique_user_0['user_pol'] > 0].shape

(6002, 5)

In [54]:
#Die Moderaten
df_tweetskb_unique_user_0[df_tweetskb_unique_user_0['user_pol'] < 0].shape

(43993, 5)

In [129]:
#Die polarisierten Werte für die Tweets werden gespeichert.
pfad_tsv3 = 'C:/Mo/tweetDB/tweetscov19/TweetsCov19_tsv/data_sample/dom_label/tweetskb_dom_moderacy.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

In [55]:
df_tweetskb_unique_user_0 = df_tweetskb_unique_user_0.reset_index()

In [56]:
#Die Benutzer mit polarisierten Werte werden gespeichert.
pfad_tsv3 = '../../tweetskb_user_dom_moderacy.tsv'

with open(pfad_tsv3, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_unique_user_0.iterrows():
        tsv_writer.writerow(row.values.tolist())