In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke f√ºr die Gr√∂√üe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

pd.options.display.float_format = '{:.2f}'.format

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

import scipy.stats as ss

***

# TweetsCov19

***

- Tweetspolarisiation

In [5]:
path = '../../data/tweetscov19_tweets_political_polarized.tsv'

df_politic = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_liberals','Number_of_conservatives'])

print('Shape :', df_politic.shape)
df_politic.head()

Shape : (9409841, 3)

              Tweet_Id  Number_of_liberals  Number_of_conservatives
0  1178791637348212736                   0                        0
1  1178791641601232896                   0                        0
2  1178791643509612547                   0                        0
3  1178791644214235137                   0                        0
4  1178791645371875329                   0                        0

In [6]:
df_politic['tweet_political_polarisation'] = df_politic.apply(lambda row: ( ((row['Number_of_liberals'] + row['Number_of_conservatives'])) / ((row['Number_of_conservatives'] - row['Number_of_liberals'])) if (row['Number_of_conservatives'] - row['Number_of_liberals']) != 0 else 0), axis=1)

In [7]:
path = '../../data/tweetscov19_tweets_science_polarized.tsv'

df_science = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'number_of_antisciens_domains','number_of_prosciens_domains'])

print('Shape :', df_science.shape)
df_science.head()

Shape : (9409841, 3)

,Tweet_Id,number_of_antisciens_domains,number_of_prosciens_domains
0,1178791637348212736,0,0
1,1178791641601232896,0,0
2,1178791643509612547,0,0
3,1178791644214235137,0,0
4,1178791645371875329,0,0

In [8]:
df_science['tweet_science_polarisation'] = df_science.apply(lambda row: ((row['number_of_antisciens_domains'] + row['number_of_prosciens_domains']) / (row['number_of_prosciens_domains'] - row['number_of_antisciens_domains']) if (row['number_of_prosciens_domains'] - row['number_of_antisciens_domains']) != 0 else 0 ) , axis=1)

In [9]:
path = '../../data/tweetscov19_tweets_moderacy_polarized.tsv'

df_moderacy = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains'])

print('Shape :', df_moderacy.shape)
df_moderacy.head()

Shape : (9409841, 3)

              Tweet_Id  Number_of_moderate_domains  Number_of_hardline_domains
0  1178791637348212736                           0                           0
1  1178791641601232896                           0                           0
2  1178791643509612547                           0                           0
3  1178791644214235137                           0                           0
4  1178791645371875329                           0                           0

In [10]:
df_moderacy['tweet_moderacy_polarisation'] = df_moderacy.apply(lambda row: ( (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) if ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) != 0 else 0 ), axis=1)

In [11]:
df_politic = df_politic[['Tweet_Id','tweet_political_polarisation']]
df_tweetscov19 = df_politic

df_science = df_science[['Tweet_Id', 'tweet_science_polarisation']]
df_tweetscov19 = pd.merge(df_tweetscov19, df_science, on='Tweet_Id', how='left')

df_moderacy = df_moderacy[['Tweet_Id', 'tweet_moderacy_polarisation']]
df_tweetscov19 = pd.merge(df_tweetscov19, df_moderacy, on='Tweet_Id', how='left')

In [12]:
print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 4)

,Tweet_Id,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1178791637348212736,0.00,0.00,0.00
1,1178791641601232896,0.00,0.00,0.00
2,1178791643509612547,0.00,0.00,0.00
3,1178791644214235137,0.00,0.00,0.00
4,1178791645371875329,0.00,0.00,0.00

***

***

In [14]:
path = '../../data/TweetsCov19_stichprobe_final.tsv'

df_tweetscov19_sample = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags', 'URLs', 'text', 'is_deleted', 'Mentions_num', 'Hashtags_num', 'Urls_num', 'Domains', 'Text_len', 'readability', 'Vader_neg', 'Vader_neu', 'Vader_pos', 'Vader_compound', 'Emojies', 'Emoji_num', 'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_sentiment', 'Emoji_bearbeiteten'])

print('Shape :', df_tweetscov19_sample.shape)
df_tweetscov19_sample.head()

Shape : (9409841, 31)

,Tweet_Id,Username,Timestamp,Followers,Friends,Retweets,Favorites,Entities,Sentiment,Mentions,Hashtags,URLs,text,is_deleted,Mentions_num,Hashtags_num,Urls_num,Domains,Text_len,readability,Vader_neg,Vader_neu,Vader_pos,Vader_compound,Emojies,Emoji_num,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_sentiment,Emoji_bearbeiteten
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00,764191,132,19,180,foodie:Foodie:-2.096663959988218;,1 -1,null;,HalloweenTime?,null;,Has your appetite materialized just as fast as...,True,0,1,0,0,155,76.55,-0.00,1.00,0.00,0.00,[],0,-0.00,0.00,0.00,0.00,0.00
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00,321189,26833,32,43,mainland china:Mainland_China:-1.6252666161640...,1 -1,null;,HongKong,https://www.catholicnewsagency.com/news/amid-h...,The persecution of Catholics in mainland China...,False,0,1,1,catholicnewsagency.com,204,29.47,-0.00,0.92,0.08,0.32,[],0,-0.00,0.00,0.00,0.00,0.00
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00,14209,10623,90,182,brexit:Brexit:-1.582809637810362;hear hear:Hea...,1 -2,null;,Brexit,null;,"Hear, hear..\nEmily: You were an outspoken cri...",False,0,1,0,0,163,79.53,-0.20,0.80,0.00,-0.65,[],0,-0.00,0.00,0.00,0.00,0.00
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00,2264986,655,60,528,null;,3 -1,amstandardca.,BlueJays,null;,We wrapped up the season with a WINNING week! ...,False,1,1,0,0,132,85.89,-0.00,0.62,0.38,0.86,[],0,-0.00,0.00,0.00,0.00,0.00
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00,171,138,33,117,my family:My_Family:-2.6353832182503094;roll t...,4 -1,null;,null;,null;,Super excited to announce that I will be spend...,False,0,0,0,0,257,61.20,-0.00,0.77,0.23,0.91,"['üêò', 'üî¥']",2,-0.01,0.27,0.22,0.22,2.00

In [15]:
df_tweetscov19_sample = df_tweetscov19_sample[['Tweet_Id', 'Username', 'Retweets', 'Favorites', 'Hashtags_num', 'Mentions_num', 'Urls_num']]
df_tweetscov19_sample.head()

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,Urls_num
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,19,180,1,0,0
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,32,43,1,0,1
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,90,182,1,0,0
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,60,528,1,1,0
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,33,117,0,0,0

In [16]:
df_tweetscov19 = pd.merge(df_tweetscov19_sample, df_tweetscov19, on='Tweet_Id', how='inner')

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 10)

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,Urls_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,19,180,1,0,0,0.00,0.00,0.00
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,32,43,1,0,1,0.00,0.00,0.00
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,90,182,1,0,0,0.00,0.00,0.00
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,60,528,1,1,0,0.00,0.00,0.00
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,33,117,0,0,0,0.00,0.00,0.00

***

***

***

***

In [18]:
path = '../../data/tweetscov19_political_polarized_users_with_atleast_one_polarized_domain.tsv'

df_tweetscov19_political_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarised_domains', 'political_polarisation'])

print('Shape :', df_tweetscov19_political_polarized.shape)
df_tweetscov19_political_polarized.head()

Shape : (176301, 5)

,Username,Number_of_liberals,Number_of_conservatives,Sum_polarised_domains,political_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.00
1,00008de3f61d5f04329ee6867d5475b9,-1,0,1,-1.00
2,00012a177385cd6e7590e2acb3f206e3,-1,0,1,-1.00
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.00
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.00

In [19]:
path = '../../data/tweetscov19_science_polarized_users_with_atleast_one_polarized_domain.tsv'

df_tweetscov19_science_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_antiscience_domains', 'Number_of_proscience_domains', 'Sum_polarised_domains', 'science_polarisation'])

print('Shape :', df_tweetscov19_science_polarized.shape)
df_tweetscov19_science_polarized.head()

Shape : (44493, 5)

,Username,Number_of_antiscience_domains,Number_of_proscience_domains,Sum_polarised_domains,science_polarisation
0,000238f324f5063164908c27a7f310cd,-1,0,1,-1.00
1,0002eb2aff20e181397afe8cdebdd395,0,1,1,1.00
2,00065a00b971b5e1629d504e0ddf2da0,-3,0,3,-1.00
3,0006a238065c3acb128041e666b58f07,0,2,2,1.00
4,000795932bf3bc3ab05b5efc1b07104b,-1,0,1,-1.00

In [20]:
path = '../../data/tweetscov19_moderacy_polarized_users_with_atleast_one_polarized_domain.tsv'

df_tweetscov19_moderacy_polarized = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_moderates', 'Number_of_hardlines', 'Sum_polarised_domains', 'moderacy_polarisation'])

print('Shape :', df_tweetscov19_moderacy_polarized.shape)
df_tweetscov19_moderacy_polarized.head()

Shape : (176301, 5)

,Username,Number_of_moderates,Number_of_hardlines,Sum_polarised_domains,moderacy_polarisation
0,00008ca06f863b962f72cc9167d7978a,-1,0,1,-1.00
1,00008de3f61d5f04329ee6867d5475b9,0,1,1,1.00
2,00012a177385cd6e7590e2acb3f206e3,0,1,1,1.00
3,00016e20a3865cb74581803c27d27b89,-1,0,1,-1.00
4,000186b796b0eb667801aad27ca978eb,-2,0,2,-1.00

In [21]:
pfad_tsv = '../../data/TweetsCov19_alltweets_reputation_deletionratio.tsv'

df_tweetscov19_alltweets_reputation_deletionratio = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'Reputation', 'num_posted', 'num_deleted', 'Deletionratio'])

print('Form :', df_tweetscov19_alltweets_reputation_deletionratio.shape)
df_tweetscov19_alltweets_reputation_deletionratio.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,Reputation,num_posted,num_deleted,Deletionratio
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,764191,132,True,1.00,21,21,1.00
1,1181705842275573766,c57d4fb895c5f4a33d2a2b24709f93b5,765034,132,True,1.00,21,21,1.00
2,1187828746503540738,c57d4fb895c5f4a33d2a2b24709f93b5,766578,132,True,1.00,21,21,1.00
3,1192622772658290688,c57d4fb895c5f4a33d2a2b24709f93b5,767939,133,True,1.00,21,21,1.00
4,1193272068621717504,c57d4fb895c5f4a33d2a2b24709f93b5,768180,133,True,1.00,21,21,1.00

In [22]:
df_tweetscov19_alltweets_reputation_deletionratio = df_tweetscov19_alltweets_reputation_deletionratio[['Tweet_Id', 'num_posted', 'num_deleted', 'Deletionratio', 'Reputation', 'is_deleted']]
df_tweetscov19_political_polarized = df_tweetscov19_political_polarized[['Username', 'political_polarisation']]
df_tweetscov19_science_polarized = df_tweetscov19_science_polarized[['Username', 'science_polarisation']]
df_tweetscov19_moderacy_polarized = df_tweetscov19_moderacy_polarized[['Username', 'moderacy_polarisation']]

df_tweetscov19 = pd.merge(df_tweetscov19, df_tweetscov19_political_polarized, on='Username', how='left')
df_tweetscov19 = pd.merge(df_tweetscov19, df_tweetscov19_science_polarized, on='Username', how='left')
df_tweetscov19 = pd.merge(df_tweetscov19, df_tweetscov19_moderacy_polarized, on='Username', how='left')

df_tweetscov19 = pd.merge(df_tweetscov19, df_tweetscov19_alltweets_reputation_deletionratio, on='Tweet_Id', how='inner')

print('Form :', df_tweetscov19.shape)
df_tweetscov19.head()

Form : (9409841, 18)

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,Urls_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,political_polarisation,science_polarisation,moderacy_polarisation,num_posted,num_deleted,Deletionratio,Reputation,is_deleted
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,19,180,1,0,0,0.00,0.00,0.00,NaN,NaN,NaN,21,21,1.00,1.00,True
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,32,43,1,0,1,0.00,0.00,0.00,NaN,NaN,NaN,128,2,0.02,0.92,False
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,90,182,1,0,0,0.00,0.00,0.00,-0.50,NaN,-1.00,24,5,0.21,0.57,False
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,60,528,1,1,0,0.00,0.00,0.00,NaN,NaN,NaN,5,0,0.00,1.00,False
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,33,117,0,0,0,0.00,0.00,0.00,NaN,NaN,NaN,1,0,0.00,0.55,False

In [23]:
df_tweetscov19 = df_tweetscov19.replace(np.nan, 0)

In [24]:
df_tweetscov19.head()

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,Urls_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,political_polarisation,science_polarisation,moderacy_polarisation,num_posted,num_deleted,Deletionratio,Reputation,is_deleted
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,19,180,1,0,0,0.00,0.00,0.00,0.00,0.00,0.00,21,21,1.00,1.00,True
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,32,43,1,0,1,0.00,0.00,0.00,0.00,0.00,0.00,128,2,0.02,0.92,False
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,90,182,1,0,0,0.00,0.00,0.00,-0.50,0.00,-1.00,24,5,0.21,0.57,False
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,60,528,1,1,0,0.00,0.00,0.00,0.00,0.00,0.00,5,0,0.00,1.00,False
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,33,117,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0.00,0.55,False

In [26]:
#Die Tweets werden gespeichert. 
pfad_tsv = '../../data/tweetscov19_tweet_features_for_model.tsv'

with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

- 0.75 Quantile wird f√ºr die Anzahl der gel√∂schten Tweets eingesetzt
- Jewels 10K Tweets von den gel√∂schten und nicht gel√∂schten Tweets werden ausgew√§hlt und gespeichert.

***

In [2]:
#Die ausgew√§hlten Tweets werden gelesen. 
pfad_tsv = '../../data/tweetscov19_tweet_features_for_model.tsv'

df_tweetscov19 = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Retweets', 'Favorites', 'Hashtags_num', 'Mentions_num', 'URLs_num', 'tweet_political_polarisation', 'tweet_science_polarisation', 'tweet_moderacy_polarisation', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'user_posted_tweets', 'user_deleted_tweets', 'user_Deletion_ratio', 'user_Reputation', 'is_deleted' ])

print('Shape :', df_tweetscov19.shape)
df_tweetscov19.head()

Shape : (9409841, 18)

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,URLs_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,user_posted_tweets,user_deleted_tweets,user_Deletion_ratio,user_Reputation,is_deleted
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,19,180,1,0,0,0.00,0.00,0.00,0.00,0.00,0.00,21,21,1.00,1.00,True
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,32,43,1,0,1,0.00,0.00,0.00,0.00,0.00,0.00,128,2,0.02,0.92,False
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,90,182,1,0,0,0.00,0.00,0.00,-0.50,0.00,-1.00,24,5,0.21,0.57,False
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,60,528,1,1,0,0.00,0.00,0.00,0.00,0.00,0.00,5,0,0.00,1.00,False
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,33,117,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0.00,0.55,False

In [3]:
df_tweetscov19_del = df_tweetscov19[df_tweetscov19['is_deleted']==True]
df_tweetscov19_undel = df_tweetscov19[df_tweetscov19['is_deleted']==False]

In [4]:
print('nuber of unique users', len(df_tweetscov19.Username.unique()))
df_tweetscov19_Username_unique =  df_tweetscov19.drop_duplicates(subset = "Username")

nuber of unique users 4095876

In [5]:
df_tweetscov19_Username_unique.head()

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,URLs_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,user_posted_tweets,user_deleted_tweets,user_Deletion_ratio,user_Reputation,is_deleted
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,19,180,1,0,0,0.00,0.00,0.00,0.00,0.00,0.00,21,21,1.00,1.00,True
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,32,43,1,0,1,0.00,0.00,0.00,0.00,0.00,0.00,128,2,0.02,0.92,False
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,90,182,1,0,0,0.00,0.00,0.00,-0.50,0.00,-1.00,24,5,0.21,0.57,False
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,60,528,1,1,0,0.00,0.00,0.00,0.00,0.00,0.00,5,0,0.00,1.00,False
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,33,117,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,1,0,0.00,0.55,False

In [6]:
df_tweetscov19_del.shape

(2137501, 18)

In [7]:
df_tweetscov19.user_deleted_tweets.describe()

count   9409841.00
mean         10.92
std         104.51
min           0.00
25%           0.00
50%           0.00
75%           1.00
max        3462.00
Name: user_deleted_tweets, dtype: float64

In [8]:
#Quantile
q = [0.1, 0.5, 0.75, 0.9, 0.95, 0.98, 0.99]
print(len(q))
for i in range(0,len(q)):
    print("{:.2f}".format(q[i]), '=> ',df_tweetscov19['user_deleted_tweets'].quantile(q[i]))

7
0.10 =>  0.0
0.50 =>  0.0
0.75 =>  1.0
0.90 =>  7.0
0.95 =>  23.0
0.98 =>  96.0
0.99 =>  224.0

In [9]:
#excluded tweets
df_tweetscov19_excluded = df_tweetscov19[df_tweetscov19['user_deleted_tweets'] > 23]

df_tweetscov19_excluded_del = df_tweetscov19_excluded[df_tweetscov19_excluded['is_deleted']==True]
df_tweetscov19_excluded_undel = df_tweetscov19_excluded[df_tweetscov19_excluded['is_deleted']==False]

print('Number of deleted tweets in Dataset:', df_tweetscov19_excluded_del.shape[0])
print('Number of non-deleted tweets in Dataset:', df_tweetscov19_excluded_undel.shape[0])

Number of deleted tweets in Dataset: 372830
Number of non-deleted tweets in Dataset: 93256

In [10]:
#0.95 Quantile == 23
df_tweetscov19 = df_tweetscov19[df_tweetscov19['user_deleted_tweets'] <= 23]

In [21]:
df_tweetscov19_del = df_tweetscov19[df_tweetscov19['is_deleted']==True]
df_tweetscov19_undel = df_tweetscov19[df_tweetscov19['is_deleted']==False]

In [22]:
users_after_quantile = df_tweetscov19.Username.nunique()
print('Number of users in Dataset:', users_after_quantile)
print('Number of excluded users:', 4095876 - users_after_quantile)

tweets_after_quantile = df_tweetscov19.shape[0]
print('Number of tweets in Dataset:', tweets_after_quantile)
print('Number of excluded tweets:', 9409841 - tweets_after_quantile)

Number of users in Dataset: 4090290
Number of excluded users: 5586
Number of tweets in Dataset: 8943755
Number of excluded tweets: 466086

In [23]:
df_tweetscov19.shape

(8943755, 18)

In [24]:
df_tweetscov19_del.shape

(1764671, 18)

In [25]:
df_tweetscov19_undel.shape

(7179084, 18)

In [26]:
df_tweetscov19.Username.nunique()

4090290

In [31]:
df_tweetscov19_sample_del = df_tweetscov19_del.sample(n = 100000)

In [32]:
df_tweetscov19_sample_undel = df_tweetscov19_undel.sample(n = 100000)

In [33]:
df_tweetscov19_sample = df_tweetscov19_sample_del.append(df_tweetscov19_sample_undel, ignore_index=True)

In [34]:
path = '../../data/df_tweetscov19_sample_200000_23_v2.tsv'

with open(path, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetscov19_sample.iterrows():
        tsv_writer.writerow(row.values.tolist())