In [1]:
#CSV Bibliothek importieren 
import csv
#Pandas importieren und als pd bezeichnen
import pandas as pd
#Numpy importieren und als np bezeichnen 
import numpy as np
#Json Biliothek importieren
import json
#Obere Schranke für die Größe der Daten auf 100,000,000 setzen  
csv.field_size_limit(100000000)
#Maximale Anzahl von Zeilen und Spalten Zeigen 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

pd.options.display.float_format = '{:.2f}'.format

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

import scipy.stats as ss

***

# TweetsKB

***

- Tweetspolarisierungungen bestimmen

In [2]:
path = '../../data/tweetskb_tweets_political_polarized.tsv'

df_politic = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_liberals','Number_of_conservatives'])

print('Shape :', df_politic.shape)
df_politic.head()

Shape : (9409841, 3)

              Tweet_Id  Number_of_liberals  Number_of_conservatives
0  1178791636039589889                   0                        0
1  1178791641265639424                   0                        0
2  1178791640573579264                   0                        0
3  1178791644797255680                   0                        0
4  1178791648056217600                   0                        0

In [3]:
df_politic['tweet_political_polarisation'] = df_politic.apply(lambda row: ( ((row['Number_of_liberals'] + row['Number_of_conservatives'])) / ((row['Number_of_conservatives'] - row['Number_of_liberals'])) if (row['Number_of_conservatives'] - row['Number_of_liberals']) != 0 else 0), axis=1)

In [4]:
path = '../../data/tweetskb_tweets_science_polarized.tsv'

df_science = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'number_of_antisciens_domains','number_of_prosciens_domains'])

print('Shape :', df_science.shape)
df_science.head()

Shape : (9409841, 3)

,Tweet_Id,number_of_antisciens_domains,number_of_prosciens_domains
0,1178791636039589889,0,0
1,1178791641265639424,0,0
2,1178791640573579264,0,0
3,1178791644797255680,0,0
4,1178791648056217600,0,0

In [5]:
df_science['tweet_science_polarisation'] = df_science.apply(lambda row: ((row['number_of_antisciens_domains'] + row['number_of_prosciens_domains']) / (row['number_of_prosciens_domains'] - row['number_of_antisciens_domains']) if (row['number_of_prosciens_domains'] - row['number_of_antisciens_domains']) != 0 else 0 ) , axis=1)

In [6]:
path = '../../data/tweetskb_tweets_moderacy_polarized.tsv'

df_moderacy = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Number_of_moderate_domains', 'Number_of_hardline_domains'])

print('Shape :', df_moderacy.shape)
df_moderacy.head()

Shape : (9409841, 3)

              Tweet_Id  Number_of_moderate_domains  Number_of_hardline_domains
0  1178791636039589889                           0                           0
1  1178791641265639424                           0                           0
2  1178791640573579264                           0                           0
3  1178791644797255680                           0                           0
4  1178791648056217600                           0                           0

In [7]:
df_moderacy['tweet_moderacy_polarisation'] = df_moderacy.apply(lambda row: ( (row['Number_of_moderate_domains'] + row['Number_of_hardline_domains']) / ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) if ( row['Number_of_hardline_domains'] - row['Number_of_moderate_domains']) != 0 else 0 ), axis=1)

In [8]:
df_politic = df_politic[['Tweet_Id','tweet_political_polarisation']]
df_tweetskb = df_politic

df_science = df_science[['Tweet_Id', 'tweet_science_polarisation']]
df_tweetskb = pd.merge(df_tweetskb, df_science, on='Tweet_Id', how='left')

df_moderacy = df_moderacy[['Tweet_Id', 'tweet_moderacy_polarisation']]
df_tweetskb = pd.merge(df_tweetskb, df_moderacy, on='Tweet_Id', how='left')

***

***

In [9]:
pfad_tsv = '../../data/tweetskb_stichprobe_final.tsv'

df_tweetskb_sample = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Friends', 'Retweets', 'Likes', 'Text', 'URLs', 'Ist_gelöscht', 'Hashtags', 'Mentions', 'Hashtags_num', 'Mentions_num', 'Text_len', 'readability', 'Domains', 'Urls_num', 'Vader_pos', 'Vader_neu', 'Vader_neg', 'Vader_compound', 'Emojis', 'Emoji_num', 'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_sentiment', 'Emoji_bearbeiteten'])

print('Shape :', df_tweetskb_sample.shape)
df_tweetskb_sample.head()

Shape : (9409841, 29)

,Tweet_Id,Username,Timestamp,Followers,Friends,Retweets,Likes,Text,URLs,Ist_gelöscht,Hashtags,Mentions,Hashtags_num,Mentions_num,Text_len,readability,Domains,Urls_num,Vader_pos,Vader_neu,Vader_neg,Vader_compound,Emojis,Emoji_num,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_sentiment,Emoji_bearbeiteten
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,192,70.35,dcuniverseinfinite.com,1,0.00,1.00,-0.00,0.00,[],0,-0.00,0.00,0.00,0.00,0.00
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,73,82.39,carrd.co,1,0.00,1.00,-0.00,0.00,[],0,-0.00,0.00,0.00,0.00,0.00
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],1,0,128,123.75,0,0,0.00,1.00,-0.00,0.00,[],0,-0.00,0.00,0.00,0.00,0.00
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,77,105.92,0,0,0.00,1.00,-0.00,0.00,[],0,-0.00,0.00,0.00,0.00,0.00
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,227,65.94,phenomhoopreport.com,1,0.06,0.94,-0.00,0.23,[],0,-0.00,0.00,0.00,0.00,0.00

In [10]:
df_tweetskb_sample = df_tweetskb_sample[['Tweet_Id', 'Username', 'Retweets', 'Likes', 'Hashtags_num', 'Mentions_num', 'Text_len', 'Urls_num']]
df_tweetskb_sample.head()

,Tweet_Id,Username,Retweets,Likes,Hashtags_num,Mentions_num,Text_len,Urls_num
0,1178791636039589889,DCComics,2,13,1,1,192,1
1,1178791641265639424,seanberdyz,4,20,0,0,73,1
2,1178791640573579264,AnArtistAtBirth,0,0,1,0,128,0
3,1178791644797255680,lagosboygang,0,0,0,2,77,0
4,1178791648056217600,Phenom_Hoops,1,1,1,0,227,1

In [11]:
df_tweetskb = pd.merge(df_tweetskb_sample, df_tweetskb, on='Tweet_Id', how='inner')

print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 11)

,Tweet_Id,Username,Retweets,Likes,Hashtags_num,Mentions_num,Text_len,Urls_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation
0,1178791636039589889,DCComics,2,13,1,1,192,1,0.00,0.00,0.00
1,1178791641265639424,seanberdyz,4,20,0,0,73,1,0.00,0.00,0.00
2,1178791640573579264,AnArtistAtBirth,0,0,1,0,128,0,0.00,0.00,0.00
3,1178791644797255680,lagosboygang,0,0,0,2,77,0,0.00,0.00,0.00
4,1178791648056217600,Phenom_Hoops,1,1,1,0,227,1,0.00,0.00,0.00

***

***

In [13]:
path = '../../data/tweetskb_political_polarized_users_with_atleast_one_polarized_domain.tsv'

df_tweetskb_political_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_liberals', 'Number_of_conservatives', 'Sum_polarised_domains', 'political_polarisation'])

print('Shape :', df_tweetskb_political_polarized_users.shape)
df_tweetskb_political_polarized_users.head()

Shape : (67511, 5)

,Username,Number_of_liberals,Number_of_conservatives,Sum_polarised_domains,political_polarisation
0,0000Condor,-1,0,1,-1.00
1,007AliSohrab,-1,1,2,0.00
2,007newsandviews,-1,0,1,-1.00
3,007plus100,-1,0,1,-1.00
4,00CelebNewz00,-1,0,1,-1.00

In [14]:
path = '../../data/tweetskb_science_polarized_users_with_atleast_one_polarized_domain.tsv'

df_tweetskb_science_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_antiscience_domains', 'Number_of_proscience_domains', 'Sum_polarised_domains', 'science_polarisation'])

print('Shape :', df_tweetskb_science_polarized_users.shape)
df_tweetskb_science_polarized_users.head()

Shape : (15325, 5)

,Username,Number_of_antiscience_domains,Number_of_proscience_domains,Sum_polarised_domains,science_polarisation
0,000000hSure,-1,0,1,-1.00
1,01splcheck,-1,0,1,-1.00
2,01sth02,0,1,1,1.00
3,0Bettymowery2,-1,0,1,-1.00
4,0Ludicris5,-2,0,2,-1.00

In [15]:
path = '../../data/tweetskb_moderacy_polarized_users_with_atleast_one_polarized_domain.tsv'

df_tweetskb_moderacy_polarized_users = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Username', 'Number_of_moderates', 'Number_of_hardlines', 'Sum_polarised_domains', 'moderacy_polarisation'])

print('Shape :', df_tweetskb_moderacy_polarized_users.shape)
df_tweetskb_moderacy_polarized_users.head()

Shape : (67511, 5)

,Username,Number_of_moderates,Number_of_hardlines,Sum_polarised_domains,moderacy_polarisation
0,0000Condor,0,1,1,1.00
1,007AliSohrab,-2,0,2,-1.00
2,007newsandviews,-1,0,1,-1.00
3,007plus100,-1,0,1,-1.00
4,00CelebNewz00,-1,0,1,-1.00

In [16]:
path = '../../data/TweetsKB_alltweets_reputation_deletionratio.tsv'

df_tweetskb_alltweets_reputation_deletionratio = pd.read_csv(path, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Followers', 'Friends', 'is_deleted', 'num_posted_tweets', 'num_deleted_tweets', 'Deletionratio',  'Reputation'])

print('Form :', df_tweetskb_alltweets_reputation_deletionratio.shape)
df_tweetskb_alltweets_reputation_deletionratio.head()

Form : (9409841, 9)

,Tweet_Id,Username,Followers,Friends,is_deleted,num_posted_tweets,num_deleted_tweets,Deletionratio,Reputation
0,1178791636039589889,DCComics,3349606,563,False,42,0,0.00,1.00
1,1179833467644850176,DCComics,3351904,563,False,42,0,0.00,1.00
2,1180490470125965313,DCComics,3354879,563,False,42,0,0.00,1.00
3,1187059882534400000,DCComics,3369484,562,False,42,0,0.00,1.00
4,1190311668141580288,DCComics,3376154,564,False,42,0,0.00,1.00

In [17]:
df_tweetskb_alltweets_reputation_deletionratio = df_tweetskb_alltweets_reputation_deletionratio[['Tweet_Id', 'num_posted_tweets', 'num_deleted_tweets', 'Deletionratio', 'Reputation', 'is_deleted']]
df_tweetskb_political_polarized_users = df_tweetskb_political_polarized_users[['Username', 'political_polarisation']]
df_tweetskb_science_polarized_users = df_tweetskb_science_polarized_users[['Username', 'science_polarisation']]
df_tweetskb_moderacy_polarized_users = df_tweetskb_moderacy_polarized_users[['Username', 'moderacy_polarisation']]

df_tweetskb = pd.merge(df_tweetskb, df_tweetskb_political_polarized_users, on='Username', how='left')
df_tweetskb = pd.merge(df_tweetskb, df_tweetskb_science_polarized_users, on='Username', how='left')
df_tweetskb = pd.merge(df_tweetskb, df_tweetskb_moderacy_polarized_users, on='Username', how='left')

df_tweetskb = pd.merge(df_tweetskb, df_tweetskb_alltweets_reputation_deletionratio, on='Tweet_Id', how='inner')

print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 19)

,Tweet_Id,Username,Retweets,Likes,Hashtags_num,Mentions_num,Text_len,Urls_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,political_polarisation,science_polarisation,moderacy_polarisation,num_posted_tweets,num_deleted_tweets,Deletionratio,Reputation,is_deleted
0,1178791636039589889,DCComics,2,13,1,1,192,1,0.00,0.00,0.00,-1.00,NaN,-1.00,42,0,0.00,1.00,False
1,1178791641265639424,seanberdyz,4,20,0,0,73,1,0.00,0.00,0.00,NaN,NaN,NaN,3,1,0.33,0.71,True
2,1178791640573579264,AnArtistAtBirth,0,0,1,0,128,0,0.00,0.00,0.00,NaN,NaN,NaN,1,1,1.00,0.34,True
3,1178791644797255680,lagosboygang,0,0,0,2,77,0,0.00,0.00,0.00,NaN,NaN,NaN,5,5,1.00,0.29,True
4,1178791648056217600,Phenom_Hoops,1,1,1,0,227,1,0.00,0.00,0.00,NaN,NaN,NaN,7,0,0.00,0.94,False

In [18]:
df_tweetskb = df_tweetskb.replace(np.nan, 0)

In [19]:
df_tweetskb.head()

,Tweet_Id,Username,Retweets,Likes,Hashtags_num,Mentions_num,Text_len,Urls_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,political_polarisation,science_polarisation,moderacy_polarisation,num_posted_tweets,num_deleted_tweets,Deletionratio,Reputation,is_deleted
0,1178791636039589889,DCComics,2,13,1,1,192,1,0.00,0.00,0.00,-1.00,0.00,-1.00,42,0,0.00,1.00,False
1,1178791641265639424,seanberdyz,4,20,0,0,73,1,0.00,0.00,0.00,0.00,0.00,0.00,3,1,0.33,0.71,True
2,1178791640573579264,AnArtistAtBirth,0,0,1,0,128,0,0.00,0.00,0.00,0.00,0.00,0.00,1,1,1.00,0.34,True
3,1178791644797255680,lagosboygang,0,0,0,2,77,0,0.00,0.00,0.00,0.00,0.00,0.00,5,5,1.00,0.29,True
4,1178791648056217600,Phenom_Hoops,1,1,1,0,227,1,0.00,0.00,0.00,0.00,0.00,0.00,7,0,0.00,0.94,False

In [20]:
#Die Tweets werden gespeichert. 
pfad_tsv = '../../data/tweetskb_tweet_features_for_model.tsv'
with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb.iterrows():
        tsv_writer.writerow(row.values.tolist())

***

- 0.75 Quantile wird für die Anzahl der gelöschten Tweets eingesetzt
- Jewels 10K Tweets von den gelöschten und nicht gelöschten Tweets werden ausgewählt und gespeichert.

***

In [23]:
pfad_tsv = '../../data/tweetskb_tweet_features_for_model.tsv'

df_tweetskb = pd.read_csv(pfad_tsv, sep='\t', error_bad_lines=False, names=['Tweet_Id', 'Username', 'Retweets', 'Favorites', 'Hashtags_num', 'Mentions_num', 'Text_len', 'URLs_num', 'tweet_political_polarisation', 'tweet_science_polarisation', 'tweet_moderacy_polarisation', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'user_posted_tweets', 'user_deleted_tweets', 'user_Deletion_ratio', 'user_Reputation', 'is_deleted'])

print('Shape :', df_tweetskb.shape)
df_tweetskb.head()

Shape : (9409841, 19)

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,Text_len,URLs_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,user_posted_tweets,user_deleted_tweets,user_Deletion_ratio,user_Reputation,is_deleted
0,1178791636039589889,DCComics,2,13,1,1,192,1,0.00,0.00,0.00,-1.00,0.00,-1.00,42,0,0.00,1.00,False
1,1178791641265639424,seanberdyz,4,20,0,0,73,1,0.00,0.00,0.00,0.00,0.00,0.00,3,1,0.33,0.71,True
2,1178791640573579264,AnArtistAtBirth,0,0,1,0,128,0,0.00,0.00,0.00,0.00,0.00,0.00,1,1,1.00,0.34,True
3,1178791644797255680,lagosboygang,0,0,0,2,77,0,0.00,0.00,0.00,0.00,0.00,0.00,5,5,1.00,0.29,True
4,1178791648056217600,Phenom_Hoops,1,1,1,0,227,1,0.00,0.00,0.00,0.00,0.00,0.00,7,0,0.00,0.94,False

In [24]:
df_tweetskb = df_tweetskb[['Tweet_Id', 'Username', 'Retweets', 'Favorites', 'Hashtags_num', 'Mentions_num', 'URLs_num', 'tweet_political_polarisation', 'tweet_science_polarisation', 'tweet_moderacy_polarisation', 'user_political_polarisation', 'user_science_polarisation', 'user_moderacy_polarisation', 'user_posted_tweets', 'user_deleted_tweets', 'user_Deletion_ratio', 'user_Reputation', 'is_deleted']]

In [25]:
df_tweetskb.head(1)

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,URLs_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,user_posted_tweets,user_deleted_tweets,user_Deletion_ratio,user_Reputation,is_deleted
0,1178791636039589889,DCComics,2,13,1,1,1,0.00,0.00,0.00,-1.00,0.00,-1.00,42,0,0.00,1.00,False

In [26]:
print('nuber of unique users', len(df_tweetskb.Username.unique()))
df_tweetskb_Username_unique =  df_tweetskb.drop_duplicates(subset = "Username")

nuber of unique users 5208425

In [27]:
df_tweetskb_Username_unique.head()

,Tweet_Id,Username,Retweets,Favorites,Hashtags_num,Mentions_num,URLs_num,tweet_political_polarisation,tweet_science_polarisation,tweet_moderacy_polarisation,user_political_polarisation,user_science_polarisation,user_moderacy_polarisation,user_posted_tweets,user_deleted_tweets,user_Deletion_ratio,user_Reputation,is_deleted
0,1178791636039589889,DCComics,2,13,1,1,1,0.00,0.00,0.00,-1.00,0.00,-1.00,42,0,0.00,1.00,False
1,1178791641265639424,seanberdyz,4,20,0,0,1,0.00,0.00,0.00,0.00,0.00,0.00,3,1,0.33,0.71,True
2,1178791640573579264,AnArtistAtBirth,0,0,1,0,0,0.00,0.00,0.00,0.00,0.00,0.00,1,1,1.00,0.34,True
3,1178791644797255680,lagosboygang,0,0,0,2,0,0.00,0.00,0.00,0.00,0.00,0.00,5,5,1.00,0.29,True
4,1178791648056217600,Phenom_Hoops,1,1,1,0,1,0.00,0.00,0.00,0.00,0.00,0.00,7,0,0.00,0.94,False

In [28]:
df_tweetskb.user_deleted_tweets.describe()

count   9409841.00
mean          3.03
std          20.59
min           0.00
25%           0.00
50%           0.00
75%           1.00
max         871.00
Name: user_deleted_tweets, dtype: float64

In [29]:
#Quantile
q = [0.1, 0.5, 0.75, 0.9, 0.95, 0.98, 0.99, 0.995]
print(len(q))
for i in range(0,len(q)):
    print("{:.3f}".format(q[i]), '=> ',df_tweetskb['user_deleted_tweets'].quantile(q[i]))

8
0.100 =>  0.0
0.500 =>  0.0
0.750 =>  1.0
0.900 =>  4.0
0.950 =>  9.0
0.980 =>  27.0
0.990 =>  56.0
0.995 =>  101.0

In [30]:
#excluded tweets
df_tweetskb_excluded = df_tweetskb[df_tweetskb['user_deleted_tweets'] > 9]

df_tweetskb_excluded_del = df_tweetskb_excluded[df_tweetskb_excluded['is_deleted']==True]
df_tweetskb_excluded_undel = df_tweetskb_excluded[df_tweetskb_excluded['is_deleted']==False]

print('Number of deleted tweets in Dataset:', df_tweetskb_excluded_del.shape[0])
print('Number of non-deleted tweets in Dataset:', df_tweetskb_excluded_undel.shape[0])

Number of deleted tweets in Dataset: 426012
Number of non-deleted tweets in Dataset: 30545

In [31]:
#0.95 Quantile == 9
df_tweetskb = df_tweetskb[df_tweetskb['user_deleted_tweets'] <= 9]

In [32]:
users_after_quantile = df_tweetskb.Username.nunique()
print('Number of users in Dataset:', users_after_quantile)
print('Number of excluded users:', 5208425 - users_after_quantile)

tweets_after_quantile = df_tweetskb.shape[0]
print('Number of tweets in Dataset:', tweets_after_quantile)
print('Number of excluded tweets:', 9409841 - tweets_after_quantile)

Number of users in Dataset: 5188196
Number of excluded users: 20229
Number of tweets in Dataset: 8953284
Number of excluded tweets: 456557

In [33]:
df_tweetskb.Username.unique().size

5188196

In [34]:
df_tweetskb_del = df_tweetskb[df_tweetskb['is_deleted']==True]
df_tweetskb_undel = df_tweetskb[df_tweetskb['is_deleted']==False]

In [35]:
df_tweetskb.shape

(8953284, 18)

In [36]:
df_tweetskb_del.shape

(2296565, 18)

In [37]:
df_tweetskb_undel.shape

(6656719, 18)

In [38]:
df_tweetskb.Username.unique().size

5188196

In [42]:
df_tweetskb_sample_del = df_tweetskb_del.sample(n = 100000)
df_tweetskb_sample_undel = df_tweetskb_undel.sample(n = 100000)

In [43]:
df_tweetskb_sample = df_tweetskb_sample_del.append(df_tweetskb_sample_undel, ignore_index=True)

In [44]:
path = '../../data/df_tweetskb_sample_200000_9_v2.tsv'

with open(path, 'w', newline='', encoding="utf-8") as out_file:
    tsv_writer = csv.writer(out_file, delimiter="\t")
    for idx, row in df_tweetskb_sample.iterrows():
        tsv_writer.writerow(row.values.tolist())