In [1]:
import csv
import pandas as pd
import numpy as np
import json

csv.field_size_limit(100000000)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import matplotlib.dates as mdates
import matplotlib.ticker as tick

import warnings
warnings.filterwarnings("ignore")
pd.options.display.float_format = '{:.2f}'.format

# Read Data

In [2]:

#Labels
TweetsCov19_labels = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags', 'URLs', 'Text', 'Is_deleted', 'Number of Mentions', 'Number of Hashtags', 'Number of URLs', 'Domains']#, 'Readability','Vader_neg', 'Vader_neu', 'Vader_pos', 'Vader_compound', 'Emojis', 'Number of Emojis',  'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
#TweetsKB_labels    = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Text', 'URLs', 'Is_deleted', 'Hashtags', 'Mentions', 'Number of Hashtags', 'Number of Mentions', 'Textlength', 'Readability', 'Domains', 'Number of URLs', 'Vader_pos', 'Vader_neu', 'Vader_neg', 'Vader_com' , 'Emojis', 'Number of Emojis','Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
TweetsKB_labels    = ['Tweet_Id', "Username", 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Text', 'URLs', 'Is_deleted', 'Hashtags', 'Mentions', 'Number of Hashtags', 'Number of Mentions', 'Domains', 'Number of URLs' ]
#Path
TweetsCov19_Pfad =  '../data/TweetsCov19_stichprobe_final.tsv'
TweetsKB_Pfad =  '../data/Tweetskb_stichprobe_final.tsv'

In [3]:
#Dataframe TweetsCov19 
df_tweetscov19 = pd.read_csv(TweetsCov19_Pfad, sep='\t', error_bad_lines=False, names=TweetsCov19_labels)
print('Shape:', df_tweetscov19.shape)
df_tweetscov19.head()

Shape: (9409841, 18)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Entities,Sentiment,Mentions,Hashtags,URLs,Text,Is_deleted,Number of Mentions,Number of Hashtags,Number of URLs,Domains
0,1245863586842284033,3d4b19ffcac6afbaccc02caa041f2052,Fri Apr 03 00:00:00 +0000 2020,141018,1467,20,24,time is of the essence:Time_Is_of_the_Essence:...,2 -1,null;,Coronavirus MedicareForAll,https://www.cnn.com/2020/03/31/politics/pentag...,Time is of the essence!!! Trump‚Äôs delayed resp...,False,0,2,1,cnn.com
1,1245863584900370434,f1ca5c285adac0d2e8a7bfc07700212a,Fri Apr 03 00:00:00 +0000 2020,18252,248,2,2,null;,1 -1,null;,null;,https://www.egypttoday.com/Article/1/83263/COV...,The head of the World Health Organization voic...,False,0,0,1,egypttoday.com
2,1245863585764405248,3332f974940607397430092bcc46d8e3,Fri Apr 03 00:00:00 +0000 2020,2037578,154,571,1390,virgin orbit:Virgin_Orbit:-1.0115699785055032;...,2 -1,null;,COVID19Pandemic,https://www.wired.com/story/race-build-more-ve...,Ventilators are in short supply. So Virgin Orb...,False,0,1,1,wired.com
3,1245863585491771398,447929823d4b289aad11483444a3cb28,Fri Apr 03 00:00:00 +0000 2020,563499,418,10,61,null;,1 -1,null;,KUWTK,null;,Kourt's just giving back what she gets ü§∑‚Äç‚ôÄÔ∏è A ...,False,0,1,0,0
4,1245863586318204928,b831a7b4065ae8f585b7a2c67f8c4751,Fri Apr 03 00:00:00 +0000 2020,110,3,0,0,happening now:Happening_Now:-2.624722884110382;,1 -2,null;,null;,http://us04web.zoom.us/j/542793419:-:,Zoom Code live happening now (already started)...,True,0,0,1,zoom.us

In [4]:
#Dataframe TweetsKB 
df_tweetskb = pd.read_csv(TweetsKB_Pfad, sep='\t', error_bad_lines=False, names=TweetsKB_labels)
print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 16)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Text,URLs,Is_deleted,Hashtags,Mentions,Number of Hashtags,Number of Mentions,Domains,Number of URLs
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,dcuniverseinfinite.com,1
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,ùò™‚ÄôùòÆ ùò®ùò∞ùòØùòØùò¢ ùò£ùò¶ ùò≥ùò™ùò®ùò©ùòµ ùò©ùò¶ùò≥ùò¶ ‚ü∂ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,carrd.co,1
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,‚ùõ ùò†ùò∞ùò∂'ùò≥ùò¶ ùò¥ùò™ùòµùòµùò™ùòØ' ùò∞ùòØ ùò∫ùò∞ùò∂ùò≥ ùòßùò¶ùò¶ùò≠ùò™ùòØùò®ùò¥ . . . ùòê'ùòÆ ùò¥ùò™...,null;,True,['ùòõùò©ùò¶ùò∞ùòØùò¶'],[],1,0,0,0
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,0,0
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6‚Äô9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,phenomhoopreport.com,1

In [8]:
df_del_cov19 = df_tweetscov19[df_tweetscov19['Is_deleted'] == True]
df_undel_cov19 = df_tweetscov19[df_tweetscov19['Is_deleted'] == False]
df_del_kb = df_tweetskb[df_tweetskb['Is_deleted'] == True]
df_undel_kb = df_tweetskb[df_tweetskb['Is_deleted'] == False]

In [9]:
df_tweetscov19["Number of URLs"].sum()

2508542

In [10]:
df_del_cov19["Number of URLs"].sum()

406264

In [11]:
df_undel_cov19["Number of URLs"].sum()

2102278

In [12]:
df_tweetskb["Number of URLs"].sum()

1460380

In [13]:
df_del_kb["Number of URLs"].sum()

329403

In [14]:
df_undel_kb["Number of URLs"].sum()

1130977

## Unique PLDs in Datasets

- TweetsCOV19

In [15]:
df_tweetscov19["Domains"].isna().sum()

359

In [16]:
df_tweetscov19["Domains"] = df_tweetscov19["Domains"].replace(pd.NA, 0 )

- Posted

In [18]:
import ast

#Zuerst wird hier eine neue Dataframe erzeugt, die nur die Dom√§ne enth√§lt.
#Dann geht die funktion jede zeile der Dataframe durch, und alle Dom√§ne, die in einem Tweet geben, durchsucht.
#Jede neue Domain wird zu der Dictionary hinzugef√ºgt.
#Bei jeder Wiederholung erh√∂ht die Methode die Value von dementsprechender Domain um eins.

def get_unique_plds(df):
    df_domains = df[['Domains']]

    dict_domains = {}

    for idx, row in df_domains.iterrows():
        list_domain = []
        
        list_domain = str(row["Domains"]).split()

#         list_domain = np.array(list_domain)
#         list_domain = np.unique(list_domain)
#         list_domain = list_domain.tolist()

        for domain in (list_domain):
            if domain not in dict_domains:
                dict_domains[domain] = 1
            else :
                dict_domains[domain] = dict_domains[domain] +1
    return dict_domains

In [19]:
df_tweetsCov19_domains = get_unique_plds(df_tweetscov19)

In [20]:
df_dict_tweetscov19_domains = pd.DataFrame(df_tweetsCov19_domains.items(), columns=['Domain','counter'])
df_dict_tweetscov19_domains.sort_values(by=["counter"], ascending=False).head()

            Domain  counter
3                0  6990896
60     twitter.com   270819
41     youtube.com   122204
10   instagram.com    60647
184    nytimes.com    35661

In [21]:
df_dict_tweetscov19_domains[df_dict_tweetscov19_domains["Domain"]!= "0"].shape

(181021, 2)

In [22]:
number_of_domains = df_tweetscov19['Number of URLs'].sum()
print('Number of Domains in TweetsCov19(unique) :', df_dict_tweetscov19_domains.Domain.size -1)
print('Number of URLs in TweetsCov19(sum) :', number_of_domains)

Number of Domains in TweetsCov19(unique) : 181021
Number of URLs in TweetsCov19(sum) : 2508542

- deleted

In [195]:
df_del_cov19_domains = get_unique_plds(df_del_cov19)

In [197]:
df_dict_del_tweetscov19_domains = pd.DataFrame(df_del_cov19_domains.items(), columns=['Domain','count'])
number_of_domains = df_del_cov19['Number of URLs'].sum()

print('Number of Domains in TweetsCov19(unique) :', df_dict_del_tweetscov19_domains.Domain.size -1)
print('Number of URLs in TweetsCov19(sum) :', number_of_domains)

Number of Domains in TweetsCov19(unique) : 34609
Number of URLs in TweetsCov19(sum) : 406264

- None-deleted

In [198]:
df_undel_cov19_domains = get_unique_plds(df_undel_cov19)

In [199]:
df_dict_undel_tweetscov19_domains = pd.DataFrame(df_undel_cov19_domains.items(), columns=['Domain','count'])
number_of_domains = df_undel_cov19['Number of URLs'].sum()

print('Number of Domains in TweetsCov19(unique) :', df_dict_undel_tweetscov19_domains.Domain.size -1)
print('Number of URLs in TweetsCov19(sum) :', number_of_domains)

Number of Domains in TweetsCov19(unique) : 164387
Number of URLs in TweetsCov19(sum) : 2102278

In [24]:
# pfad_tsv = '../data/tweetsCov19_unique_URL.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_dict_tweetscov19_domains.iterrows():
#         tsv_writer.writerow(row.values.tolist())

## TweetsKB

In [25]:
df_tweetskb["Domains"].isna().sum()

0

In [26]:
df_tweetskb["Domains"] = df_tweetskb["Domains"].replace(pd.NA, 0 )

- Posted

In [28]:
df_tweetskb_domains = get_unique_plds(df_tweetskb)

In [29]:
df_dict_tweetskb_domains = pd.DataFrame(df_tweetskb_domains.items(), columns=['Domain','counter'])
df_dict_tweetskb_domains.sort_values(by=["counter"], ascending=False).head()

              Domain  counter
2                  0  8024014
14       twitter.com   262420
28          youtu.be    65221
37     instagram.com    50601
348  twittascope.com    37526

In [30]:
df_dict_tweetskb_domains[df_dict_tweetskb_domains["Domain"]!= "0"].shape

(147068, 2)

In [206]:
number_of_domains = df_tweetskb['Number of URLs'].sum()
print('Number of Domains in Tweetskb(unique) :', df_dict_tweetskb_domains.Domain.size -1)
print('Number of URLs in Tweetskb(sum) :', number_of_domains)

Number of Domains in Tweetskb(unique) : 147068
Number of URLs in Tweetskb(sum) : 1460380

- deleted

In [207]:
df_del_kb_domains = get_unique_plds(df_del_kb)

In [208]:
df_dict_del_tweetskb_domains = pd.DataFrame(df_del_kb_domains.items(), columns=['Domain','count'])
number_of_domains = df_del_kb['Number of URLs'].sum()

print('Number of Domains in Tweetskb(unique) :', df_dict_del_tweetskb_domains.Domain.size -1)
print('Number of URLs in Tweetskb(sum) :', number_of_domains)

Number of Domains in Tweetskb(unique) : 31417
Number of URLs in Tweetskb(sum) : 329403

- None-deleted

In [209]:
df_undel_kb_domains = get_unique_plds(df_undel_kb)

In [210]:
df_dict_undel_tweetskb_domains = pd.DataFrame(df_undel_kb_domains.items(), columns=['Domain','count'])
number_of_domains = df_undel_kb['Number of URLs'].sum()

print('Number of Domains in Tweetskb(unique) :', df_dict_undel_tweetskb_domains.Domain.size -1)
print('Number of URLs in Tweetskb(sum) :', number_of_domains)

Number of Domains in Tweetskb(unique) : 129118
Number of URLs in Tweetskb(sum) : 1130977

In [31]:
# pfad_tsv = '../data/tweetsKB_unique_URL.tsv'

# with open(pfad_tsv, 'w', newline='', encoding="utf-8") as out_file:
#     tsv_writer = csv.writer(out_file, delimiter="\t")
#     for idx, row in df_dict_tweetskb_domains.iterrows():
#         tsv_writer.writerow(row.values.tolist())