In [36]:
import csv
import pandas as pd
import numpy as np
import json

csv.field_size_limit(100000000)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import matplotlib.dates as mdates
import matplotlib.ticker as tick

pd.options.display.float_format = '{:.4f}'.format

***

In [286]:
path = '../data/df_domains_left_right.tsv'

df_liberal_conservative_domains = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [287]:
print('Shape: ', df_liberal_conservative_domains.shape)
df_liberal_conservative_domains.head()

Shape:  (1589, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0000,0.0000,0.0000,0.0000
1,972mag.com,1.0000,0.0000,0.0000,0.0000
2,Augustachronicle.com,1.0000,0.0000,0.0000,0.0000
3,Boston.com,1.0000,0.0000,0.0000,0.0000
4,Censor.NET,1.0000,0.0000,0.0000,0.0000

In [288]:
df_domains_left = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_leftbias'] == 1) | (df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1)]

print('Shape: ', df_domains_left.shape)
df_domains_left.head()

Shape:  (954, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0000,0.0000,0.0000,0.0000
1,972mag.com,1.0000,0.0000,0.0000,0.0000
2,Augustachronicle.com,1.0000,0.0000,0.0000,0.0000
3,Boston.com,1.0000,0.0000,0.0000,0.0000
4,Censor.NET,1.0000,0.0000,0.0000,0.0000

In [289]:
df_domains_right = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1) | (df_liberal_conservative_domains['mediabias_rightbias'] == 1)]

print('Shape: ', df_domains_right.shape)
df_domains_right.head()

Shape:  (635, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0000,0.0000,1.0000,0.0000
955,19fortyfive.com,0.0000,0.0000,1.0000,0.0000
956,7news.com.au,0.0000,0.0000,1.0000,0.0000
957,9news.com.au,0.0000,0.0000,1.0000,0.0000
958,Deutschland.de,0.0000,0.0000,1.0000,0.0000

In [290]:
df_domains_moderate = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1) | (df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1)]

print('Shape: ', df_domains_moderate.shape)
df_domains_moderate.head()

Shape:  (1025, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0000,0.0000,0.0000,0.0000
1,972mag.com,1.0000,0.0000,0.0000,0.0000
2,Augustachronicle.com,1.0000,0.0000,0.0000,0.0000
3,Boston.com,1.0000,0.0000,0.0000,0.0000
4,Censor.NET,1.0000,0.0000,0.0000,0.0000

In [291]:
df_domains_hardliner = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_rightbias'] == 1) | (df_liberal_conservative_domains['mediabias_leftbias'] == 1)]

print('Shape: ', df_domains_hardliner.shape)
df_domains_hardliner.head()

Shape:  (564, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0000,1.0000,0.0000,0.0000
645,Accountable.US,0.0000,1.0000,0.0000,0.0000
646,Brut.Media,0.0000,1.0000,0.0000,0.0000
647,JoeBiden.com,0.0000,1.0000,0.0000,0.0000
648,Them.us,0.0000,1.0000,0.0000,0.0000

***

In [292]:
path = '../data/df_domains_pro_anti_science.tsv'

df_domains_pro_and_anti_science = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [293]:
print('Shape: ', df_domains_pro_and_anti_science.shape)
df_domains_pro_and_anti_science.head()

Shape:  (1395, 4)

,domain,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,Covid.gov,1.0000,0.0000,0.0000
1,Drugs.com,1.0000,0.0000,0.0000
2,News-Medical.net,1.0000,0.0000,0.0000
3,SciTechDaily.com,1.0000,0.0000,0.0000
4,aaas.org,1.0000,0.0000,0.0000

In [294]:
df_domains_proscience = df_domains_pro_and_anti_science[df_domains_pro_and_anti_science['mediabias_proscience'] == 1]

print('Shape: ', df_domains_proscience.shape)
df_domains_proscience.head()

Shape:  (150, 4)

,domain,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,Covid.gov,1.0000,0.0000,0.0000
1,Drugs.com,1.0000,0.0000,0.0000
2,News-Medical.net,1.0000,0.0000,0.0000
3,SciTechDaily.com,1.0000,0.0000,0.0000
4,aaas.org,1.0000,0.0000,0.0000

In [295]:
df_domains_antiscience = df_domains_pro_and_anti_science[(df_domains_pro_and_anti_science['mediabias_questionblesources'] == 1) | (df_domains_pro_and_anti_science['mediabias_conspiracy_psydoscience'] == 1)]

print('Shape: ', df_domains_antiscience.shape)
df_domains_antiscience.head()

Shape:  (1245, 4)

,domain,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
150,100percentfedup.com,0.0000,1.0000,0.0000
151,12minutos.com,0.0000,1.0000,0.0000
152,2020conservative.com,0.0000,1.0000,0.0000
153,24Jours.com,0.0000,1.0000,0.0000
154,4Chan.org,0.0000,1.0000,0.0000

In [296]:
df_domains_antiscience[df_domains_antiscience['mediabias_proscience'] == 1].shape

(0, 4)

In [297]:
df_domains_antiscience = df_domains_antiscience.drop(columns=['mediabias_proscience'])

In [298]:
print('Shape: ', df_domains_antiscience.shape)
df_domains_antiscience.head()

Shape:  (1245, 3)

,domain,mediabias_questionblesources,mediabias_conspiracy_psydoscience
150,100percentfedup.com,1.0000,0.0000
151,12minutos.com,1.0000,0.0000
152,2020conservative.com,1.0000,0.0000
153,24Jours.com,1.0000,0.0000
154,4Chan.org,1.0000,0.0000

In [299]:
df_domains_pro_and_anti_science = df_domains_pro_and_anti_science[['domain']]
df_liberal_conservative_domains = df_liberal_conservative_domains[['domain']]
df_domains_all_polarized = pd.merge(df_domains_pro_and_anti_science, df_liberal_conservative_domains, on='domain', how='outer')
print('shape: ', df_domains_all_polarized.shape)

shape:  (2984, 1)

***

# TweetsCOV19

***

In [16]:
TweetsCov19_labels = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags', 'URLs', 'Text', 'Is_deleted', 'Number of Mentions', 'Number of Hashtags', 'Number of URLS', 'Domains', 'Textlength', 'Readability','Vader_neg', 'Vader_neu', 'Vader_pos', 'Vader_compound', 'Emojis', 'Number of Emojis',  'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
TweetsCov19_Pfad =  '../data/TweetsCov19_stichprobe_final.tsv'

In [17]:
#Dataframe TweetsCov19 
df_tweetscov19 = pd.read_csv(TweetsCov19_Pfad, sep='\t', error_bad_lines=False, names=TweetsCov19_labels)
print('Form', df_tweetscov19.shape)
df_tweetscov19.head()

Form (9409841, 31)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Entities,Sentiment,Mentions,Hashtags,URLs,Text,Is_deleted,Number of Mentions,Number of Hashtags,Number of URLS,Domains,Textlength,Readability,Vader_neg,Vader_neu,Vader_pos,Vader_compound,Emojis,Number of Emojis,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_average,Number of valued Emojis
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00,764191,132,19,180,foodie:Foodie:-2.096663959988218;,1 -1,null;,HalloweenTime?,null;,Has your appetite materialized just as fast as...,True,0,1,0,0,155,76.5530,-0.0000,1.0000,0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00,321189,26833,32,43,mainland china:Mainland_China:-1.6252666161640...,1 -1,null;,HongKong,https://www.catholicnewsagency.com/news/amid-h...,The persecution of Catholics in mainland China...,False,0,1,1,catholicnewsagency.com,204,29.4680,-0.0000,0.9190,0.0810,0.3182,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00,14209,10623,90,182,brexit:Brexit:-1.582809637810362;hear hear:Hea...,1 -2,null;,Brexit,null;,"Hear, hear..\nEmily: You were an outspoken cri...",False,0,1,0,0,163,79.5340,-0.2020,0.7980,0.0000,-0.6486,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00,2264986,655,60,528,null;,3 -1,amstandardca.,BlueJays,null;,We wrapped up the season with a WINNING week! ...,False,1,1,0,0,132,85.8890,-0.0000,0.6240,0.3760,0.8633,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00,171,138,33,117,my family:My_Family:-2.6353832182503094;roll t...,4 -1,null;,null;,null;,Super excited to announce that I will be spend...,False,0,0,0,0,257,61.2030,-0.0000,0.7650,0.2350,0.9117,"['🐘', '🔴']",2,-0.0150,0.2650,0.2200,0.2235,2.0000

In [18]:
df_tweetscov19_del = df_tweetscov19[df_tweetscov19['Is_deleted'] == True]
df_tweetscov19_undel = df_tweetscov19[df_tweetscov19['Is_deleted'] == False]

In [95]:

def get_unique_domains_with_their_number_of_repeatation(df):
    dict_domains = {}
    i  = 0
    for idx, row in df.iterrows():
        list_domains = []
        list_domains = (row.values.tolist()[0])
        list_domains = str(list_domains).split()

        #list_domains = np.array(list_domains)
        #list_domains = np.unique(list_domains)
        #list_domains = list_domains.tolist()

        for i in range(0, len(list_domains)):
            domain = list_domains[i]
            if domain not in dict_domains:
                dict_domains[domain] = 1
            else :
                dict_domains[domain] = dict_domains[domain] +1
        #print(dict_tweetscov19_domaene)
    return dict_domains

In [22]:
df_tweetsCov19_domains = df_tweetscov19[['Domains']]
dict_tweetscov19_domains = get_unique_domains_with_their_number_of_repeatation(df_tweetsCov19_domains)

In [23]:
df_dict_tweetsCov19_domains = pd.DataFrame(dict_tweetscov19_domains.items(), columns=['domain','Number'])

In [199]:
Number_of_domains = df_tweetscov19['Number of URLS'].sum()
print('Number of used Domains in TweetsCov19(unique) :', df_dict_tweetsCov19_domains.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in TweetsCov19(sum) :', Number_of_domains)

Number of used Domains in TweetsCov19(unique) : 181022
Number of used domains in TweetsCov19(sum) : 2508542

In [200]:
df_dict_tweetsCov19_domains['percent'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )

df_dict_tweetsCov19_domains['Number'] = df_dict_tweetsCov19_domains['Number'].astype(int) 
df_dict_tweetsCov19_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetsCov19_domains.head(10)

                 domain   Number  percent
0                     0  6990537 278.6693
3           twitter.com   270819  10.7959
19          youtube.com   122204   4.8715
52        instagram.com    60647   2.4176
8           nytimes.com    35661   1.4216
89      theguardian.com    33863   1.3499
11              cnn.com    29895   1.1917
25   washingtonpost.com    25083   0.9999
136         reuters.com    21310   0.8495
110        facebook.com    20776   0.8282

***

In [300]:
df_l = pd.merge(df_dict_tweetsCov19_domains, df_domains_left, on='domain', how='inner')
print('shape: ', df_l.shape)

shape:  (792, 7)

In [301]:
df_r = pd.merge(df_dict_tweetsCov19_domains, df_domains_right, on='domain', how='inner')
print('shape: ', df_r.shape)

shape:  (490, 7)

In [302]:
df_mod = pd.merge(df_dict_tweetsCov19_domains, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod.shape)

shape:  (837, 7)

In [303]:
df_hard = pd.merge(df_dict_tweetsCov19_domains, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard.shape)

shape:  (445, 7)

In [304]:
df_prosc = pd.merge(df_dict_tweetsCov19_domains, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc.shape)

shape:  (121, 6)

In [305]:
df_antisc = pd.merge(df_dict_tweetsCov19_domains, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc.shape)

shape:  (510, 5)

In [306]:
df_all_cov19 = pd.merge(df_dict_tweetsCov19_domains, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_cov19.shape)

shape:  (1913, 3)

***

## Non deleted

In [70]:
df_tweetscov19_domains_undel = df_tweetscov19_undel[['Domains']]
dict_tweetscov19_domains_undel = get_unique_domains_with_their_number_of_repeatation(df_tweetscov19_domains_undel)

In [261]:
df_dict_tweetscov19_domains_undel = pd.DataFrame(dict_tweetscov19_domains_undel.items(), columns=['domain','Number'])

In [262]:
Number_of_domains_undel = df_tweetscov19_undel['Number of URLS'].sum()
print('Number of used Domains in non-deleted Tweets TweetsCov19(unique) :', df_dict_tweetscov19_domains_undel.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in non-deleted Tweets TweetsCov19(sum) :', Number_of_domains_undel)

Number of used Domains in non-deleted Tweets TweetsCov19(unique) : 164388
Number of used domains in non-deleted Tweets TweetsCov19(sum) : 2102278

In [263]:
df_dict_tweetscov19_domains_undel['percent'] =  df_dict_tweetscov19_domains_undel['Number'].apply(lambda row : ((row /Number_of_domains_undel) * 100) )

df_dict_tweetscov19_domains_undel['Number'] = df_dict_tweetscov19_domains_undel['Number'].astype(int) 
df_dict_tweetscov19_domains_undel.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetscov19_domains_undel.head(10)

                 domain   Number  percent
1                     0  5241504 249.3250
3           twitter.com   210757  10.0252
17          youtube.com    92698   4.4094
43        instagram.com    54560   2.5953
8           nytimes.com    32304   1.5366
203     theguardian.com    30946   1.4720
151             cnn.com    27505   1.3083
21   washingtonpost.com    22975   1.0929
164         reuters.com    19515   0.9283
92         facebook.com    18165   0.8641

In [307]:
df_l_undel = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_undel.shape)

shape:  (786, 7)

In [308]:
df_r_undel = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_undel.shape)

shape:  (478, 7)

In [309]:
df_mod_undel = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_undel.shape)

shape:  (828, 7)

In [310]:
df_hard_undel = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_undel.shape)

shape:  (436, 7)

In [311]:
df_prosc_undel = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_undel.shape)

shape:  (119, 6)

In [312]:
df_antisc_undel = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_undel.shape)

shape:  (469, 5)

In [313]:
df_all_undel_cov19 = pd.merge(df_dict_tweetscov19_domains_undel, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_undel_cov19.shape)

shape:  (1852, 3)

***

# Deleted

In [81]:
df_tweetscov19_domains_del = df_tweetscov19_del[['Domains']]
dict_tweetscov19_domains_del = get_unique_domains_with_their_number_of_repeatation(df_tweetscov19_domains_del)

In [82]:
df_dict_tweetscov19_domains_del = pd.DataFrame(dict_tweetscov19_domains_del.items(), columns=['domain','Number'])

In [272]:
Number_of_domains_del = df_tweetscov19_del['Number of URLS'].sum()
print('Number of used Domains in deleted Tweets TweetsCov19(unique) :', df_dict_tweetscov19_domains_del.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in deleted Tweets TweetsCov19(sum) :', Number_of_domains_del)

Number of used Domains in deleted Tweets TweetsCov19(unique) : 34610
Number of used domains in deleted Tweets TweetsCov19(sum) : 406264

In [273]:
df_dict_tweetscov19_domains_del['percent'] =  df_dict_tweetscov19_domains_del['Number'].apply(lambda row : ((row /Number_of_domains_del) * 100) )

df_dict_tweetscov19_domains_del['Number'] = df_dict_tweetscov19_domains_del['Number'].astype(int) 
df_dict_tweetscov19_domains_del.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetscov19_domains_del.head(10)

                   domain   Number  percent
0                       0  1749033 430.5164
4             twitter.com    60062  14.7840
27            youtube.com    29506   7.2628
5    thegatewaypundit.com    10700   2.6338
17            foxnews.com     9122   2.2453
83          breitbart.com     7393   1.8198
12           onlyfans.com     6360   1.5655
101         instagram.com     6087   1.4983
77            nytimes.com     3357   0.8263
25           blogspot.com     2937   0.7229

In [314]:
df_l_del = pd.merge(df_dict_tweetscov19_domains_del, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_del.shape)

shape:  (620, 7)

In [315]:
df_r_del = pd.merge(df_dict_tweetscov19_domains_del, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_del.shape)

shape:  (393, 7)

In [317]:
df_mod_del = pd.merge(df_dict_tweetscov19_domains_del, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_del.shape)

shape:  (671, 7)

In [318]:
df_hard_del = pd.merge(df_dict_tweetscov19_domains_del, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_del.shape)

shape:  (342, 7)

In [319]:
df_prosc_del = pd.merge(df_dict_tweetscov19_domains_del, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_del.shape)

shape:  (87, 6)

In [320]:
df_antisc_del = pd.merge(df_dict_tweetscov19_domains_del, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_del.shape)

shape:  (403, 5)

In [321]:
df_all_del_cov19 = pd.merge(df_dict_tweetscov19_domains_del, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_del_cov19.shape)

shape:  (1503, 3)

***

# TweetsKB

***

In [93]:
TweetsKB_labels    = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Text', 'URLs', 'Is_deleted', 'Hashtags', 'Mentions', 'Number of Hashtags', 'Number of Mentions', 'Textlength', 'Readability', 'Domains', 'Number of URLs', 'Vader_pos', 'Vader_neu', 'Vader_neg', 'Vader_com' , 'Emojis', 'Number of Emojis','Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
TweetsKB_Pfad =  '../data/Tweetskb_stichprobe_final.tsv'

In [94]:
#Dataframe TweetsKB 
df_tweetskb = pd.read_csv(TweetsKB_Pfad, sep='\t', error_bad_lines=False, names=TweetsKB_labels)
print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 29)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Text,URLs,Is_deleted,Hashtags,Mentions,Number of Hashtags,Number of Mentions,Textlength,Readability,Domains,Number of URLs,Vader_pos,Vader_neu,Vader_neg,Vader_com,Emojis,Number of Emojis,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_average,Number of valued Emojis
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,192,70.3500,dcuniverseinfinite.com,1,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,73,82.3900,carrd.co,1,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],1,0,128,123.7550,0,0,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,77,105.9210,0,0,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,227,65.9430,phenomhoopreport.com,1,0.0580,0.9420,-0.0000,0.2263,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000

In [97]:
df_tweetskb_del = df_tweetskb[df_tweetskb['Is_deleted'] == True]
df_tweetskb_undel = df_tweetskb[df_tweetskb['Is_deleted'] == False]

***

In [96]:
df_tweetskb_domains = df_tweetskb[['Domains']]
dict_tweetskb_domains = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains)

In [98]:
df_dict_tweetskb_domains = pd.DataFrame(dict_tweetskb_domains.items(), columns=['domain','Number'])

In [226]:
Number_of_domains = df_tweetskb['Number of URLs'].sum()
print('Number of used Domains in TweetsCov19(unique) :', df_dict_tweetskb_domains.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in TweetsCov19(sum) :', Number_of_domains)

Number of used Domains in TweetsCov19(unique) : 147068
Number of used domains in TweetsCov19(sum) : 1460380

In [227]:
df_dict_tweetskb_domains['percent'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )

df_dict_tweetskb_domains['Number'] = df_dict_tweetskb_domains['Number'].astype(int) 
df_dict_tweetskb_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_domains.head(10)

              domain   Number  percent
2                  0  8024014 549.4470
14       twitter.com   262420  17.9693
28          youtu.be    65221   4.4660
37     instagram.com    50601   3.4649
348  twittascope.com    37526   2.5696
31        fllwrs.com    32446   2.2218
65       youtube.com    26646   1.8246
77      onlyfans.com    18630   1.2757
80         twitch.tv    15256   1.0447
62      facebook.com    15067   1.0317

***

In [322]:
df_l_kb = pd.merge(df_dict_tweetskb_domains, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_kb.shape)

shape:  (760, 7)

In [323]:
df_r_kb = pd.merge(df_dict_tweetskb_domains, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_kb.shape)

shape:  (460, 7)

In [324]:
df_mod_kb = pd.merge(df_dict_tweetskb_domains, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_kb.shape)

shape:  (799, 7)

In [325]:
df_hard_kb = pd.merge(df_dict_tweetskb_domains, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_kb.shape)

shape:  (421, 7)

In [326]:
df_prosc_kb= pd.merge(df_dict_tweetskb_domains, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_kb.shape)

shape:  (114, 6)

In [327]:
df_antisc_kb = pd.merge(df_dict_tweetskb_domains, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_kb.shape)

shape:  (463, 5)

In [328]:
df_all_kb = pd.merge(df_dict_tweetskb_domains, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_kb.shape)

shape:  (1797, 3)

***

## Non deleted

In [142]:
df_tweetskb_domains_undel = df_tweetskb_undel[['Domains']]
dict_tweetskb_domains_undel = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains_undel)

In [143]:
df_dict_tweetskb_domains_undel = pd.DataFrame(dict_tweetskb_domains_undel.items(), columns=['domain','Number'])

In [235]:
Number_of_domains_undel = df_tweetskb_undel['Number of URLs'].sum()
print('Number of used Domains in non deleted TweetsCov19(unique) :', df_dict_tweetskb_domains_undel.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in non deleted TweetsCov19(sum) :', Number_of_domains_undel)

Number of used Domains in non deleted TweetsCov19(unique) : 129118
Number of used domains in non deleted TweetsCov19(sum) : 1130977

In [175]:
df_dict_tweetskb_domains_undel['percent'] =  df_dict_tweetskb_domains_undel['Number'].apply(lambda row : ((row /Number_of_domains_undel) * 100) )

df_dict_tweetskb_domains_undel['Number'] = df_dict_tweetskb_domains_undel['Number'].astype(int) 
df_dict_tweetskb_domains_undel.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_domains_undel.head(10)

              domain   Number  percent
2                  0  5609983 496.0298
10       twitter.com   193662  17.1234
20          youtu.be    47906   4.2358
27     instagram.com    43938   3.8850
294  twittascope.com    33973   3.0039
49       youtube.com    20513   1.8137
22        fllwrs.com    20323   1.7969
47      facebook.com    13042   1.1532
61         twitch.tv    12098   1.0697
59      onlyfans.com     8326   0.7362

In [329]:
df_l_kb_undel = pd.merge(df_dict_tweetskb_domains_undel, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_kb_undel.shape)

shape:  (752, 7)

In [330]:
df_r_kb_undel = pd.merge(df_dict_tweetskb_domains_undel, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_kb_undel.shape)

shape:  (442, 7)

In [331]:
df_mod_kb_undel = pd.merge(df_dict_tweetskb_domains_undel, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_kb_undel.shape)

shape:  (789, 7)

In [332]:
df_hard_kb_undel = pd.merge(df_dict_tweetskb_domains_undel, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_kb_undel.shape)

shape:  (405, 7)

In [333]:
df_prosc_kb_undel = pd.merge(df_dict_tweetskb_domains_undel, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_kb_undel.shape)

shape:  (112, 6)

In [334]:
df_antisc_undel = pd.merge(df_dict_tweetskb_domains_undel, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_undel.shape)

shape:  (414, 5)

In [335]:
df_all_undel_kb = pd.merge(df_dict_tweetskb_domains_undel, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_undel_kb.shape)

shape:  (1720, 3)

***

## Deleted

In [153]:
df_tweetskb_domains_del = df_tweetskb_del[['Domains']]
dict_tweetskb_domains_del = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains_del)

In [164]:
df_dict_tweetskb_domains_del = pd.DataFrame(dict_tweetskb_domains_del.items(), columns=['domain','Number'])

In [243]:
Number_of_domains_del = df_tweetskb_del['Number of URLs'].sum()
print('Number of used Domains in deleted TweetsCov19(unique) :', df_dict_tweetskb_domains_del.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in deleted TweetsCov19(sum) :', Number_of_domains_del)

Number of used Domains in deleted TweetsCov19(unique) : 31417
Number of used domains in deleted TweetsCov19(sum) : 329403

In [244]:
df_dict_tweetskb_domains_del['percent'] =  df_dict_tweetskb_domains_del['Number'].apply(lambda row : ((row /Number_of_domains_del) * 100) )

df_dict_tweetskb_domains_del['Number'] = df_dict_tweetskb_domains_del['Number'].astype(int) 
df_dict_tweetskb_domains_del.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_domains_del.head(10)

            domain   Number  percent
1                0  2414031 732.8503
7      twitter.com    68758  20.8735
35        youtu.be    17315   5.2565
13      fllwrs.com    12123   3.6803
32    onlyfans.com    10304   3.1281
18   instagram.com     6663   2.0228
116    youtube.com     6133   1.8619
10    blogspot.com     3946   1.1979
41      sumall.com     3819   1.1594
78     spotify.com     3561   1.0810

In [245]:
df_l_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_left, on='domain', how='inner')
print('shape: ', df_l_del_kb.shape)

shape:  (520, 7)

In [246]:
df_r_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_right, on='domain', how='inner')
print('shape: ', df_r_del_kb.shape)

shape:  (332, 7)

In [247]:
df_mod_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_moderate, on='domain', how='inner')
print('shape: ', df_mod_del_kb.shape)

shape:  (544, 7)

In [248]:
df_hard_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_hardliner, on='domain', how='inner')
print('shape: ', df_hard_del_kb.shape)

shape:  (308, 7)

In [284]:
df_prosc_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_del_kb.shape)

shape:  (78, 6)

In [250]:
df_antisc_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_del_kb.shape)

shape:  (348, 5)

In [251]:
df_all_del_kb = pd.merge(df_dict_tweetskb_domains_del, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_del_kb.shape)

shape:  (1278, 3)