In [1]:
import csv
import pandas as pd
import numpy as np
import json

csv.field_size_limit(100000000)
pd.options.display.max_columns = None
pd.options.display.max_rows = None
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import matplotlib.dates as mdates
import matplotlib.ticker as tick

pd.options.display.float_format = '{:.4f}'.format

***

In [2]:
path = '../data/df_domains_left_right.tsv'

df_liberal_conservative_domains = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [3]:
print('Shape: ', df_liberal_conservative_domains.shape)
df_liberal_conservative_domains.head()

Shape:  (1589, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0000,0.0000,0.0000,0.0000
1,972mag.com,1.0000,0.0000,0.0000,0.0000
2,Augustachronicle.com,1.0000,0.0000,0.0000,0.0000
3,Boston.com,1.0000,0.0000,0.0000,0.0000
4,Censor.NET,1.0000,0.0000,0.0000,0.0000

In [4]:
df_domains_left = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_leftbias'] == 1) | (df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1)]

print('Shape: ', df_domains_left.shape)
df_domains_left.head()

Shape:  (954, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0000,0.0000,0.0000,0.0000
1,972mag.com,1.0000,0.0000,0.0000,0.0000
2,Augustachronicle.com,1.0000,0.0000,0.0000,0.0000
3,Boston.com,1.0000,0.0000,0.0000,0.0000
4,Censor.NET,1.0000,0.0000,0.0000,0.0000

In [5]:
df_domains_right = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1) | (df_liberal_conservative_domains['mediabias_rightbias'] == 1)]

print('Shape: ', df_domains_right.shape)
df_domains_right.head()

Shape:  (635, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
954,13wham.com,0.0000,0.0000,1.0000,0.0000
955,19fortyfive.com,0.0000,0.0000,1.0000,0.0000
956,7news.com.au,0.0000,0.0000,1.0000,0.0000
957,9news.com.au,0.0000,0.0000,1.0000,0.0000
958,Deutschland.de,0.0000,0.0000,1.0000,0.0000

In [6]:
df_domains_moderate = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_rightcenterbias'] == 1) | (df_liberal_conservative_domains['mediabias_leftcenterbias'] == 1)]

print('Shape: ', df_domains_moderate.shape)
df_domains_moderate.head()

Shape:  (1025, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,604now.com,1.0000,0.0000,0.0000,0.0000
1,972mag.com,1.0000,0.0000,0.0000,0.0000
2,Augustachronicle.com,1.0000,0.0000,0.0000,0.0000
3,Boston.com,1.0000,0.0000,0.0000,0.0000
4,Censor.NET,1.0000,0.0000,0.0000,0.0000

In [7]:
df_domains_hardliner = df_liberal_conservative_domains[(df_liberal_conservative_domains['mediabias_rightbias'] == 1) | (df_liberal_conservative_domains['mediabias_leftbias'] == 1)]

print('Shape: ', df_domains_hardliner.shape)
df_domains_hardliner.head()

Shape:  (564, 5)

,domain,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
644,19thnews.org,0.0000,1.0000,0.0000,0.0000
645,Accountable.US,0.0000,1.0000,0.0000,0.0000
646,Brut.Media,0.0000,1.0000,0.0000,0.0000
647,JoeBiden.com,0.0000,1.0000,0.0000,0.0000
648,Them.us,0.0000,1.0000,0.0000,0.0000

***

In [8]:
path = '../data/df_domains_pro_anti_science.tsv'

df_domains_pro_and_anti_science = pd.read_csv(path, sep='\t', error_bad_lines=False)

In [9]:
print('Shape: ', df_domains_pro_and_anti_science.shape)
df_domains_pro_and_anti_science.head()

Shape:  (1395, 4)

,domain,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,Covid.gov,1.0000,0.0000,0.0000
1,Drugs.com,1.0000,0.0000,0.0000
2,News-Medical.net,1.0000,0.0000,0.0000
3,SciTechDaily.com,1.0000,0.0000,0.0000
4,aaas.org,1.0000,0.0000,0.0000

In [10]:
df_domains_proscience = df_domains_pro_and_anti_science[df_domains_pro_and_anti_science['mediabias_proscience'] == 1]

print('Shape: ', df_domains_proscience.shape)
df_domains_proscience.head()

Shape:  (150, 4)

,domain,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,Covid.gov,1.0000,0.0000,0.0000
1,Drugs.com,1.0000,0.0000,0.0000
2,News-Medical.net,1.0000,0.0000,0.0000
3,SciTechDaily.com,1.0000,0.0000,0.0000
4,aaas.org,1.0000,0.0000,0.0000

In [11]:
df_domains_antiscience = df_domains_pro_and_anti_science[(df_domains_pro_and_anti_science['mediabias_questionblesources'] == 1) | (df_domains_pro_and_anti_science['mediabias_conspiracy_psydoscience'] == 1)]

print('Shape: ', df_domains_antiscience.shape)
df_domains_antiscience.head()

Shape:  (1245, 4)

,domain,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
150,100percentfedup.com,0.0000,1.0000,0.0000
151,12minutos.com,0.0000,1.0000,0.0000
152,2020conservative.com,0.0000,1.0000,0.0000
153,24Jours.com,0.0000,1.0000,0.0000
154,4Chan.org,0.0000,1.0000,0.0000

In [12]:
df_domains_antiscience[df_domains_antiscience['mediabias_proscience'] == 1].shape

(0, 4)

In [13]:
df_domains_antiscience = df_domains_antiscience.drop(columns=['mediabias_proscience'])

In [14]:
print('Shape: ', df_domains_antiscience.shape)
df_domains_antiscience.head()

Shape:  (1245, 3)

,domain,mediabias_questionblesources,mediabias_conspiracy_psydoscience
150,100percentfedup.com,1.0000,0.0000
151,12minutos.com,1.0000,0.0000
152,2020conservative.com,1.0000,0.0000
153,24Jours.com,1.0000,0.0000
154,4Chan.org,1.0000,0.0000

In [15]:
df_domains_pro_and_anti_science = df_domains_pro_and_anti_science[['domain']]
df_liberal_conservative_domains = df_liberal_conservative_domains[['domain']]
df_domains_all_polarized = pd.merge(df_domains_pro_and_anti_science, df_liberal_conservative_domains, on='domain', how='outer')
print('shape: ', df_domains_all_polarized.shape)

shape:  (2984, 1)

***

# TweetsCOV19

***

In [16]:
TweetsCov19_labels = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Entities', 'Sentiment', 'Mentions', 'Hashtags', 'URLs', 'Text', 'Is_deleted', 'Number of Mentions', 'Number of Hashtags', 'Number of URLS', 'Domains', 'Textlength', 'Readability','Vader_neg', 'Vader_neu', 'Vader_pos', 'Vader_compound', 'Emojis', 'Number of Emojis',  'Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
TweetsCov19_Pfad =  '../data/TweetsCov19_stichprobe_final.tsv'

In [17]:
#Dataframe TweetsCov19 
df_tweetscov19 = pd.read_csv(TweetsCov19_Pfad, sep='\t', error_bad_lines=False, names=TweetsCov19_labels)
print('Form', df_tweetscov19.shape)
df_tweetscov19.head()

Form (9409841, 31)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Entities,Sentiment,Mentions,Hashtags,URLs,Text,Is_deleted,Number of Mentions,Number of Hashtags,Number of URLS,Domains,Textlength,Readability,Vader_neg,Vader_neu,Vader_pos,Vader_compound,Emojis,Number of Emojis,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_average,Number of valued Emojis
0,1178791637348212736,c57d4fb895c5f4a33d2a2b24709f93b5,2019-09-30 22:00:01+00:00,764191,132,19,180,foodie:Foodie:-2.096663959988218;,1 -1,null;,HalloweenTime?,null;,Has your appetite materialized just as fast as...,True,0,1,0,0,155,76.5530,-0.0000,1.0000,0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
1,1178791641601232896,627f7d4ef584ba33a676a4ebcb861cdb,2019-09-30 22:00:02+00:00,321189,26833,32,43,mainland china:Mainland_China:-1.6252666161640...,1 -1,null;,HongKong,https://www.catholicnewsagency.com/news/amid-h...,The persecution of Catholics in mainland China...,False,0,1,1,catholicnewsagency.com,204,29.4680,-0.0000,0.9190,0.0810,0.3182,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
2,1178791643509612547,7966d5716c1c4f33591b17755184e3d6,2019-09-30 22:00:03+00:00,14209,10623,90,182,brexit:Brexit:-1.582809637810362;hear hear:Hea...,1 -2,null;,Brexit,null;,"Hear, hear..\nEmily: You were an outspoken cri...",False,0,1,0,0,163,79.5340,-0.2020,0.7980,0.0000,-0.6486,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
3,1178791644214235137,f17996c036ed4cd981f5448fe00d9ed2,2019-09-30 22:00:03+00:00,2264986,655,60,528,null;,3 -1,amstandardca.,BlueJays,null;,We wrapped up the season with a WINNING week! ...,False,1,1,0,0,132,85.8890,-0.0000,0.6240,0.3760,0.8633,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
4,1178791645371875329,32a54e5f6d8a67de1bffd2e689594dc8,2019-09-30 22:00:03+00:00,171,138,33,117,my family:My_Family:-2.6353832182503094;roll t...,4 -1,null;,null;,null;,Super excited to announce that I will be spend...,False,0,0,0,0,257,61.2030,-0.0000,0.7650,0.2350,0.9117,"['🐘', '🔴']",2,-0.0150,0.2650,0.2200,0.2235,2.0000

In [18]:
df_tweetscov19_del = df_tweetscov19[df_tweetscov19['Is_deleted'] == True]
df_tweetscov19_undel = df_tweetscov19[df_tweetscov19['Is_deleted'] == False]

In [19]:

def get_unique_domains_with_their_number_of_repeatation(df):
    dict_domains = {}
    i  = 0
    for idx, row in df.iterrows():
        list_domains = []
        list_domains = (row.values.tolist()[0])
        list_domains = str(list_domains).split()

        #list_domains = np.array(list_domains)
        #list_domains = np.unique(list_domains)
        #list_domains = list_domains.tolist()

        for i in range(0, len(list_domains)):
            domain = list_domains[i]
            if domain not in dict_domains:
                dict_domains[domain] = 1
            else :
                dict_domains[domain] = dict_domains[domain] +1
        #print(dict_tweetscov19_domaene)
    return dict_domains

In [20]:
df_tweetsCov19_domains = df_tweetscov19[['Domains']]
dict_tweetscov19_domains = get_unique_domains_with_their_number_of_repeatation(df_tweetsCov19_domains)

In [21]:
df_dict_tweetsCov19_domains = pd.DataFrame(dict_tweetscov19_domains.items(), columns=['domain','Number'])

In [22]:
Number_of_domains = df_tweetscov19['Number of URLS'].sum()
print('Number of used Domains in TweetsCov19(unique) :', df_dict_tweetsCov19_domains.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in TweetsCov19(sum) :', Number_of_domains)

Number of used Domains in TweetsCov19(unique) : 181022
Number of used domains in TweetsCov19(sum) : 2508542

In [ ]:
df_dict_tweetsCov19_domains['percent'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )

df_dict_tweetsCov19_domains['Number'] = df_dict_tweetsCov19_domains['Number'].astype(int) 
df_dict_tweetsCov19_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetsCov19_domains.head(10)

In [25]:
df_dict_tweetsCov19_domains.drop(index=df_dict_tweetsCov19_domains.index[0], axis=0, inplace=True)
df_dict_tweetsCov19_domains.head()

            domain  Number
2  twittascope.com   10662
3      twitter.com  270819
4       google.com   15075
5      airtime.pro     369
6           bit.ly    6293

In [272]:
pfad_tsv_cov19_all = '../data/tweetsCov19_all_plds.tsv'
df_dict_tweetsCov19_domains.to_csv(pfad_tsv_cov19_all, sep='\t')

------------------

In [273]:
df_tweetscov19_plds = pd.read_csv(pfad_tsv_cov19_all, sep='\t', error_bad_lines=False)
print('Form', df_tweetscov19_plds.shape)
df_tweetscov19_plds.head()

Form (181021, 10)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,3,twitter.com,270819,10.7959,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531
1,19,youtube.com,122204,4.8715,25.8385,86.5241,26.8233,77.0512,343.3951,106.9675
2,52,instagram.com,60647,2.4176,12.8231,42.9399,13.3118,38.2387,170.4190,53.0855
3,8,nytimes.com,35661,1.4216,7.5401,25.2490,7.8274,22.4847,100.2079,31.2148
4,89,theguardian.com,33863,1.3499,7.1599,23.9760,7.4328,21.3511,95.1555,29.6409

In [274]:
df_cov19_l_all = df_dict_tweetsCov19_domains[df_dict_tweetsCov19_domains.domain.isin(df_domains_left.domain)]
all_used_liberal_plds = df_cov19_l_all.Number.sum()
all_used_liberal_plds

472953

In [275]:
df_cov19_r_all = df_dict_tweetsCov19_domains[df_dict_tweetsCov19_domains.domain.isin(df_domains_right.domain)]
all_used_conservative_plds = df_cov19_r_all.Number.sum()
all_used_conservative_plds

141237

In [276]:
df_cov19_mod_all = df_dict_tweetsCov19_domains[df_dict_tweetsCov19_domains.domain.isin(df_domains_moderate.domain)]
all_used_mod_plds = df_cov19_mod_all.Number.sum()
all_used_mod_plds

455589

In [277]:
df_cov19_hard_all = df_dict_tweetsCov19_domains[df_dict_tweetsCov19_domains.domain.isin(df_domains_hardliner.domain)]
all_used_hard_plds = df_cov19_hard_all.Number.sum()
all_used_hard_plds

158601

In [278]:
df_cov19_proscience_all = df_dict_tweetsCov19_domains[df_dict_tweetsCov19_domains.domain.isin(df_domains_proscience.domain)]
all_used_proscience_plds = df_cov19_proscience_all.Number.sum()
all_used_proscience_plds

35587

In [279]:
df_cov19_antiscience_all = df_dict_tweetsCov19_domains[df_dict_tweetsCov19_domains.domain.isin(df_domains_antiscience.domain)]
all_used_antiscience_plds = df_cov19_antiscience_all.Number.sum()
all_used_antiscience_plds

114244

In [280]:
df_dict_tweetsCov19_domains['percent'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

In [281]:
df_dict_tweetsCov19_domains['percent_l'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /all_used_liberal_plds) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

In [282]:
df_dict_tweetsCov19_domains['percent_r'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /all_used_conservative_plds) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

In [283]:
df_dict_tweetsCov19_domains['percent_mod'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /all_used_mod_plds) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

In [284]:
df_dict_tweetsCov19_domains['percent_hard'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /all_used_hard_plds) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

In [285]:
df_dict_tweetsCov19_domains['percent_prosc'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /all_used_proscience_plds) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

In [286]:
df_dict_tweetsCov19_domains['percent_antisc'] =  df_dict_tweetsCov19_domains['Number'].apply(lambda row : ((row /all_used_antiscience_plds) * 100) )
df_dict_tweetsCov19_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
3,twitter.com,270819,18.5444,57.2613,191.7479,59.4437,170.7549,761.0054,237.0531

***

In [399]:
df_dict_tweetsCov19_domains.sort_values(by = ['Number'], ascending = False, inplace = True)

In [400]:
df_l = pd.merge(df_dict_tweetsCov19_domains, df_domains_left, on='domain', how='inner')
print('shape: ', df_l.shape)
df_l.head()

shape:  (792, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,nytimes.com,35661,2.4419,7.5401,25.2490,7.8274,22.4847,100.2079,31.2148,1.0000,0.0000,0.0000,0.0000
1,theguardian.com,33863,2.3188,7.1599,23.9760,7.4328,21.3511,95.1555,29.6409,1.0000,0.0000,0.0000,0.0000
2,cnn.com,29895,2.0471,6.3209,21.1665,6.5618,18.8492,84.0054,26.1677,0.0000,1.0000,0.0000,0.0000
3,washingtonpost.com,25083,1.7176,5.3035,17.7595,5.5056,15.8152,70.4836,21.9556,1.0000,0.0000,0.0000,0.0000
4,bloomberg.com,16885,1.1562,3.5701,11.9551,3.7062,10.6462,47.4471,14.7798,1.0000,0.0000,0.0000,0.0000

In [401]:
df_r = pd.merge(df_dict_tweetsCov19_domains, df_domains_right, on='domain', how='inner')
print('shape: ', df_r.shape)
df_r.head()

shape:  (490, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,foxnews.com,18794,1.2869,3.9738,13.3067,4.1252,11.8499,52.8114,16.4508,0.0000,0.0000,0.0000,1.0000
1,nypost.com,9192,0.6294,1.9435,6.5082,2.0176,5.7957,25.8297,8.0459,0.0000,0.0000,1.0000,0.0000
2,wsj.com,8582,0.5877,1.8146,6.0763,1.8837,5.4111,24.1155,7.5120,0.0000,0.0000,1.0000,0.0000
3,indiatimes.com,7302,0.5000,1.5439,5.1700,1.6028,4.6040,20.5187,6.3916,0.0000,0.0000,1.0000,0.0000
4,forbes.com,7021,0.4808,1.4845,4.9711,1.5411,4.4268,19.7291,6.1456,0.0000,0.0000,1.0000,0.0000

In [402]:
df_mod = pd.merge(df_dict_tweetsCov19_domains, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod.shape)
df_mod.head()

shape:  (837, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,nytimes.com,35661,2.4419,7.5401,25.2490,7.8274,22.4847,100.2079,31.2148,1.0000,0.0000,0.0000,0.0000
1,theguardian.com,33863,2.3188,7.1599,23.9760,7.4328,21.3511,95.1555,29.6409,1.0000,0.0000,0.0000,0.0000
2,washingtonpost.com,25083,1.7176,5.3035,17.7595,5.5056,15.8152,70.4836,21.9556,1.0000,0.0000,0.0000,0.0000
3,bloomberg.com,16885,1.1562,3.5701,11.9551,3.7062,10.6462,47.4471,14.7798,1.0000,0.0000,0.0000,0.0000
4,nbcnews.com,11190,0.7662,2.3660,7.9229,2.4562,7.0554,31.4441,9.7948,1.0000,0.0000,0.0000,0.0000

In [403]:
df_hard = pd.merge(df_dict_tweetsCov19_domains, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard.shape)
df_hard.head()

shape:  (445, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,cnn.com,29895,2.0471,6.3209,21.1665,6.5618,18.8492,84.0054,26.1677,0.0000,1.0000,0.0000,0.0000
1,foxnews.com,18794,1.2869,3.9738,13.3067,4.1252,11.8499,52.8114,16.4508,0.0000,0.0000,0.0000,1.0000
2,rawstory.com,11516,0.7886,2.4349,8.1537,2.5277,7.2610,32.3601,10.0802,0.0000,1.0000,0.0000,0.0000
3,change.org,8381,0.5739,1.7721,5.9340,1.8396,5.2843,23.5507,7.3361,0.0000,1.0000,0.0000,0.0000
4,thedailybeast.com,4679,0.3204,0.9893,3.3129,1.0270,2.9502,13.1481,4.0956,0.0000,1.0000,0.0000,0.0000

In [404]:
df_prosc = pd.merge(df_dict_tweetsCov19_domains, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc.shape)
df_prosc.head()

shape:  (121, 12)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,cdc.gov,6262,0.4288,1.3240,4.4337,1.3745,3.9483,17.5963,5.4813,1.0000,0.0000,0.0000
1,nih.gov,3597,0.2463,0.7605,2.5468,0.7895,2.2680,10.1076,3.1485,1.0000,0.0000,0.0000
2,who.int,2976,0.2038,0.6292,2.1071,0.6532,1.8764,8.3626,2.6050,1.0000,0.0000,0.0000
3,nature.com,2724,0.1865,0.5760,1.9287,0.5979,1.7175,7.6545,2.3844,1.0000,0.0000,0.0000
4,thelancet.com,1607,0.1100,0.3398,1.1378,0.3527,1.0132,4.5157,1.4066,1.0000,0.0000,0.0000

In [405]:
df_antisc = pd.merge(df_dict_tweetsCov19_domains, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc.shape)
df_antisc.head()

shape:  (510, 11)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,thegatewaypundit.com,16009,1.0962,3.3849,11.3348,3.5139,10.0939,44.9855,14.0130,1.0000,0.0000
1,breitbart.com,14068,0.9633,2.9745,9.9606,3.0879,8.8701,39.5313,12.3140,1.0000,0.0000
2,dailymail.co.uk,11368,0.7784,2.4036,8.0489,2.4952,7.1677,31.9442,9.9506,1.0000,0.0000
3,theepochtimes.com,6055,0.4146,1.2803,4.2871,1.3290,3.8178,17.0146,5.3001,1.0000,0.0000
4,zerohedge.com,4723,0.3234,0.9986,3.3440,1.0367,2.9779,13.2717,4.1341,0.0000,1.0000

In [406]:
df_all_cov19 = pd.merge(df_dict_tweetsCov19_domains, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_cov19.shape)
df_all_cov19.head()

shape:  (1913, 9)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,nytimes.com,35661,2.4419,7.5401,25.2490,7.8274,22.4847,100.2079,31.2148
1,theguardian.com,33863,2.3188,7.1599,23.9760,7.4328,21.3511,95.1555,29.6409
2,cnn.com,29895,2.0471,6.3209,21.1665,6.5618,18.8492,84.0054,26.1677
3,washingtonpost.com,25083,1.7176,5.3035,17.7595,5.5056,15.8152,70.4836,21.9556
4,foxnews.com,18794,1.2869,3.9738,13.3067,4.1252,11.8499,52.8114,16.4508

***

## Non deleted

In [49]:
df_tweetscov19_domains_undel = df_tweetscov19_undel[['Domains']]
dict_tweetscov19_domains_undel = get_unique_domains_with_their_number_of_repeatation(df_tweetscov19_domains_undel)

In [50]:
df_dict_tweetscov19_domains_undel = pd.DataFrame(dict_tweetscov19_domains_undel.items(), columns=['domain','Number'])

In [51]:
Number_of_domains_undel = df_tweetscov19_undel['Number of URLS'].sum()
print('Number of used Domains in non-deleted Tweets TweetsCov19(unique) :', df_dict_tweetscov19_domains_undel.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in non-deleted Tweets TweetsCov19(sum) :', Number_of_domains_undel)

Number of used Domains in non-deleted Tweets TweetsCov19(unique) : 164388
Number of used domains in non-deleted Tweets TweetsCov19(sum) : 2102278

In [ ]:
df_dict_tweetscov19_domains_undel['percent'] =  df_dict_tweetscov19_domains_undel['Number'].apply(lambda row : ((row /Number_of_domains_undel) * 100) )

df_dict_tweetscov19_domains_undel['Number'] = df_dict_tweetscov19_domains_undel['Number'].astype(int) 
df_dict_tweetscov19_domains_undel.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetscov19_domains_undel.head(10)

In [52]:
df_dict_tweetscov19_domains_undel.drop(index=df_dict_tweetscov19_domains_undel.index[0], axis=0, inplace=True)
df_dict_tweetscov19_domains_undel.head()

            domain   Number
1                0  5241504
2  twittascope.com     9640
3      twitter.com   210757
4       google.com    12421
5      airtime.pro      326

In [60]:
df_dict_tweetscov19_domains_undel.drop(index=df_dict_tweetscov19_domains_undel.index[0], axis=0, inplace=True)
df_dict_tweetscov19_domains_undel.head()

            domain  Number
2  twittascope.com    9640
3      twitter.com  210757
4       google.com   12421
5      airtime.pro     326
6           bit.ly    4955

In [61]:
pfad_cov19_undel = '../data/tweetsCov19_all_plds_undel.tsv'
df_dict_tweetscov19_domains_undel.to_csv(pfad_cov19_undel, sep='\t')

-----------------

In [426]:
df_tweetscov19_plds_undel = pd.read_csv(pfad_cov19_undel, sep='\t', error_bad_lines=False)
print('Form', df_tweetscov19_plds_undel.shape)
df_tweetscov19_plds_undel.head()

Form (164387, 3)

   Unnamed: 0           domain  Number
0           2  twittascope.com    9640
1           3      twitter.com  210757
2           4       google.com   12421
3           5      airtime.pro     326
4           6           bit.ly    4955

In [427]:
df_cov19_l_undel = df_tweetscov19_plds_undel[df_tweetscov19_plds_undel.domain.isin(df_domains_left.domain)]
all_used_liberal_plds_undel = df_cov19_l_undel.Number.sum()
all_used_liberal_plds_undel

428777

In [428]:
df_cov19_r_undel = df_tweetscov19_plds_undel[df_tweetscov19_plds_undel.domain.isin(df_domains_right.domain)]
all_used_conservative_plds_undel = df_cov19_r_undel.Number.sum()
all_used_conservative_plds_undel

111823

In [429]:
df_cov19_mod_undel = df_tweetscov19_plds_undel[df_tweetscov19_plds_undel.domain.isin(df_domains_moderate.domain)]
all_used_moderate_plds_undel = df_cov19_mod_undel.Number.sum()
all_used_moderate_plds_undel

410877

In [430]:
df_cov19_hard_undel = df_tweetscov19_plds_undel[df_tweetscov19_plds_undel.domain.isin(df_domains_hardliner.domain)]
all_used_hard_plds_undel = df_cov19_hard_undel.Number.sum()
all_used_hard_plds_undel

129723

In [431]:
df_cov19_prosc_undel = df_tweetscov19_plds_undel[df_tweetscov19_plds_undel.domain.isin(df_domains_proscience.domain)]
all_used_prosc_plds_undel = df_cov19_prosc_undel.Number.sum()
all_used_prosc_plds_undel

30902

In [432]:
df_cov19_antisc_undel = df_tweetscov19_plds_undel[df_tweetscov19_plds_undel.domain.isin(df_domains_antiscience.domain)]
all_used_antisc_plds_undel = df_cov19_antisc_undel.Number.sum()
all_used_antisc_plds_undel

68827

In [433]:
df_tweetscov19_plds_undel['percent'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )
df_tweetscov19_plds_undel.head(6)

   Unnamed: 0           domain  Number  percent
0           2  twittascope.com    9640   0.6601
1           3      twitter.com  210757  14.4317
2           4       google.com   12421   0.8505
3           5      airtime.pro     326   0.0223
4           6           bit.ly    4955   0.3393
5           7     puremuir.com       2   0.0001

In [434]:
df_tweetscov19_plds_undel['percent_l'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /all_used_liberal_plds_undel) * 100) )
df_tweetscov19_plds_undel.head(1)

   Unnamed: 0           domain  Number  percent  percent_l
0           2  twittascope.com    9640   0.6601     2.2483

In [435]:
df_tweetscov19_plds_undel['percent_r'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /all_used_conservative_plds_undel) * 100) )
df_tweetscov19_plds_undel.head(1)

   Unnamed: 0           domain  Number  percent  percent_l  percent_r
0           2  twittascope.com    9640   0.6601     2.2483     8.6208

In [436]:
df_tweetscov19_plds_undel['percent_mod'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /all_used_moderate_plds_undel) * 100) )
df_tweetscov19_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod
0,2,twittascope.com,9640,0.6601,2.2483,8.6208,2.3462

In [437]:
df_tweetscov19_plds_undel['percent_hard'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /all_used_hard_plds_undel) * 100) )
df_tweetscov19_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard
0,2,twittascope.com,9640,0.6601,2.2483,8.6208,2.3462,7.4312

In [438]:
df_tweetscov19_plds_undel['percent_prosc'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /all_used_prosc_plds_undel) * 100) )
df_tweetscov19_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc
0,2,twittascope.com,9640,0.6601,2.2483,8.6208,2.3462,7.4312,31.1954

In [439]:
df_tweetscov19_plds_undel['percent_antisc'] =  df_tweetscov19_plds_undel['Number'].apply(lambda row : ((row /all_used_antisc_plds_undel) * 100) )
df_tweetscov19_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,2,twittascope.com,9640,0.6601,2.2483,8.6208,2.3462,7.4312,31.1954,14.0061

-------------------

In [440]:
df_tweetscov19_plds_undel.sort_values(by = ['Number'], ascending = False, inplace = True)

In [441]:
df_l_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_undel.shape)
df_l_undel.head()

shape:  (786, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,8,nytimes.com,32304,2.2120,7.5340,28.8885,7.8622,24.9023,104.5369,46.9351,1.0000,0.0000,0.0000,0.0000
1,203,theguardian.com,30946,2.1190,7.2173,27.6741,7.5317,23.8554,100.1424,44.9620,1.0000,0.0000,0.0000,0.0000
2,151,cnn.com,27505,1.8834,6.4148,24.5969,6.6942,21.2029,89.0072,39.9625,0.0000,1.0000,0.0000,0.0000
3,21,washingtonpost.com,22975,1.5732,5.3583,20.5459,5.5917,17.7108,74.3479,33.3808,1.0000,0.0000,0.0000,0.0000
4,174,bloomberg.com,15903,1.0890,3.7089,14.2216,3.8705,12.2592,51.4627,23.1058,1.0000,0.0000,0.0000,0.0000

In [442]:
df_r_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_undel.shape)
df_r_undel.head()

shape:  (478, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,28,foxnews.com,9672,0.6623,2.2557,8.6494,2.3540,7.4559,31.2989,14.0526,0.0000,0.0000,0.0000,1.0000
1,345,wsj.com,7708,0.5278,1.7977,6.8930,1.8760,5.9419,24.9434,11.1991,0.0000,0.0000,1.0000,0.0000
2,360,indiatimes.com,6811,0.4664,1.5885,6.0909,1.6577,5.2504,22.0406,9.8958,0.0000,0.0000,1.0000,0.0000
3,2221,nypost.com,6765,0.4632,1.5777,6.0497,1.6465,5.2150,21.8918,9.8290,0.0000,0.0000,1.0000,0.0000
4,16,forbes.com,6257,0.4285,1.4593,5.5954,1.5228,4.8234,20.2479,9.0909,0.0000,0.0000,1.0000,0.0000

In [443]:
df_mod_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_undel.shape)
df_mod_undel.head()

shape:  (828, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,8,nytimes.com,32304,2.2120,7.5340,28.8885,7.8622,24.9023,104.5369,46.9351,1.0000,0.0000,0.0000,0.0000
1,203,theguardian.com,30946,2.1190,7.2173,27.6741,7.5317,23.8554,100.1424,44.9620,1.0000,0.0000,0.0000,0.0000
2,21,washingtonpost.com,22975,1.5732,5.3583,20.5459,5.5917,17.7108,74.3479,33.3808,1.0000,0.0000,0.0000,0.0000
3,174,bloomberg.com,15903,1.0890,3.7089,14.2216,3.8705,12.2592,51.4627,23.1058,1.0000,0.0000,0.0000,0.0000
4,138,nbcnews.com,10144,0.6946,2.3658,9.0715,2.4689,7.8197,32.8264,14.7384,1.0000,0.0000,0.0000,0.0000

In [444]:
df_hard_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_undel.shape)
df_hard_undel.head()

shape:  (436, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,151,cnn.com,27505,1.8834,6.4148,24.5969,6.6942,21.2029,89.0072,39.9625,0.0000,1.0000,0.0000,0.0000
1,15,rawstory.com,10521,0.7204,2.4537,9.4086,2.5606,8.1104,34.0463,15.2862,0.0000,1.0000,0.0000,0.0000
2,28,foxnews.com,9672,0.6623,2.2557,8.6494,2.3540,7.4559,31.2989,14.0526,0.0000,0.0000,0.0000,1.0000
3,313,change.org,6887,0.4716,1.6062,6.1588,1.6762,5.3090,22.2866,10.0062,0.0000,1.0000,0.0000,0.0000
4,228,thedailybeast.com,4204,0.2879,0.9805,3.7595,1.0232,3.2408,13.6043,6.1081,0.0000,1.0000,0.0000,0.0000

In [445]:
df_prosc_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_undel.shape)
df_prosc_undel.head()

shape:  (119, 13)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,1096,cdc.gov,5082,0.3480,1.1852,4.5447,1.2369,3.9176,16.4455,7.3837,1.0000,0.0000,0.0000
1,1974,who.int,2663,0.1823,0.6211,2.3814,0.6481,2.0528,8.6176,3.8691,1.0000,0.0000,0.0000
2,412,nih.gov,2637,0.1806,0.6150,2.3582,0.6418,2.0328,8.5334,3.8313,1.0000,0.0000,0.0000
3,280,nature.com,2528,0.1731,0.5896,2.2607,0.6153,1.9488,8.1807,3.6730,1.0000,0.0000,0.0000
4,64,thelancet.com,1478,0.1012,0.3447,1.3217,0.3597,1.1394,4.7829,2.1474,1.0000,0.0000,0.0000

In [446]:
df_antisc_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_undel.shape)
df_antisc_undel.head()

shape:  (469, 12)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,988,dailymail.co.uk,9075,0.6214,2.1165,8.1155,2.2087,6.9957,29.3670,13.1852,1.0000,0.0000
1,87,breitbart.com,6675,0.4571,1.5568,5.9693,1.6246,5.1456,21.6005,9.6982,1.0000,0.0000
2,51,thegatewaypundit.com,5309,0.3635,1.2382,4.7477,1.2921,4.0926,17.1801,7.7135,1.0000,0.0000
3,66,theepochtimes.com,3970,0.2718,0.9259,3.5503,0.9662,3.0604,12.8471,5.7681,1.0000,0.0000
4,1446,truepundit.com,2971,0.2034,0.6929,2.6569,0.7231,2.2903,9.6143,4.3166,0.0000,1.0000

In [447]:
df_all_cov19_undel = pd.merge(df_tweetscov19_plds_undel, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_cov19_undel.shape)
df_all_cov19_undel.head()

shape:  (1852, 10)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,8,nytimes.com,32304,2.2120,7.5340,28.8885,7.8622,24.9023,104.5369,46.9351
1,203,theguardian.com,30946,2.1190,7.2173,27.6741,7.5317,23.8554,100.1424,44.9620
2,151,cnn.com,27505,1.8834,6.4148,24.5969,6.6942,21.2029,89.0072,39.9625
3,21,washingtonpost.com,22975,1.5732,5.3583,20.5459,5.5917,17.7108,74.3479,33.3808
4,174,bloomberg.com,15903,1.0890,3.7089,14.2216,3.8705,12.2592,51.4627,23.1058

***

# Deleted

In [308]:
df_tweetscov19_domains_del = df_tweetscov19_del[['Domains']]
dict_tweetscov19_domains_del = get_unique_domains_with_their_number_of_repeatation(df_tweetscov19_domains_del)

In [329]:
df_dict_tweetscov19_domains_del = pd.DataFrame(dict_tweetscov19_domains_del.items(), columns=['domain','Number'])

In [330]:
Number_of_domains_del = df_tweetscov19_del['Number of URLS'].sum()
print('Number of used Domains in deleted Tweets TweetsCov19(unique) :', df_dict_tweetscov19_domains_del.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in deleted Tweets TweetsCov19(sum) :', Number_of_domains_del)

Number of used Domains in deleted Tweets TweetsCov19(unique) : 34610
Number of used domains in deleted Tweets TweetsCov19(sum) : 406264

In [331]:
df_dict_tweetscov19_domains_del['percent'] =  df_dict_tweetscov19_domains_del['Number'].apply(lambda row : ((row /Number_of_domains_del) * 100) )

df_dict_tweetscov19_domains_del['Number'] = df_dict_tweetscov19_domains_del['Number'].astype(int) 
df_dict_tweetscov19_domains_del.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetscov19_domains_del.head(10)

                   domain   Number  percent
0                       0  1749033 430.5164
4             twitter.com    60062  14.7840
27            youtube.com    29506   7.2628
5    thegatewaypundit.com    10700   2.6338
17            foxnews.com     9122   2.2453
83          breitbart.com     7393   1.8198
12           onlyfans.com     6360   1.5655
101         instagram.com     6087   1.4983
77            nytimes.com     3357   0.8263
25           blogspot.com     2937   0.7229

In [332]:
df_dict_tweetscov19_domains_del.drop(index=df_dict_tweetscov19_domains_del.index[0], axis=0, inplace=True)
df_dict_tweetscov19_domains_del.head()

                  domain  Number  percent
4            twitter.com   60062  14.7840
27           youtube.com   29506   7.2628
5   thegatewaypundit.com   10700   2.6338
17           foxnews.com    9122   2.2453
83         breitbart.com    7393   1.8198

In [333]:
pfad_cov19_del = '../data/tweetsCov19_all_plds_del.tsv'
df_dict_tweetscov19_domains_del.to_csv(pfad_cov19_del, sep='\t')

-----------------

In [334]:
df_tweetscov19_plds_del = pd.read_csv(pfad_cov19_del, sep='\t', error_bad_lines=False)
print('Form', df_tweetscov19_plds_del.shape)
df_tweetscov19_plds_del.head()

Form (34610, 4)

   Unnamed: 0                domain  Number  percent
0           4           twitter.com   60062  14.7840
1          27           youtube.com   29506   7.2628
2           5  thegatewaypundit.com   10700   2.6338
3          17           foxnews.com    9122   2.2453
4          83         breitbart.com    7393   1.8198

In [312]:
df_cov19_l_del = df_tweetscov19_plds_del[df_tweetscov19_plds_del.domain.isin(df_domains_left.domain)]
all_used_liberal_plds_del = df_cov19_l_del.Number.sum()
all_used_liberal_plds_del

44176

In [313]:
df_cov19_r_del = df_tweetscov19_plds_del[df_tweetscov19_plds_del.domain.isin(df_domains_right.domain)]
all_used_conservative_plds_del = df_cov19_r_del.Number.sum()
all_used_conservative_plds_del

29414

In [314]:
df_cov19_mod_del = df_tweetscov19_plds_del[df_tweetscov19_plds_del.domain.isin(df_domains_moderate.domain)]
all_used_moderate_plds_del = df_cov19_mod_del.Number.sum()
all_used_moderate_plds_del

44712

In [315]:
df_cov19_hard_del = df_tweetscov19_plds_del[df_tweetscov19_plds_del.domain.isin(df_domains_hardliner.domain)]
all_used_hard_plds_del = df_cov19_hard_del.Number.sum()
all_used_hard_plds_del

28878

In [316]:
df_cov19_prosc_del = df_tweetscov19_plds_del[df_tweetscov19_plds_del.domain.isin(df_domains_proscience.domain)]
all_used_prosc_plds_del = df_cov19_prosc_del.Number.sum()
all_used_prosc_plds_del

4685

In [317]:
df_cov19_antisc_del = df_tweetscov19_plds_del[df_tweetscov19_plds_del.domain.isin(df_domains_antiscience.domain)]
all_used_antisc_plds_del = df_cov19_antisc_del.Number.sum()
all_used_antisc_plds_del

45417

In [318]:
df_tweetscov19_plds_del['percent'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )
df_tweetscov19_plds_del.head(6)

   Unnamed: 0                domain  Number  percent
0           1         teamnaito.com       1   0.0001
1           2       twittascope.com    1022   0.0700
2           3               cnn.com    2390   0.1637
3           4           twitter.com   60062   4.1128
4           5  thegatewaypundit.com   10700   0.7327
5           6          thesun.co.uk     416   0.0285

In [335]:
df_tweetscov19_plds_del['percent_l'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /all_used_liberal_plds_del) * 100) )
df_tweetscov19_plds_del.head(1)

   Unnamed: 0       domain  Number  percent  percent_l
0           4  twitter.com   60062  14.7840   135.9607

In [336]:
df_tweetscov19_plds_del['percent_r'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /all_used_conservative_plds_del) * 100) )
df_tweetscov19_plds_del.head(1)

   Unnamed: 0       domain  Number  percent  percent_l  percent_r
0           4  twitter.com   60062  14.7840   135.9607   204.1953

In [337]:
df_tweetscov19_plds_del['percent_mod'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /all_used_moderate_plds_del) * 100) )
df_tweetscov19_plds_del.head(1)

   Unnamed: 0       domain  Number  percent  percent_l  percent_r  percent_mod
0           4  twitter.com   60062  14.7840   135.9607   204.1953     134.3308

In [338]:
df_tweetscov19_plds_del['percent_hard'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /all_used_hard_plds_del) * 100) )
df_tweetscov19_plds_del.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard
0,4,twitter.com,60062,14.7840,135.9607,204.1953,134.3308,207.9853

In [339]:
df_tweetscov19_plds_del['percent_prosc'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /all_used_prosc_plds_del) * 100) )
df_tweetscov19_plds_del.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc
0,4,twitter.com,60062,14.7840,135.9607,204.1953,134.3308,207.9853,1282.0064

In [340]:
df_tweetscov19_plds_del['percent_antisc'] =  df_tweetscov19_plds_del['Number'].apply(lambda row : ((row /all_used_antisc_plds_del) * 100) )
df_tweetscov19_plds_del.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,4,twitter.com,60062,14.7840,135.9607,204.1953,134.3308,207.9853,1282.0064,132.2456

-------------------

In [341]:
df_l_del = pd.merge(df_tweetscov19_plds_del, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_del.shape)
df_l_del.head()

shape:  (620, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,77,nytimes.com,3357,0.8263,7.5991,11.4129,7.5081,11.6248,71.6542,7.3915,1.0000,0.0000,0.0000,0.0000
1,21,theguardian.com,2917,0.7180,6.6031,9.9170,6.5240,10.1011,62.2625,6.4227,1.0000,0.0000,0.0000,0.0000
2,3,cnn.com,2390,0.5883,5.4102,8.1254,5.3453,8.2762,51.0139,5.2623,0.0000,1.0000,0.0000,0.0000
3,46,washingtonpost.com,2108,0.5189,4.7718,7.1667,4.7146,7.2997,44.9947,4.6414,1.0000,0.0000,0.0000,0.0000
4,918,change.org,1494,0.3677,3.3819,5.0792,3.3414,5.1735,31.8890,3.2895,0.0000,1.0000,0.0000,0.0000

In [342]:
df_r_del = pd.merge(df_tweetscov19_plds_del, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_del.shape)
df_r_del.head()

shape:  (393, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,17,foxnews.com,9122,2.2453,20.6492,31.0124,20.4017,31.5881,194.7065,20.0850,0.0000,0.0000,0.0000,1.0000
1,18,nypost.com,2427,0.5974,5.4939,8.2512,5.4281,8.4043,51.8036,5.3438,0.0000,0.0000,1.0000,0.0000
2,193,washingtonexaminer.com,1349,0.3321,3.0537,4.5863,3.0171,4.6714,28.7940,2.9703,0.0000,0.0000,0.0000,1.0000
3,228,dailycaller.com,1328,0.3269,3.0062,4.5149,2.9701,4.5987,28.3458,2.9240,0.0000,0.0000,0.0000,1.0000
4,118,dailywire.com,893,0.2198,2.0215,3.0360,1.9972,3.0923,19.0608,1.9662,0.0000,0.0000,0.0000,1.0000

In [343]:
df_mod_del = pd.merge(df_tweetscov19_plds_del, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_del.shape)
df_mod_del.head()

shape:  (671, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,77,nytimes.com,3357,0.8263,7.5991,11.4129,7.5081,11.6248,71.6542,7.3915,1.0000,0.0000,0.0000,0.0000
1,21,theguardian.com,2917,0.7180,6.6031,9.9170,6.5240,10.1011,62.2625,6.4227,1.0000,0.0000,0.0000,0.0000
2,18,nypost.com,2427,0.5974,5.4939,8.2512,5.4281,8.4043,51.8036,5.3438,0.0000,0.0000,1.0000,0.0000
3,46,washingtonpost.com,2108,0.5189,4.7718,7.1667,4.7146,7.2997,44.9947,4.6414,1.0000,0.0000,0.0000,0.0000
4,234,cnbc.com,1357,0.3340,3.0718,4.6134,3.0350,4.6991,28.9648,2.9879,1.0000,0.0000,0.0000,0.0000

In [344]:
df_hard_del = pd.merge(df_tweetscov19_plds_del, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_del.shape)
df_hard_del.head()

shape:  (342, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,17,foxnews.com,9122,2.2453,20.6492,31.0124,20.4017,31.5881,194.7065,20.0850,0.0000,0.0000,0.0000,1.0000
1,3,cnn.com,2390,0.5883,5.4102,8.1254,5.3453,8.2762,51.0139,5.2623,0.0000,1.0000,0.0000,0.0000
2,918,change.org,1494,0.3677,3.3819,5.0792,3.3414,5.1735,31.8890,3.2895,0.0000,1.0000,0.0000,0.0000
3,193,washingtonexaminer.com,1349,0.3321,3.0537,4.5863,3.0171,4.6714,28.7940,2.9703,0.0000,0.0000,0.0000,1.0000
4,228,dailycaller.com,1328,0.3269,3.0062,4.5149,2.9701,4.5987,28.3458,2.9240,0.0000,0.0000,0.0000,1.0000

In [345]:
df_prosc_del = pd.merge(df_tweetscov19_plds_del, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_del.shape)
df_prosc_del.head()

shape:  (87, 13)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,366,cdc.gov,1180,0.2905,2.6711,4.0117,2.6391,4.0862,25.1868,2.5981,1.0000,0.0000,0.0000
1,208,nih.gov,960,0.2363,2.1731,3.2638,2.1471,3.3243,20.4909,2.1137,1.0000,0.0000,0.0000
2,2783,who.int,313,0.0770,0.7085,1.0641,0.7000,1.0839,6.6809,0.6892,1.0000,0.0000,0.0000
3,925,nature.com,196,0.0482,0.4437,0.6663,0.4384,0.6787,4.1836,0.4316,1.0000,0.0000,0.0000
4,111,sciencedirect.com,154,0.0379,0.3486,0.5236,0.3444,0.5333,3.2871,0.3391,1.0000,0.0000,0.0000

In [346]:
df_antisc_del = pd.merge(df_tweetscov19_plds_del, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_del.shape)
df_antisc_del.head()

shape:  (403, 12)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,5,thegatewaypundit.com,10700,2.6338,24.2213,36.3772,23.9309,37.0524,228.3885,23.5595,1.0000,0.0000
1,83,breitbart.com,7393,1.8198,16.7353,25.1343,16.5347,25.6008,157.8015,16.2780,1.0000,0.0000
2,99,dailymail.co.uk,2293,0.5644,5.1906,7.7956,5.1284,7.9403,48.9434,5.0488,1.0000,0.0000
3,38,zerohedge.com,2129,0.5240,4.8194,7.2380,4.7616,7.3724,45.4429,4.6877,0.0000,1.0000
4,218,theepochtimes.com,2085,0.5132,4.7198,7.0885,4.6632,7.2200,44.5037,4.5908,1.0000,0.0000

In [347]:
df_all_cov19_del = pd.merge(df_tweetscov19_plds_del, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_cov19_del.shape)
df_all_cov19_del.head()

shape:  (1503, 10)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,5,thegatewaypundit.com,10700,2.6338,24.2213,36.3772,23.9309,37.0524,228.3885,23.5595
1,17,foxnews.com,9122,2.2453,20.6492,31.0124,20.4017,31.5881,194.7065,20.0850
2,83,breitbart.com,7393,1.8198,16.7353,25.1343,16.5347,25.6008,157.8015,16.2780
3,77,nytimes.com,3357,0.8263,7.5991,11.4129,7.5081,11.6248,71.6542,7.3915
4,21,theguardian.com,2917,0.7180,6.6031,9.9170,6.5240,10.1011,62.2625,6.4227

***

In [407]:
df_cov19_output_l = pd.DataFrame()
df_cov19_output_l = df_l[['domain', 'percent_l']][0:5]
df_cov19_output_l

               domain  percent_l
0         nytimes.com     7.5401
1     theguardian.com     7.1599
2             cnn.com     6.3209
3  washingtonpost.com     5.3035
4       bloomberg.com     3.5701

In [408]:
df_cov19_output_l[['domain_del', 'percent_del_l']] = df_l_del[['domain', 'percent_l']][0:5]
df_cov19_output_l

               domain  percent_l          domain_del  percent_del_l
0         nytimes.com     7.5401         nytimes.com         7.5991
1     theguardian.com     7.1599     theguardian.com         6.6031
2             cnn.com     6.3209             cnn.com         5.4102
3  washingtonpost.com     5.3035  washingtonpost.com         4.7718
4       bloomberg.com     3.5701          change.org         3.3819

In [409]:
df_cov19_output_l[['domain_undel', 'percent_undel_l']] = df_l_undel[['domain', 'percent_l']][0:5]
df_cov19_output_l

,domain,percent_l,domain_del,percent_del_l,domain_undel,percent_undel_l
0,nytimes.com,7.5401,nytimes.com,7.5991,nytimes.com,7.5340
1,theguardian.com,7.1599,theguardian.com,6.6031,theguardian.com,7.2173
2,cnn.com,6.3209,cnn.com,5.4102,cnn.com,6.4148
3,washingtonpost.com,5.3035,washingtonpost.com,4.7718,washingtonpost.com,5.3583
4,bloomberg.com,3.5701,change.org,3.3819,bloomberg.com,3.7089

In [475]:
df_cov19_output_l.rename(columns={'percent_l': 'percent_all', 'percent_del_l':'percent_del', 'percent_undel_l':'percent_undel'}, inplace=True)
df_cov19_output_l.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,nytimes.com,7.5401,nytimes.com,7.5991,nytimes.com,7.5340
1,theguardian.com,7.1599,theguardian.com,6.6031,theguardian.com,7.2173
2,cnn.com,6.3209,cnn.com,5.4102,cnn.com,6.4148
3,washingtonpost.com,5.3035,washingtonpost.com,4.7718,washingtonpost.com,5.3583
4,bloomberg.com,3.5701,change.org,3.3819,bloomberg.com,3.7089

---------------

In [410]:
df_cov19_output_r = pd.DataFrame()
df_cov19_output_r = df_r[['domain', 'percent_r']][0:5]
df_cov19_output_r

           domain  percent_r
0     foxnews.com    13.3067
1      nypost.com     6.5082
2         wsj.com     6.0763
3  indiatimes.com     5.1700
4      forbes.com     4.9711

In [411]:
df_cov19_output_r[['domain_del', 'percent_del_r']] = df_r_del[['domain', 'percent_r']][0:5]
df_cov19_output_r

           domain  percent_r              domain_del  percent_del_r
0     foxnews.com    13.3067             foxnews.com        31.0124
1      nypost.com     6.5082              nypost.com         8.2512
2         wsj.com     6.0763  washingtonexaminer.com         4.5863
3  indiatimes.com     5.1700         dailycaller.com         4.5149
4      forbes.com     4.9711           dailywire.com         3.0360

In [422]:
df_cov19_output_r[['domain_undel', 'percent_undel_r']] = df_r_undel[['domain', 'percent_r']][0:5]
df_cov19_output_r

,domain,percent_r,domain_del,percent_del_r,domain_undel,percent_undel_r
0,foxnews.com,13.3067,foxnews.com,31.0124,foxnews.com,8.6494
1,nypost.com,6.5082,nypost.com,8.2512,wsj.com,6.8930
2,wsj.com,6.0763,washingtonexaminer.com,4.5863,indiatimes.com,6.0909
3,indiatimes.com,5.1700,dailycaller.com,4.5149,nypost.com,6.0497
4,forbes.com,4.9711,dailywire.com,3.0360,forbes.com,5.5954

In [477]:
df_cov19_output_r.rename(columns={'percent_r': 'percent_all', 'percent_del_r':'percent_del', 'percent_undel_r':'percent_undel'}, inplace=True)
df_cov19_output_r.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,foxnews.com,13.3067,foxnews.com,31.0124,foxnews.com,8.6494
1,nypost.com,6.5082,nypost.com,8.2512,wsj.com,6.8930
2,wsj.com,6.0763,washingtonexaminer.com,4.5863,indiatimes.com,6.0909
3,indiatimes.com,5.1700,dailycaller.com,4.5149,nypost.com,6.0497
4,forbes.com,4.9711,dailywire.com,3.0360,forbes.com,5.5954

----------------

In [423]:
df_cov19_output_mod = pd.DataFrame()
df_cov19_output_mod = df_mod[['domain', 'percent_mod']][0:5]
df_cov19_output_mod

               domain  percent_mod
0         nytimes.com       7.8274
1     theguardian.com       7.4328
2  washingtonpost.com       5.5056
3       bloomberg.com       3.7062
4         nbcnews.com       2.4562

In [453]:
df_cov19_output_mod[['domain_del', 'percent_del_mod']] = df_mod_del[['domain', 'percent_mod']][0:5]
df_cov19_output_mod

,domain,percent_mod,domain_del,percent_del_mod,domain_undel,percent_undel_mod
0,nytimes.com,7.8274,nytimes.com,7.5081,nytimes.com,7.8622
1,theguardian.com,7.4328,theguardian.com,6.5240,theguardian.com,7.5317
2,washingtonpost.com,5.5056,nypost.com,5.4281,washingtonpost.com,5.5917
3,bloomberg.com,3.7062,washingtonpost.com,4.7146,bloomberg.com,3.8705
4,nbcnews.com,2.4562,cnbc.com,3.0350,nbcnews.com,2.4689

In [454]:
df_cov19_output_mod[['domain_undel', 'percent_undel_mod']] = df_mod_undel[['domain', 'percent_mod']][0:5]
df_cov19_output_mod

,domain,percent_mod,domain_del,percent_del_mod,domain_undel,percent_undel_mod
0,nytimes.com,7.8274,nytimes.com,7.5081,nytimes.com,7.8622
1,theguardian.com,7.4328,theguardian.com,6.5240,theguardian.com,7.5317
2,washingtonpost.com,5.5056,nypost.com,5.4281,washingtonpost.com,5.5917
3,bloomberg.com,3.7062,washingtonpost.com,4.7146,bloomberg.com,3.8705
4,nbcnews.com,2.4562,cnbc.com,3.0350,nbcnews.com,2.4689

In [478]:
df_cov19_output_mod.rename(columns={'percent_mod': 'percent_all', 'percent_del_mod':'percent_del', 'percent_undel_mod':'percent_undel'}, inplace=True)
df_cov19_output_mod.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,nytimes.com,7.8274,nytimes.com,7.5081,nytimes.com,7.8622
1,theguardian.com,7.4328,theguardian.com,6.5240,theguardian.com,7.5317
2,washingtonpost.com,5.5056,nypost.com,5.4281,washingtonpost.com,5.5917
3,bloomberg.com,3.7062,washingtonpost.com,4.7146,bloomberg.com,3.8705
4,nbcnews.com,2.4562,cnbc.com,3.0350,nbcnews.com,2.4689

------------

In [459]:
df_cov19_output_hard = pd.DataFrame()
df_cov19_output_hard = df_hard[['domain', 'percent_hard']][0:5]
df_cov19_output_hard

              domain  percent_hard
0            cnn.com       18.8492
1        foxnews.com       11.8499
2       rawstory.com        7.2610
3         change.org        5.2843
4  thedailybeast.com        2.9502

In [460]:
df_cov19_output_hard[['domain_del', 'percent_del_hard']] = df_hard_del[['domain', 'percent_hard']][0:5]
df_cov19_output_hard

              domain  percent_hard              domain_del  percent_del_hard
0            cnn.com       18.8492             foxnews.com           31.5881
1        foxnews.com       11.8499                 cnn.com            8.2762
2       rawstory.com        7.2610              change.org            5.1735
3         change.org        5.2843  washingtonexaminer.com            4.6714
4  thedailybeast.com        2.9502         dailycaller.com            4.5987

In [461]:
df_cov19_output_hard[['domain_undel', 'percent_undel_hard']] = df_hard_undel[['domain', 'percent_hard']][0:5]
df_cov19_output_hard

,domain,percent_hard,domain_del,percent_del_hard,domain_undel,percent_undel_hard
0,cnn.com,18.8492,foxnews.com,31.5881,cnn.com,21.2029
1,foxnews.com,11.8499,cnn.com,8.2762,rawstory.com,8.1104
2,rawstory.com,7.2610,change.org,5.1735,foxnews.com,7.4559
3,change.org,5.2843,washingtonexaminer.com,4.6714,change.org,5.3090
4,thedailybeast.com,2.9502,dailycaller.com,4.5987,thedailybeast.com,3.2408

In [479]:
df_cov19_output_hard.rename(columns={'percent_hard': 'percent_all', 'percent_del_hard':'percent_del', 'percent_undel_hard':'percent_undel'}, inplace=True)
df_cov19_output_hard.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,cnn.com,18.8492,foxnews.com,31.5881,cnn.com,21.2029
1,foxnews.com,11.8499,cnn.com,8.2762,rawstory.com,8.1104
2,rawstory.com,7.2610,change.org,5.1735,foxnews.com,7.4559
3,change.org,5.2843,washingtonexaminer.com,4.6714,change.org,5.3090
4,thedailybeast.com,2.9502,dailycaller.com,4.5987,thedailybeast.com,3.2408

------------

In [464]:
df_cov19_output_prosc = pd.DataFrame()
df_cov19_output_prosc = df_prosc[['domain', 'percent_prosc']][0:5]
df_cov19_output_prosc

          domain  percent_prosc
0        cdc.gov        17.5963
1        nih.gov        10.1076
2        who.int         8.3626
3     nature.com         7.6545
4  thelancet.com         4.5157

In [465]:
df_cov19_output_prosc[['domain_del', 'percent_del_prosc']] = df_prosc_del[['domain', 'percent_prosc']][0:5]
df_cov19_output_prosc

          domain  percent_prosc         domain_del  percent_del_prosc
0        cdc.gov        17.5963            cdc.gov            25.1868
1        nih.gov        10.1076            nih.gov            20.4909
2        who.int         8.3626            who.int             6.6809
3     nature.com         7.6545         nature.com             4.1836
4  thelancet.com         4.5157  sciencedirect.com             3.2871

In [466]:
df_cov19_output_prosc[['domain_undel', 'percent_undel_prosc']] = df_prosc_undel[['domain', 'percent_prosc']][0:5]
df_cov19_output_prosc

,domain,percent_prosc,domain_del,percent_del_prosc,domain_undel,percent_undel_prosc
0,cdc.gov,17.5963,cdc.gov,25.1868,cdc.gov,16.4455
1,nih.gov,10.1076,nih.gov,20.4909,who.int,8.6176
2,who.int,8.3626,who.int,6.6809,nih.gov,8.5334
3,nature.com,7.6545,nature.com,4.1836,nature.com,8.1807
4,thelancet.com,4.5157,sciencedirect.com,3.2871,thelancet.com,4.7829

In [480]:
df_cov19_output_prosc.rename(columns={'percent_prosc': 'percent_all', 'percent_del_prosc':'percent_del', 'percent_undel_prosc':'percent_undel'}, inplace=True)
df_cov19_output_prosc.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,cdc.gov,17.5963,cdc.gov,25.1868,cdc.gov,16.4455
1,nih.gov,10.1076,nih.gov,20.4909,who.int,8.6176
2,who.int,8.3626,who.int,6.6809,nih.gov,8.5334
3,nature.com,7.6545,nature.com,4.1836,nature.com,8.1807
4,thelancet.com,4.5157,sciencedirect.com,3.2871,thelancet.com,4.7829

------------

In [467]:
df_cov19_output_antisc = pd.DataFrame()
df_cov19_output_antisc = df_antisc[['domain', 'percent_antisc']][0:5]
df_cov19_output_antisc

                 domain  percent_antisc
0  thegatewaypundit.com         14.0130
1         breitbart.com         12.3140
2       dailymail.co.uk          9.9506
3     theepochtimes.com          5.3001
4         zerohedge.com          4.1341

In [468]:
df_cov19_output_antisc[['domain_del', 'percent_del_antisc']] = df_antisc_del[['domain', 'percent_antisc']][0:5]
df_cov19_output_antisc

,domain,percent_antisc,domain_del,percent_del_antisc
0,thegatewaypundit.com,14.0130,thegatewaypundit.com,23.5595
1,breitbart.com,12.3140,breitbart.com,16.2780
2,dailymail.co.uk,9.9506,dailymail.co.uk,5.0488
3,theepochtimes.com,5.3001,zerohedge.com,4.6877
4,zerohedge.com,4.1341,theepochtimes.com,4.5908

In [469]:
df_cov19_output_antisc[['domain_undel', 'percent_undel_antisc']] = df_antisc_undel[['domain', 'percent_antisc']][0:5]
df_cov19_output_antisc

,domain,percent_antisc,domain_del,percent_del_antisc,domain_undel,percent_undel_antisc
0,thegatewaypundit.com,14.0130,thegatewaypundit.com,23.5595,dailymail.co.uk,13.1852
1,breitbart.com,12.3140,breitbart.com,16.2780,breitbart.com,9.6982
2,dailymail.co.uk,9.9506,dailymail.co.uk,5.0488,thegatewaypundit.com,7.7135
3,theepochtimes.com,5.3001,zerohedge.com,4.6877,theepochtimes.com,5.7681
4,zerohedge.com,4.1341,theepochtimes.com,4.5908,truepundit.com,4.3166

In [481]:
df_cov19_output_antisc.rename(columns={'percent_antisc': 'percent_all', 'percent_del_antisc':'percent_del', 'percent_undel_antisc':'percent_undel'}, inplace=True)
df_cov19_output_antisc.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,thegatewaypundit.com,14.0130,thegatewaypundit.com,23.5595,dailymail.co.uk,13.1852
1,breitbart.com,12.3140,breitbart.com,16.2780,breitbart.com,9.6982
2,dailymail.co.uk,9.9506,dailymail.co.uk,5.0488,thegatewaypundit.com,7.7135
3,theepochtimes.com,5.3001,zerohedge.com,4.6877,theepochtimes.com,5.7681
4,zerohedge.com,4.1341,theepochtimes.com,4.5908,truepundit.com,4.3166

---------------------

In [485]:
df_0 = pd.concat([df_cov19_output_l, df_cov19_output_r, df_cov19_output_mod, df_cov19_output_hard, df_cov19_output_prosc, df_cov19_output_antisc])
df_0

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,nytimes.com,7.5401,nytimes.com,7.5991,nytimes.com,7.5340
1,theguardian.com,7.1599,theguardian.com,6.6031,theguardian.com,7.2173
2,cnn.com,6.3209,cnn.com,5.4102,cnn.com,6.4148
3,washingtonpost.com,5.3035,washingtonpost.com,4.7718,washingtonpost.com,5.3583
4,bloomberg.com,3.5701,change.org,3.3819,bloomberg.com,3.7089
0,foxnews.com,13.3067,foxnews.com,31.0124,foxnews.com,8.6494
1,nypost.com,6.5082,nypost.com,8.2512,wsj.com,6.8930
2,wsj.com,6.0763,washingtonexaminer.com,4.5863,indiatimes.com,6.0909
3,indiatimes.com,5.1700,dailycaller.com,4.5149,nypost.com,6.0497
4,forbes.com,4.9711,dailywire.com,3.0360,forbes.com,5.5954
0,nytimes.com,7.8274,nytimes.com,7.5081,nytimes.com,7.8622
1,theguardian.com,7.4328,theguardian.com,6.5240,theguardian.com,7.5317
2,washingtonpost.com,5.5056,nypost.com,5.4281,washingtonpost.com,5.5917
3,bloomberg.com,3.7062,washingtonpost.com,4.7146,bloomberg.com,3.8705
4,nbcnews.com,2.4562,cnbc.com,3.0350,nbcnews.com,2.4689
0,cnn.com,18.8492,foxnews.com,31.5881,cnn.com,21.2029
1,foxnews.com,11.8499,cnn.com,8.2762,rawstory.com,8.1104
2,rawstory.com,7.2610,change.org,5.1735,foxnews.com,7.4559
3,change.org,5.2843,washingtonexaminer.com,4.6714,change.org,5.3090
4,thedailybeast.com,2.9502,dailycaller.com,4.5987,thedailybeast.com,3.2408
0,cdc.gov,17.5963,cdc.gov,25.1868,cdc.gov,16.4455
1,nih.gov,10.1076,nih.gov,20.4909,who.int,8.6176
2,who.int,8.3626,who.int,6.6809,nih.gov,8.5334
3,nature.com,7.6545,nature.com,4.1836,nature.com,8.1807
4,thelancet.com,4.5157,sciencedirect.com,3.2871,thelancet.com,4.7829
0,thegatewaypundit.com,14.0130,thegatewaypundit.com,23.5595,dailymail.co.uk,13.1852
1,breitbart.com,12.3140,breitbart.com,16.2780,breitbart.com,9.6982
2,dailymail.co.uk,9.9506,dailymail.co.uk,5.0488,thegatewaypundit.com,7.7135
3,theepochtimes.com,5.3001,zerohedge.com,4.6877,theepochtimes.com,5.7681
4,zerohedge.com,4.1341,theepochtimes.com,4.5908,truepundit.com,4.3166

In [560]:
print(df_0.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.2f}".format))

\begin{tabular}{llrlrlr}
\toprule
{} &                domain &  percent\_all &              domain\_del &  percent\_del &          domain\_undel &  percent\_undel \\
\midrule
0 &           nytimes.com &         7.54 &             nytimes.com &         7.60 &           nytimes.com &           7.53 \\
1 &       theguardian.com &         7.16 &         theguardian.com &         6.60 &       theguardian.com &           7.22 \\
2 &               cnn.com &         6.32 &                 cnn.com &         5.41 &               cnn.com &           6.41 \\
3 &    washingtonpost.com &         5.30 &      washingtonpost.com &         4.77 &    washingtonpost.com &           5.36 \\
4 &         bloomberg.com &         3.57 &              change.org &         3.38 &         bloomberg.com &           3.71 \\
0 &           foxnews.com &        13.31 &             foxnews.com &        31.01 &           foxnews.com &           8.65 \\
1 &            nypost.com &         6.51 &              nypost.com &         8.25 &               wsj.com &           6.89 \\
2 &               wsj.com &         6.08 &  washingtonexaminer.com &         4.59 &        indiatimes.com &           6.09 \\
3 &        indiatimes.com &         5.17 &         dailycaller.com &         4.51 &            nypost.com &           6.05 \\
4 &            forbes.com &         4.97 &           dailywire.com &         3.04 &            forbes.com &           5.60 \\
0 &           nytimes.com &         7.83 &             nytimes.com &         7.51 &           nytimes.com &           7.86 \\
1 &       theguardian.com &         7.43 &         theguardian.com &         6.52 &       theguardian.com &           7.53 \\
2 &    washingtonpost.com &         5.51 &              nypost.com &         5.43 &    washingtonpost.com &           5.59 \\
3 &         bloomberg.com &         3.71 &      washingtonpost.com &         4.71 &         bloomberg.com &           3.87 \\
4 &           nbcnews.com &         2.46 &                cnbc.com &         3.03 &           nbcnews.com &           2.47 \\
0 &               cnn.com &        18.85 &             foxnews.com &        31.59 &               cnn.com &          21.20 \\
1 &           foxnews.com &        11.85 &                 cnn.com &         8.28 &          rawstory.com &           8.11 \\
2 &          rawstory.com &         7.26 &              change.org &         5.17 &           foxnews.com &           7.46 \\
3 &            change.org &         5.28 &  washingtonexaminer.com &         4.67 &            change.org &           5.31 \\
4 &     thedailybeast.com &         2.95 &         dailycaller.com &         4.60 &     thedailybeast.com &           3.24 \\
0 &               cdc.gov &        17.60 &                 cdc.gov &        25.19 &               cdc.gov &          16.45 \\
1 &               nih.gov &        10.11 &                 nih.gov &        20.49 &               who.int &           8.62 \\
2 &               who.int &         8.36 &                 who.int &         6.68 &               nih.gov &           8.53 \\
3 &            nature.com &         7.65 &              nature.com &         4.18 &            nature.com &           8.18 \\
4 &         thelancet.com &         4.52 &       sciencedirect.com &         3.29 &         thelancet.com &           4.78 \\
0 &  thegatewaypundit.com &        14.01 &    thegatewaypundit.com &        23.56 &       dailymail.co.uk &          13.19 \\
1 &         breitbart.com &        12.31 &           breitbart.com &        16.28 &         breitbart.com &           9.70 \\
2 &       dailymail.co.uk &         9.95 &         dailymail.co.uk &         5.05 &  thegatewaypundit.com &           7.71 \\
3 &     theepochtimes.com &         5.30 &           zerohedge.com &         4.69 &     theepochtimes.com &           5.77 \\
4 &         zerohedge.com &         4.13 &       theepochtimes.com &         4.59 &        truepundit.com &           4.32 \\
\bottomrule
\end{tabular}

---------------

# TweetsKB

***

In [133]:
TweetsKB_labels    = ['Tweet_Id', 'Username', 'Timestamp', 'Followers', 'Followees', 'Retweets', 'Favorites', 'Text', 'URLs', 'Is_deleted', 'Hashtags', 'Mentions', 'Number of Hashtags', 'Number of Mentions', 'Textlength', 'Readability', 'Domains', 'Number of URLs', 'Vader_pos', 'Vader_neu', 'Vader_neg', 'Vader_com' , 'Emojis', 'Number of Emojis','Emoji_neg', 'Emoji_neu', 'Emoji_pos', 'Emoji_average', 'Number of valued Emojis']
TweetsKB_Pfad =  '../data/Tweetskb_stichprobe_final.tsv'

In [134]:
#Dataframe TweetsKB 
df_tweetskb = pd.read_csv(TweetsKB_Pfad, sep='\t', error_bad_lines=False, names=TweetsKB_labels)
print('Form :', df_tweetskb.shape)
df_tweetskb.head()

Form : (9409841, 29)

,Tweet_Id,Username,Timestamp,Followers,Followees,Retweets,Favorites,Text,URLs,Is_deleted,Hashtags,Mentions,Number of Hashtags,Number of Mentions,Textlength,Readability,Domains,Number of URLs,Vader_pos,Vader_neu,Vader_neg,Vader_com,Emojis,Number of Emojis,Emoji_neg,Emoji_neu,Emoji_pos,Emoji_average,Number of valued Emojis
0,1178791636039589889,DCComics,2019-09-30 22:00:01+00:00,3349606,563,2,13,"Today on #DCDaily, the crew takes a deep dive ...",http://bit.ly/2mlNYpS:-:,False,['DCDaily'],['DCUTitans'],1,1,192,70.3500,dcuniverseinfinite.com,1,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
1,1178791641265639424,seanberdyz,2019-09-30 22:00:02+00:00,1203,499,4,20,𝘪’𝘮 𝘨𝘰𝘯𝘯𝘢 𝘣𝘦 𝘳𝘪𝘨𝘩𝘵 𝘩𝘦𝘳𝘦 ⟶ https://t.co/kOxWQL5...,http://ourownside.carrd.co:-:,True,[],[],0,0,73,82.3900,carrd.co,1,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
2,1178791640573579264,AnArtistAtBirth,2019-09-30 22:00:02+00:00,109,215,0,0,❛ 𝘠𝘰𝘶'𝘳𝘦 𝘴𝘪𝘵𝘵𝘪𝘯' 𝘰𝘯 𝘺𝘰𝘶𝘳 𝘧𝘦𝘦𝘭𝘪𝘯𝘨𝘴 . . . 𝘐'𝘮 𝘴𝘪...,null;,True,['𝘛𝘩𝘦𝘰𝘯𝘦'],[],1,0,128,123.7550,0,0,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
3,1178791644797255680,lagosboygang,2019-09-30 22:00:03+00:00,571,1401,0,0,@Tiffany_o_ @UG_derrick That's the one i wanna...,null;,True,[],"['Tiffany_o_', 'UG_derrick']",0,2,77,105.9210,0,0,0.0000,1.0000,-0.0000,0.0000,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000
4,1178791648056217600,Phenom_Hoops,2019-09-30 22:00:04+00:00,25630,1674,1,1,2022 6’9 Perry Smith Jr. showcasing his high-m...,https://www.phenomhoopreport.com/2022-69-perry...,False,['PhenomHoops'],[],1,0,227,65.9430,phenomhoopreport.com,1,0.0580,0.9420,-0.0000,0.2263,[],0,-0.0000,0.0000,0.0000,0.0000,0.0000

In [135]:
df_tweetskb_del = df_tweetskb[df_tweetskb['Is_deleted'] == True]
df_tweetskb_undel = df_tweetskb[df_tweetskb['Is_deleted'] == False]

***

In [136]:
df_tweetskb_domains = df_tweetskb[['Domains']]
dict_tweetskb_domains = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains)

In [142]:
df_dict_tweetskb_domains = pd.DataFrame(dict_tweetskb_domains.items(), columns=['domain','Number'])

In [145]:
Number_of_domains = df_tweetskb['Number of URLs'].sum()
print('Number of used Domains in TweetsCov19(unique) :', df_dict_tweetskb_domains.domain.size -1) #-1 is label 0 for no Domains
df_dict_tweetskb_domains.sort_values(by = ['Number'], ascending = False, inplace = True)
print('Number of used domains in TweetsCov19(sum) :', Number_of_domains)

Number of used Domains in TweetsCov19(unique) : 147068
Number of used domains in TweetsCov19(sum) : 1460380

In [147]:
df_dict_tweetskb_domains.drop(index=df_dict_tweetskb_domains.index[0], axis=0, inplace=True)
df_dict_tweetskb_domains.head()

              domain  Number
14       twitter.com  262420
28          youtu.be   65221
37     instagram.com   50601
348  twittascope.com   37526
31        fllwrs.com   32446

In [183]:
pfad_tsv_kb = '../data/tweetskb_all_plds.tsv'
df_dict_tweetskb_domains.to_csv(pfad_tsv_kb, sep='\t')

------------------

In [184]:
df_tweetskb_plds = pd.read_csv(pfad_tsv_kb, sep='\t', error_bad_lines=False)
print('Form', df_tweetskb_plds.shape)
df_tweetskb_plds.head()

Form (147068, 10)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,14,twitter.com,262420,17.9693,259.5545,786.8902,267.1213,724.6569,3897.5197,949.4898
1,28,youtu.be,65221,4.4660,64.5088,195.5711,66.3895,180.1038,968.6767,235.9831
2,37,instagram.com,50601,3.4649,50.0485,151.7317,51.5075,139.7316,751.5372,183.0849
3,348,twittascope.com,37526,2.5696,37.1162,112.5251,38.1983,103.6258,557.3444,135.7768
4,31,fllwrs.com,32446,2.2218,32.0917,97.2923,33.0273,89.5977,481.8951,117.3963

In [185]:
df_kb_l_all = df_dict_tweetskb_domains[df_dict_tweetskb_domains.domain.isin(df_domains_left.domain)]
all_kb_used_liberal_plds = df_kb_l_all.Number.sum()
all_kb_used_liberal_plds

101104

In [186]:
df_kb_r_all = df_dict_tweetskb_domains[df_dict_tweetskb_domains.domain.isin(df_domains_right.domain)]
all_kb_used_conservative_plds = df_kb_r_all.Number.sum()
all_kb_used_conservative_plds

33349

In [152]:
df_kb_mod_all = df_dict_tweetskb_domains[df_dict_tweetskb_domains.domain.isin(df_domains_moderate.domain)]
all_kb_used_mod_plds = df_kb_mod_all.Number.sum()
all_kb_used_mod_plds

98240

In [153]:
df_kb_hard_all = df_dict_tweetskb_domains[df_dict_tweetskb_domains.domain.isin(df_domains_hardliner.domain)]
all_kb_used_hard_plds = df_kb_hard_all.Number.sum()
all_kb_used_hard_plds

36213

In [154]:
df_kb_proscience_all = df_dict_tweetskb_domains[df_dict_tweetskb_domains.domain.isin(df_domains_proscience.domain)]
all_kb_used_proscience_plds = df_kb_proscience_all.Number.sum()
all_kb_used_proscience_plds

6733

In [155]:
df_kb_antiscience_all = df_dict_tweetskb_domains[df_dict_tweetskb_domains.domain.isin(df_domains_antiscience.domain)]
all_kb_used_antiscience_plds = df_kb_antiscience_all.Number.sum()
all_kb_used_antiscience_plds

27638

In [156]:
df_dict_tweetskb_domains['percent'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )
df_dict_tweetskb_domains.head(1)

         domain  Number  percent
14  twitter.com  262420  17.9693

In [170]:
df_dict_tweetskb_domains['percent_l'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /all_kb_used_liberal_plds) * 100) )
df_dict_tweetskb_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
14,twitter.com,262420,17.9693,259.5545,185.8012,57.6002,165.4592,737.4041,229.7013

In [171]:
df_dict_tweetskb_domains['percent_r'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /all_kb_used_conservative_plds) * 100) )
df_dict_tweetskb_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
14,twitter.com,262420,17.9693,259.5545,786.8902,57.6002,165.4592,737.4041,229.7013

In [172]:
df_dict_tweetskb_domains['percent_mod'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /all_kb_used_mod_plds) * 100) )
df_dict_tweetskb_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
14,twitter.com,262420,17.9693,259.5545,786.8902,267.1213,165.4592,737.4041,229.7013

In [173]:
df_dict_tweetskb_domains['percent_hard'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /all_kb_used_hard_plds) * 100) )
df_dict_tweetskb_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
14,twitter.com,262420,17.9693,259.5545,786.8902,267.1213,724.6569,737.4041,229.7013

In [174]:
df_dict_tweetskb_domains['percent_prosc'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /all_kb_used_proscience_plds) * 100) )
df_dict_tweetskb_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
14,twitter.com,262420,17.9693,259.5545,786.8902,267.1213,724.6569,3897.5197,229.7013

In [175]:
df_dict_tweetskb_domains['percent_antisc'] =  df_dict_tweetskb_domains['Number'].apply(lambda row : ((row /all_kb_used_antiscience_plds) * 100) )

df_dict_tweetskb_domains.head(1)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
14,twitter.com,262420,17.9693,259.5545,786.8902,267.1213,724.6569,3897.5197,949.4898

***

In [176]:
df_l_kb = pd.merge(df_dict_tweetskb_domains, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_kb.shape)
df_l_kb.head()

shape:  (760, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,theguardian.com,8832,0.6048,8.7356,26.4836,8.9902,24.3890,131.1748,31.9560,1.0000,0.0000,0.0000,0.0000
1,nytimes.com,5532,0.3788,5.4716,16.5882,5.6311,15.2763,82.1625,20.0159,1.0000,0.0000,0.0000,0.0000
2,washingtonpost.com,4765,0.3263,4.7130,14.2883,4.8504,13.1583,70.7708,17.2408,1.0000,0.0000,0.0000,0.0000
3,cnn.com,3680,0.2520,3.6398,11.0348,3.7459,10.1621,54.6562,13.3150,0.0000,1.0000,0.0000,0.0000
4,medium.com,3228,0.2210,3.1928,9.6795,3.2858,8.9139,47.9430,11.6796,1.0000,0.0000,0.0000,0.0000

In [177]:
df_r_kb = pd.merge(df_dict_tweetskb_domains, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_kb.shape)
df_r_kb.head()

shape:  (460, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,foxnews.com,3720,0.2547,3.6794,11.1548,3.7866,10.2726,55.2503,13.4597,0.0000,0.0000,0.0000,1.0000
1,forbes.com,2001,0.1370,1.9792,6.0002,2.0368,5.5256,29.7193,7.2400,0.0000,0.0000,1.0000,0.0000
2,nypost.com,1862,0.1275,1.8417,5.5834,1.8954,5.1418,27.6548,6.7371,0.0000,0.0000,1.0000,0.0000
3,wsj.com,1619,0.1109,1.6013,4.8547,1.6480,4.4708,24.0457,5.8579,0.0000,0.0000,1.0000,0.0000
4,indiatimes.com,1317,0.0902,1.3026,3.9491,1.3406,3.6368,19.5604,4.7652,0.0000,0.0000,1.0000,0.0000

In [178]:
df_mod_kb = pd.merge(df_dict_tweetskb_domains, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_kb.shape)
df_mod_kb.head()

shape:  (799, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,theguardian.com,8832,0.6048,8.7356,26.4836,8.9902,24.3890,131.1748,31.9560,1.0000,0.0000,0.0000,0.0000
1,nytimes.com,5532,0.3788,5.4716,16.5882,5.6311,15.2763,82.1625,20.0159,1.0000,0.0000,0.0000,0.0000
2,washingtonpost.com,4765,0.3263,4.7130,14.2883,4.8504,13.1583,70.7708,17.2408,1.0000,0.0000,0.0000,0.0000
3,medium.com,3228,0.2210,3.1928,9.6795,3.2858,8.9139,47.9430,11.6796,1.0000,0.0000,0.0000,0.0000
4,bloomberg.com,2578,0.1765,2.5498,7.7304,2.6242,7.1190,38.2890,9.3277,1.0000,0.0000,0.0000,0.0000

In [179]:
df_hard_kb = pd.merge(df_dict_tweetskb_domains, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_kb.shape)
df_hard_kb.head()

shape:  (421, 13)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,foxnews.com,3720,0.2547,3.6794,11.1548,3.7866,10.2726,55.2503,13.4597,0.0000,0.0000,0.0000,1.0000
1,cnn.com,3680,0.2520,3.6398,11.0348,3.7459,10.1621,54.6562,13.3150,0.0000,1.0000,0.0000,0.0000
2,rawstory.com,2502,0.1713,2.4747,7.5025,2.5468,6.9091,37.1603,9.0528,0.0000,1.0000,0.0000,0.0000
3,thedailybeast.com,1225,0.0839,1.2116,3.6733,1.2469,3.3828,18.1940,4.4323,0.0000,1.0000,0.0000,0.0000
4,msnbc.com,1207,0.0826,1.1938,3.6193,1.2286,3.3331,17.9266,4.3672,0.0000,1.0000,0.0000,0.0000

In [180]:
df_prosc_kb = pd.merge(df_dict_tweetskb_domains, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_kb.shape)
df_prosc_kb.head()

shape:  (114, 12)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,nih.gov,692,0.0474,0.6844,2.0750,0.7044,1.9109,10.2777,2.5038,1.0000,0.0000,0.0000
1,nature.com,675,0.0462,0.6676,2.0240,0.6871,1.8640,10.0252,2.4423,1.0000,0.0000,0.0000
2,nasa.gov,642,0.0440,0.6350,1.9251,0.6535,1.7728,9.5351,2.3229,1.0000,0.0000,0.0000
3,cdc.gov,404,0.0277,0.3996,1.2114,0.4112,1.1156,6.0003,1.4618,1.0000,0.0000,0.0000
4,sciencedirect.com,236,0.0162,0.2334,0.7077,0.2402,0.6517,3.5051,0.8539,1.0000,0.0000,0.0000

In [181]:
df_antisc_kb = pd.merge(df_dict_tweetskb_domains, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_kb.shape)
df_antisc_kb.head()

shape:  (463, 11)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,thegatewaypundit.com,4273,0.2926,4.2263,12.8130,4.3496,11.7996,63.4635,15.4606,1.0000,0.0000
1,breitbart.com,4127,0.2826,4.0819,12.3752,4.2009,11.3965,61.2951,14.9323,1.0000,0.0000
2,dailymail.co.uk,2506,0.1716,2.4786,7.5145,2.5509,6.9202,37.2197,9.0672,1.0000,0.0000
3,theepochtimes.com,1055,0.0722,1.0435,3.1635,1.0739,2.9133,15.6691,3.8172,1.0000,0.0000
4,truepundit.com,1018,0.0697,1.0069,3.0526,1.0362,2.8111,15.1196,3.6833,0.0000,1.0000

In [182]:
df_all_kb = pd.merge(df_dict_tweetskb_domains, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_kb.shape)
df_all_kb.head()

shape:  (1797, 9)

,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,theguardian.com,8832,0.6048,8.7356,26.4836,8.9902,24.3890,131.1748,31.9560
1,nytimes.com,5532,0.3788,5.4716,16.5882,5.6311,15.2763,82.1625,20.0159
2,washingtonpost.com,4765,0.3263,4.7130,14.2883,4.8504,13.1583,70.7708,17.2408
3,thegatewaypundit.com,4273,0.2926,4.2263,12.8130,4.3496,11.7996,63.4635,15.4606
4,breitbart.com,4127,0.2826,4.0819,12.3752,4.2009,11.3965,61.2951,14.9323

***

## Non deleted

In [190]:
df_tweetskb_domains_undel = df_tweetskb_undel[['Domains']]
dict_tweetskb_domains_undel = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains_undel)

In [195]:
df_dict_tweetskb_domains_undel = pd.DataFrame(dict_tweetskb_domains_undel.items(), columns=['domain','Number'])

In [196]:
Number_of_domains_undel = df_tweetskb_undel['Number of URLs'].sum()
print('Number of used Domains in non deleted TweetsCov19(unique) :', df_dict_tweetskb_domains_undel.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in non deleted TweetsCov19(sum) :', Number_of_domains_undel)

Number of used Domains in non deleted TweetsCov19(unique) : 129118
Number of used domains in non deleted TweetsCov19(sum) : 1130977

In [197]:
df_dict_tweetskb_domains_undel['percent'] =  df_dict_tweetskb_domains_undel['Number'].apply(lambda row : ((row /Number_of_domains) * 100) )

df_dict_tweetskb_domains_undel['Number'] = df_dict_tweetskb_domains_undel['Number'].astype(int) 
df_dict_tweetskb_domains_undel.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_domains_undel.head(10)

              domain   Number  percent
2                  0  5609983 384.1454
10       twitter.com   193662  13.2611
20          youtu.be    47906   3.2804
27     instagram.com    43938   3.0087
294  twittascope.com    33973   2.3263
49       youtube.com    20513   1.4046
22        fllwrs.com    20323   1.3916
47      facebook.com    13042   0.8931
61         twitch.tv    12098   0.8284
59      onlyfans.com     8326   0.5701

In [198]:
df_dict_tweetskb_domains_undel.drop(index=df_dict_tweetskb_domains_undel.index[0], axis=0, inplace=True)
df_dict_tweetskb_domains_undel.head()

              domain  Number  percent
10       twitter.com  193662  13.2611
20          youtu.be   47906   3.2804
27     instagram.com   43938   3.0087
294  twittascope.com   33973   2.3263
49       youtube.com   20513   1.4046

In [201]:
pfad_tsv_kb_undel = '../data/tweetskb_all_plds_undel.tsv'
df_dict_tweetskb_domains_undel.to_csv(pfad_tsv_kb_undel, sep='\t')

------------------

In [202]:
df_tweetskb_plds_undel = pd.read_csv(pfad_tsv_kb_undel, sep='\t', error_bad_lines=False)
print('Form', df_tweetskb_plds_undel.shape)
df_tweetskb_plds_undel.head()

Form (129118, 4)

   Unnamed: 0           domain  Number  percent
0          10      twitter.com  193662  13.2611
1          20         youtu.be   47906   3.2804
2          27    instagram.com   43938   3.0087
3         294  twittascope.com   33973   2.3263
4          49      youtube.com   20513   1.4046

In [203]:
df_kb_l_all_undel = df_tweetskb_plds_undel[df_tweetskb_plds_undel.domain.isin(df_domains_left.domain)]
all_kb_used_liberal_plds_undel = df_kb_l_all_undel.Number.sum()
all_kb_used_liberal_plds_undel

88651

In [204]:
df_kb_r_all_undel = df_tweetskb_plds_undel[df_tweetskb_plds_undel.domain.isin(df_domains_right.domain)]
all_kb_used_conservative_plds_undel = df_kb_r_all_undel.Number.sum()
all_kb_used_conservative_plds_undel

25797

In [205]:
df_kb_mod_all_undel = df_tweetskb_plds_undel[df_tweetskb_plds_undel.domain.isin(df_domains_moderate.domain)]
all_kb_used_mod_plds_undel = df_kb_mod_all_undel.Number.sum()
all_kb_used_mod_plds_undel

85872

In [206]:
df_kb_hard_all_undel = df_tweetskb_plds_undel[df_tweetskb_plds_undel.domain.isin(df_domains_hardliner.domain)]
all_kb_used_hard_plds_undel = df_kb_hard_all_undel.Number.sum()
all_kb_used_hard_plds_undel

28576

In [207]:
df_kb_proscience_all_undel = df_tweetskb_plds_undel[df_tweetskb_plds_undel.domain.isin(df_domains_proscience.domain)]
all_kb_used_proscience_plds_undel = df_kb_proscience_all_undel.Number.sum()
all_kb_used_proscience_plds_undel

5971

In [208]:
df_kb_antiscience_all_undel = df_tweetskb_plds_undel[df_tweetskb_plds_undel.domain.isin(df_domains_antiscience.domain)]
all_kb_used_antiscience_plds_undel = df_kb_antiscience_all_undel.Number.sum()
all_kb_used_antiscience_plds_undel

15402

In [217]:
df_tweetskb_plds_undel['percent'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /Number_of_domains_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822

In [218]:
df_tweetskb_plds_undel['percent_l'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /all_kb_used_liberal_plds_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822

In [219]:
df_tweetskb_plds_undel['percent_r'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /all_kb_used_conservative_plds_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822

In [220]:
df_tweetskb_plds_undel['percent_mod'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /all_kb_used_mod_plds_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822

In [232]:
df_tweetskb_plds_undel['percent_hard'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /all_kb_used_hard_plds_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822,677.7086

In [222]:
df_tweetskb_plds_undel['percent_prosc'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /all_kb_used_proscience_plds_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822,677.7086

In [223]:
df_tweetskb_plds_undel['percent_antisc'] =  df_tweetskb_plds_undel['Number'].apply(lambda row : ((row /all_kb_used_antiscience_plds_undel) * 100) )
df_tweetskb_plds_undel.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard
0,10,twitter.com,193662,17.1234,218.4544,750.7152,225.5240,3243.3763,1257.3822,677.7086

***

In [224]:
df_l_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_kb_undel.shape)
df_l_kb_undel.head()

shape:  (752, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,149,theguardian.com,7965,0.7043,8.9847,30.8757,9.2754,133.3947,51.7141,27.8730,1.0000,0.0000,0.0000,0.0000
1,274,nytimes.com,4745,0.4195,5.3524,18.3936,5.5257,79.4674,30.8077,16.6048,1.0000,0.0000,0.0000,0.0000
2,30,washingtonpost.com,4206,0.3719,4.7444,16.3042,4.8980,70.4405,27.3081,14.7186,1.0000,0.0000,0.0000,0.0000
3,80,cnn.com,3116,0.2755,3.5149,12.0789,3.6287,52.1856,20.2311,10.9043,0.0000,1.0000,0.0000,0.0000
4,85,medium.com,2773,0.2452,3.1280,10.7493,3.2292,46.4411,18.0042,9.7039,1.0000,0.0000,0.0000,0.0000

In [226]:
df_r_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_kb_undel.shape)
df_r_kb_undel.head()

shape:  (442, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,872,foxnews.com,1792,0.1584,2.0214,6.9465,2.0868,30.0117,11.6349,6.2710,0.0000,0.0000,0.0000,1.0000
1,511,forbes.com,1774,0.1569,2.0011,6.8768,2.0659,29.7103,11.5180,6.2080,0.0000,0.0000,1.0000,0.0000
2,78,wsj.com,1405,0.1242,1.5849,5.4464,1.6362,23.5304,9.1222,4.9167,0.0000,0.0000,1.0000,0.0000
3,1640,nypost.com,1315,0.1163,1.4833,5.0975,1.5313,22.0231,8.5379,4.6018,0.0000,0.0000,1.0000,0.0000
4,167,indiatimes.com,1190,0.1052,1.3423,4.6129,1.3858,19.9297,7.7263,4.1643,0.0000,0.0000,1.0000,0.0000

In [227]:
df_mod_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_kb_undel.shape)
df_mod_kb_undel.head()

shape:  (789, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,149,theguardian.com,7965,0.7043,8.9847,30.8757,9.2754,133.3947,51.7141,27.8730,1.0000,0.0000,0.0000,0.0000
1,274,nytimes.com,4745,0.4195,5.3524,18.3936,5.5257,79.4674,30.8077,16.6048,1.0000,0.0000,0.0000,0.0000
2,30,washingtonpost.com,4206,0.3719,4.7444,16.3042,4.8980,70.4405,27.3081,14.7186,1.0000,0.0000,0.0000,0.0000
3,85,medium.com,2773,0.2452,3.1280,10.7493,3.2292,46.4411,18.0042,9.7039,1.0000,0.0000,0.0000,0.0000
4,151,bloomberg.com,2382,0.2106,2.6869,9.2336,2.7739,39.8928,15.4655,8.3357,1.0000,0.0000,0.0000,0.0000

In [233]:
df_hard_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_kb_undel.shape)
df_hard_kb_undel.head()

shape:  (405, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,80,cnn.com,3116,0.2755,3.5149,12.0789,3.6287,52.1856,20.2311,10.9043,0.0000,1.0000,0.0000,0.0000
1,25,rawstory.com,2216,0.1959,2.4997,8.5901,2.5806,37.1127,14.3877,7.7548,0.0000,1.0000,0.0000,0.0000
2,872,foxnews.com,1792,0.1584,2.0214,6.9465,2.0868,30.0117,11.6349,6.2710,0.0000,0.0000,0.0000,1.0000
3,280,msnbc.com,1142,0.1010,1.2882,4.4269,1.3299,19.1258,7.4146,3.9964,0.0000,1.0000,0.0000,0.0000
4,485,thedailybeast.com,1060,0.0937,1.1957,4.1090,1.2344,17.7525,6.8822,3.7094,0.0000,1.0000,0.0000,0.0000

In [234]:
df_prosc_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_kb_undel.shape)
df_prosc_kb_undel.head()

shape:  (112, 13)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,141,nature.com,638,0.0564,0.7197,2.4732,0.7430,10.6850,4.1423,2.2326,1.0000,0.0000,0.0000
1,261,nasa.gov,588,0.0520,0.6633,2.2793,0.6847,9.8476,3.8177,2.0577,1.0000,0.0000,0.0000
2,54,nih.gov,571,0.0505,0.6441,2.2134,0.6649,9.5629,3.7073,1.9982,1.0000,0.0000,0.0000
3,256,cdc.gov,319,0.0282,0.3598,1.2366,0.3715,5.3425,2.0712,1.1163,1.0000,0.0000,0.0000
4,6761,technologyreview.com,215,0.0190,0.2425,0.8334,0.2504,3.6007,1.3959,0.7524,1.0000,0.0000,0.0000

In [235]:
df_antisc_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_kb_undel.shape)
df_antisc_kb_undel.head()

shape:  (414, 12)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,150,breitbart.com,1929,0.1706,2.1759,7.4776,2.2464,32.3061,12.5243,6.7504,1.0000,0.0000
1,672,dailymail.co.uk,1789,0.1582,2.0180,6.9349,2.0833,29.9615,11.6154,6.2605,1.0000,0.0000
2,370,thegatewaypundit.com,1349,0.1193,1.5217,5.2293,1.5709,22.5925,8.7586,4.7207,1.0000,0.0000
3,735,truepundit.com,673,0.0595,0.7592,2.6088,0.7837,11.2711,4.3696,2.3551,0.0000,1.0000
4,1611,theepochtimes.com,647,0.0572,0.7298,2.5080,0.7534,10.8357,4.2008,2.2641,1.0000,0.0000

In [230]:
df_all_kb_undel = pd.merge(df_tweetskb_plds_undel, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_kb_undel.shape)
df_all_kb_undel.head()

shape:  (1720, 10)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_prosc,percent_antisc,percent_hard
0,149,theguardian.com,7965,0.7043,8.9847,30.8757,9.2754,133.3947,51.7141,27.8730
1,274,nytimes.com,4745,0.4195,5.3524,18.3936,5.5257,79.4674,30.8077,16.6048
2,30,washingtonpost.com,4206,0.3719,4.7444,16.3042,4.8980,70.4405,27.3081,14.7186
3,80,cnn.com,3116,0.2755,3.5149,12.0789,3.6287,52.1856,20.2311,10.9043
4,85,medium.com,2773,0.2452,3.1280,10.7493,3.2292,46.4411,18.0042,9.7039

***

## Deleted

In [236]:
df_tweetskb_domains_del = df_tweetskb_del[['Domains']]
dict_tweetskb_domains_del = get_unique_domains_with_their_number_of_repeatation(df_tweetskb_domains_del)

In [237]:
df_dict_tweetskb_domains_del = pd.DataFrame(dict_tweetskb_domains_del.items(), columns=['domain','Number'])

In [238]:
Number_of_domains_del = df_tweetskb_del['Number of URLs'].sum()
print('Number of used Domains in deleted TweetsCov19(unique) :', df_dict_tweetskb_domains_del.domain.size -1) #-1 is label 0 for no Domains
print('Number of used domains in deleted TweetsCov19(sum) :', Number_of_domains_del)

Number of used Domains in deleted TweetsCov19(unique) : 31417
Number of used domains in deleted TweetsCov19(sum) : 329403

In [239]:
df_dict_tweetskb_domains_del['percent'] =  df_dict_tweetskb_domains_del['Number'].apply(lambda row : ((row /Number_of_domains_del) * 100) )

df_dict_tweetskb_domains_del['Number'] = df_dict_tweetskb_domains_del['Number'].astype(int) 
df_dict_tweetskb_domains_del.sort_values(by = ['Number'], ascending = False, inplace = True)
df_dict_tweetskb_domains_del.head(10)

            domain   Number  percent
1                0  2414031 732.8503
7      twitter.com    68758  20.8735
35        youtu.be    17315   5.2565
13      fllwrs.com    12123   3.6803
32    onlyfans.com    10304   3.1281
18   instagram.com     6663   2.0228
116    youtube.com     6133   1.8619
10    blogspot.com     3946   1.1979
41      sumall.com     3819   1.1594
78     spotify.com     3561   1.0810

In [240]:
df_dict_tweetskb_domains_del.drop(index=df_dict_tweetskb_domains_del.index[0], axis=0, inplace=True)
df_dict_tweetskb_domains_del.head()

           domain  Number  percent
7     twitter.com   68758  20.8735
35       youtu.be   17315   5.2565
13     fllwrs.com   12123   3.6803
32   onlyfans.com   10304   3.1281
18  instagram.com    6663   2.0228

In [241]:
pfad_tsv_kb_del = '../data/tweetskb_all_plds_del.tsv'
df_dict_tweetskb_domains_del.to_csv(pfad_tsv_kb_del, sep='\t')

------------------

In [242]:
df_tweetskb_plds_del = pd.read_csv(pfad_tsv_kb_del, sep='\t', error_bad_lines=False)
print('Form', df_tweetskb_plds_del.shape)
df_tweetskb_plds_del.head()

Form (31417, 4)

   Unnamed: 0         domain  Number  percent
0           7    twitter.com   68758  20.8735
1          35       youtu.be   17315   5.2565
2          13     fllwrs.com   12123   3.6803
3          32   onlyfans.com   10304   3.1281
4          18  instagram.com    6663   2.0228

In [245]:
df_kb_l_all_del = df_tweetskb_plds_del[df_tweetskb_plds_del.domain.isin(df_domains_left.domain)]
all_kb_used_liberal_plds_del = df_kb_l_all_del.Number.sum()
all_kb_used_liberal_plds_del

12453

In [247]:
df_kb_r_all_undel = df_tweetskb_plds_del[df_tweetskb_plds_del.domain.isin(df_domains_right.domain)]
all_kb_used_conservative_plds_del = df_kb_r_all_undel.Number.sum()
all_kb_used_conservative_plds_del

7552

In [248]:
df_kb_mod_all_del = df_tweetskb_plds_del[df_tweetskb_plds_del.domain.isin(df_domains_moderate.domain)]
all_kb_used_mod_plds_del = df_kb_mod_all_del.Number.sum()
all_kb_used_mod_plds_del

12368

In [249]:
df_kb_hard_all_del = df_tweetskb_plds_del[df_tweetskb_plds_del.domain.isin(df_domains_hardliner.domain)]
all_kb_used_hard_plds_del = df_kb_hard_all_del.Number.sum()
all_kb_used_hard_plds_del

7637

In [250]:
df_kb_proscience_all_del = df_tweetskb_plds_del[df_tweetskb_plds_del.domain.isin(df_domains_proscience.domain)]
all_kb_used_proscience_plds_del = df_kb_proscience_all_del.Number.sum()
all_kb_used_proscience_plds_del

762

In [251]:
df_kb_antiscience_all_del = df_tweetskb_plds_del[df_tweetskb_plds_del.domain.isin(df_domains_antiscience.domain)]
all_kb_used_antiscience_plds_del = df_kb_antiscience_all_del.Number.sum()
all_kb_used_antiscience_plds_del

12236

In [252]:
df_tweetskb_plds_del['percent'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /Number_of_domains_del) * 100) )
df_tweetskb_plds_del.head(1)

   Unnamed: 0       domain  Number  percent
0           7  twitter.com   68758  20.8735

In [253]:
df_tweetskb_plds_del['percent_l'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /all_kb_used_liberal_plds_del) * 100) )
df_tweetskb_plds_del.head(1)

   Unnamed: 0       domain  Number  percent  percent_l
0           7  twitter.com   68758  20.8735   552.1400

In [254]:
df_tweetskb_plds_del['percent_r'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /all_kb_used_conservative_plds_del) * 100) )
df_tweetskb_plds_del.head(1)

   Unnamed: 0       domain  Number  percent  percent_l  percent_r
0           7  twitter.com   68758  20.8735   552.1400   910.4608

In [255]:
df_tweetskb_plds_del['percent_mod'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /all_kb_used_mod_plds_del) * 100) )
df_tweetskb_plds_del.head(1)

   Unnamed: 0       domain  Number  percent  percent_l  percent_r  percent_mod
0           7  twitter.com   68758  20.8735   552.1400   910.4608     555.9347

In [256]:
df_tweetskb_plds_del['percent_hard'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /all_kb_used_hard_plds_del) * 100) )
df_tweetskb_plds_del.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard
0,7,twitter.com,68758,20.8735,552.1400,910.4608,555.9347,900.3274

In [257]:
df_tweetskb_plds_del['percent_prosc'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /all_kb_used_proscience_plds_del) * 100) )
df_tweetskb_plds_del.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc
0,7,twitter.com,68758,20.8735,552.1400,910.4608,555.9347,900.3274,9023.3596

In [258]:
df_tweetskb_plds_del['percent_antisc'] =  df_tweetskb_plds_del['Number'].apply(lambda row : ((row /all_kb_used_antiscience_plds_del) * 100) )
df_tweetskb_plds_del.head(1)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,7,twitter.com,68758,20.8735,552.1400,910.4608,555.9347,900.3274,9023.3596,561.9320

***

In [259]:
df_l_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_left, on='domain', how='inner')
print('shape: ', df_l_kb_del.shape)
df_l_kb_del.head()

shape:  (520, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,210,theguardian.com,867,0.2632,6.9622,11.4804,7.0100,11.3526,113.7795,7.0856,1.0000,0.0000,0.0000,0.0000
1,97,nytimes.com,787,0.2389,6.3198,10.4211,6.3632,10.3051,103.2808,6.4318,1.0000,0.0000,0.0000,0.0000
2,502,cnn.com,564,0.1712,4.5290,7.4682,4.5602,7.3851,74.0157,4.6093,0.0000,1.0000,0.0000,0.0000
3,251,washingtonpost.com,559,0.1697,4.4889,7.4020,4.5197,7.3196,73.3596,4.5685,1.0000,0.0000,0.0000,0.0000
4,49,medium.com,455,0.1381,3.6537,6.0249,3.6788,5.9578,59.7113,3.7185,1.0000,0.0000,0.0000,0.0000

In [260]:
df_r_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_right, on='domain', how='inner')
print('shape: ', df_r_kb_del.shape)
df_r_kb_del.head()

shape:  (332, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,17,foxnews.com,1928,0.5853,15.4822,25.5297,15.5886,25.2455,253.0184,15.7568,0.0000,0.0000,0.0000,1.0000
1,109,nypost.com,547,0.1661,4.3925,7.2431,4.4227,7.1625,71.7848,4.4704,0.0000,0.0000,1.0000,0.0000
2,101,dailycaller.com,361,0.1096,2.8989,4.7802,2.9188,4.7270,47.3753,2.9503,0.0000,0.0000,0.0000,1.0000
3,654,washingtonexaminer.com,281,0.0853,2.2565,3.7209,2.2720,3.6795,36.8766,2.2965,0.0000,0.0000,0.0000,1.0000
4,112,dailywire.com,269,0.0817,2.1601,3.5620,2.1750,3.5223,35.3018,2.1984,0.0000,0.0000,0.0000,1.0000

In [261]:
df_mod_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_moderate, on='domain', how='inner')
print('shape: ', df_mod_kb_del.shape)
df_mod_kb_del.head()

shape:  (544, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,210,theguardian.com,867,0.2632,6.9622,11.4804,7.0100,11.3526,113.7795,7.0856,1.0000,0.0000,0.0000,0.0000
1,97,nytimes.com,787,0.2389,6.3198,10.4211,6.3632,10.3051,103.2808,6.4318,1.0000,0.0000,0.0000,0.0000
2,251,washingtonpost.com,559,0.1697,4.4889,7.4020,4.5197,7.3196,73.3596,4.5685,1.0000,0.0000,0.0000,0.0000
3,109,nypost.com,547,0.1661,4.3925,7.2431,4.4227,7.1625,71.7848,4.4704,0.0000,0.0000,1.0000,0.0000
4,49,medium.com,455,0.1381,3.6537,6.0249,3.6788,5.9578,59.7113,3.7185,1.0000,0.0000,0.0000,0.0000

In [262]:
df_hard_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_hardliner, on='domain', how='inner')
print('shape: ', df_hard_kb_del.shape)
df_hard_kb_del.head()

shape:  (308, 14)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_leftcenterbias,mediabias_leftbias,mediabias_rightcenterbias,mediabias_rightbias
0,17,foxnews.com,1928,0.5853,15.4822,25.5297,15.5886,25.2455,253.0184,15.7568,0.0000,0.0000,0.0000,1.0000
1,502,cnn.com,564,0.1712,4.5290,7.4682,4.5602,7.3851,74.0157,4.6093,0.0000,1.0000,0.0000,0.0000
2,101,dailycaller.com,361,0.1096,2.8989,4.7802,2.9188,4.7270,47.3753,2.9503,0.0000,0.0000,0.0000,1.0000
3,362,rawstory.com,286,0.0868,2.2966,3.7871,2.3124,3.7449,37.5328,2.3374,0.0000,1.0000,0.0000,0.0000
4,654,washingtonexaminer.com,281,0.0853,2.2565,3.7209,2.2720,3.6795,36.8766,2.2965,0.0000,0.0000,0.0000,1.0000

In [263]:
df_prosc_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_proscience, on='domain', how='inner')
print('shape: ', df_prosc_kb_del.shape)
df_prosc_kb_del.head()

shape:  (78, 13)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_proscience,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,2532,nih.gov,121,0.0367,0.9717,1.6022,0.9783,1.5844,15.8793,0.9889,1.0000,0.0000,0.0000
1,2377,cdc.gov,85,0.0258,0.6826,1.1255,0.6873,1.1130,11.1549,0.6947,1.0000,0.0000,0.0000
2,4448,nasa.gov,54,0.0164,0.4336,0.7150,0.4366,0.7071,7.0866,0.4413,1.0000,0.0000,0.0000
3,2283,nature.com,37,0.0112,0.2971,0.4899,0.2992,0.4845,4.8556,0.3024,1.0000,0.0000,0.0000
4,6626,who.int,30,0.0091,0.2409,0.3972,0.2426,0.3928,3.9370,0.2452,1.0000,0.0000,0.0000

In [264]:
df_antisc_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_antiscience, on='domain', how='inner')
print('shape: ', df_antisc_kb_del.shape)
df_antisc_kb_del.head()

shape:  (348, 12)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc,mediabias_questionblesources,mediabias_conspiracy_psydoscience
0,48,thegatewaypundit.com,2924,0.8877,23.4803,38.7182,23.6417,38.2873,383.7270,23.8967,1.0000,0.0000
1,15,breitbart.com,2198,0.6673,17.6504,29.1049,17.7717,28.7809,288.4514,17.9634,1.0000,0.0000
2,44,dailymail.co.uk,717,0.2177,5.7576,9.4942,5.7972,9.3885,94.0945,5.8598,1.0000,0.0000
3,128,zerohedge.com,418,0.1269,3.3566,5.5350,3.3797,5.4734,54.8556,3.4161,0.0000,1.0000
4,518,theepochtimes.com,408,0.1239,3.2763,5.4025,3.2988,5.3424,53.5433,3.3344,1.0000,0.0000

In [265]:
df_all_kb_del = pd.merge(df_tweetskb_plds_del, df_domains_all_polarized, on='domain', how='inner')
print('shape: ', df_all_kb_del.shape)
df_all_kb_del.head()

shape:  (1278, 10)

,Unnamed: 0,domain,Number,percent,percent_l,percent_r,percent_mod,percent_hard,percent_prosc,percent_antisc
0,48,thegatewaypundit.com,2924,0.8877,23.4803,38.7182,23.6417,38.2873,383.7270,23.8967
1,15,breitbart.com,2198,0.6673,17.6504,29.1049,17.7717,28.7809,288.4514,17.9634
2,17,foxnews.com,1928,0.5853,15.4822,25.5297,15.5886,25.2455,253.0184,15.7568
3,210,theguardian.com,867,0.2632,6.9622,11.4804,7.0100,11.3526,113.7795,7.0856
4,97,nytimes.com,787,0.2389,6.3198,10.4211,6.3632,10.3051,103.2808,6.4318

--------------

In [533]:
df_kb_output_l = pd.DataFrame()
df_kb_output_l = df_l_kb[['domain', 'percent_l']][0:5]
df_kb_output_l

               domain  percent_l
0     theguardian.com     8.7356
1         nytimes.com     5.4716
2  washingtonpost.com     4.7130
3             cnn.com     3.6398
4          medium.com     3.1928

In [534]:
df_kb_output_l[['domain_del', 'percent_del_l']] = df_l_kb_del[['domain', 'percent_l']][0:5]
df_kb_output_l

               domain  percent_l          domain_del  percent_del_l
0     theguardian.com     8.7356     theguardian.com         6.9622
1         nytimes.com     5.4716         nytimes.com         6.3198
2  washingtonpost.com     4.7130             cnn.com         4.5290
3             cnn.com     3.6398  washingtonpost.com         4.4889
4          medium.com     3.1928          medium.com         3.6537

In [535]:
df_kb_output_l[['domain_undel', 'percent_undel_l']] = df_l_kb_undel[['domain', 'percent_l']][0:5]
df_kb_output_l

,domain,percent_l,domain_del,percent_del_l,domain_undel,percent_undel_l
0,theguardian.com,8.7356,theguardian.com,6.9622,theguardian.com,8.9847
1,nytimes.com,5.4716,nytimes.com,6.3198,nytimes.com,5.3524
2,washingtonpost.com,4.7130,cnn.com,4.5290,washingtonpost.com,4.7444
3,cnn.com,3.6398,washingtonpost.com,4.4889,cnn.com,3.5149
4,medium.com,3.1928,medium.com,3.6537,medium.com,3.1280

In [536]:
df_kb_output_l.rename(columns={'percent_l': 'percent_all', 'percent_del_l':'percent_del', 'percent_undel_l':'percent_undel'}, inplace=True)
df_kb_output_l.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,theguardian.com,8.7356,theguardian.com,6.9622,theguardian.com,8.9847
1,nytimes.com,5.4716,nytimes.com,6.3198,nytimes.com,5.3524
2,washingtonpost.com,4.7130,cnn.com,4.5290,washingtonpost.com,4.7444
3,cnn.com,3.6398,washingtonpost.com,4.4889,cnn.com,3.5149
4,medium.com,3.1928,medium.com,3.6537,medium.com,3.1280

---------------

In [537]:
df_kb_output_r = pd.DataFrame()
df_kb_output_r = df_r_kb[['domain', 'percent_r']][0:5]
df_kb_output_r

           domain  percent_r
0     foxnews.com    11.1548
1      forbes.com     6.0002
2      nypost.com     5.5834
3         wsj.com     4.8547
4  indiatimes.com     3.9491

In [538]:
df_kb_output_r[['domain_del', 'percent_del_r']] = df_r_kb_del[['domain', 'percent_r']][0:5]
df_kb_output_r

           domain  percent_r              domain_del  percent_del_r
0     foxnews.com    11.1548             foxnews.com        25.5297
1      forbes.com     6.0002              nypost.com         7.2431
2      nypost.com     5.5834         dailycaller.com         4.7802
3         wsj.com     4.8547  washingtonexaminer.com         3.7209
4  indiatimes.com     3.9491           dailywire.com         3.5620

In [539]:
df_kb_output_r[['domain_undel', 'percent_undel_r']] = df_r_kb_undel[['domain', 'percent_r']][0:5]
df_kb_output_r

,domain,percent_r,domain_del,percent_del_r,domain_undel,percent_undel_r
0,foxnews.com,11.1548,foxnews.com,25.5297,foxnews.com,6.9465
1,forbes.com,6.0002,nypost.com,7.2431,forbes.com,6.8768
2,nypost.com,5.5834,dailycaller.com,4.7802,wsj.com,5.4464
3,wsj.com,4.8547,washingtonexaminer.com,3.7209,nypost.com,5.0975
4,indiatimes.com,3.9491,dailywire.com,3.5620,indiatimes.com,4.6129

In [540]:
df_kb_output_r.rename(columns={'percent_r': 'percent_all', 'percent_del_r':'percent_del', 'percent_undel_r':'percent_undel'}, inplace=True)
df_kb_output_r.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,foxnews.com,11.1548,foxnews.com,25.5297,foxnews.com,6.9465
1,forbes.com,6.0002,nypost.com,7.2431,forbes.com,6.8768
2,nypost.com,5.5834,dailycaller.com,4.7802,wsj.com,5.4464
3,wsj.com,4.8547,washingtonexaminer.com,3.7209,nypost.com,5.0975
4,indiatimes.com,3.9491,dailywire.com,3.5620,indiatimes.com,4.6129

----------------

In [541]:
df_kb_output_mod = pd.DataFrame()
df_kb_output_mod = df_mod_kb[['domain', 'percent_mod']][0:5]
df_kb_output_mod

               domain  percent_mod
0     theguardian.com       8.9902
1         nytimes.com       5.6311
2  washingtonpost.com       4.8504
3          medium.com       3.2858
4       bloomberg.com       2.6242

In [542]:
df_kb_output_mod[['domain_del', 'percent_del_mod']] = df_mod_kb_del[['domain', 'percent_mod']][0:5]
df_kb_output_mod

               domain  percent_mod          domain_del  percent_del_mod
0     theguardian.com       8.9902     theguardian.com           7.0100
1         nytimes.com       5.6311         nytimes.com           6.3632
2  washingtonpost.com       4.8504  washingtonpost.com           4.5197
3          medium.com       3.2858          nypost.com           4.4227
4       bloomberg.com       2.6242          medium.com           3.6788

In [543]:
df_kb_output_mod[['domain_undel', 'percent_undel_mod']] = df_mod_kb_undel[['domain', 'percent_mod']][0:5]
df_kb_output_mod

,domain,percent_mod,domain_del,percent_del_mod,domain_undel,percent_undel_mod
0,theguardian.com,8.9902,theguardian.com,7.0100,theguardian.com,9.2754
1,nytimes.com,5.6311,nytimes.com,6.3632,nytimes.com,5.5257
2,washingtonpost.com,4.8504,washingtonpost.com,4.5197,washingtonpost.com,4.8980
3,medium.com,3.2858,nypost.com,4.4227,medium.com,3.2292
4,bloomberg.com,2.6242,medium.com,3.6788,bloomberg.com,2.7739

In [544]:
df_kb_output_mod.rename(columns={'percent_mod': 'percent_all', 'percent_del_mod':'percent_del', 'percent_undel_mod':'percent_undel'}, inplace=True)
df_kb_output_mod.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,theguardian.com,8.9902,theguardian.com,7.0100,theguardian.com,9.2754
1,nytimes.com,5.6311,nytimes.com,6.3632,nytimes.com,5.5257
2,washingtonpost.com,4.8504,washingtonpost.com,4.5197,washingtonpost.com,4.8980
3,medium.com,3.2858,nypost.com,4.4227,medium.com,3.2292
4,bloomberg.com,2.6242,medium.com,3.6788,bloomberg.com,2.7739

------------

In [545]:
df_kb_output_hard = pd.DataFrame()
df_kb_output_hard = df_hard_kb[['domain', 'percent_hard']][0:5]
df_kb_output_hard

              domain  percent_hard
0        foxnews.com       10.2726
1            cnn.com       10.1621
2       rawstory.com        6.9091
3  thedailybeast.com        3.3828
4          msnbc.com        3.3331

In [546]:
df_kb_output_hard[['domain_del', 'percent_del_hard']] = df_hard_kb_del[['domain', 'percent_hard']][0:5]
df_kb_output_hard

              domain  percent_hard              domain_del  percent_del_hard
0        foxnews.com       10.2726             foxnews.com           25.2455
1            cnn.com       10.1621                 cnn.com            7.3851
2       rawstory.com        6.9091         dailycaller.com            4.7270
3  thedailybeast.com        3.3828            rawstory.com            3.7449
4          msnbc.com        3.3331  washingtonexaminer.com            3.6795

In [547]:
df_kb_output_hard[['domain_undel', 'percent_undel_hard']] = df_hard_kb_undel[['domain', 'percent_hard']][0:5]
df_kb_output_hard

,domain,percent_hard,domain_del,percent_del_hard,domain_undel,percent_undel_hard
0,foxnews.com,10.2726,foxnews.com,25.2455,cnn.com,10.9043
1,cnn.com,10.1621,cnn.com,7.3851,rawstory.com,7.7548
2,rawstory.com,6.9091,dailycaller.com,4.7270,foxnews.com,6.2710
3,thedailybeast.com,3.3828,rawstory.com,3.7449,msnbc.com,3.9964
4,msnbc.com,3.3331,washingtonexaminer.com,3.6795,thedailybeast.com,3.7094

In [548]:
df_kb_output_hard.rename(columns={'percent_hard': 'percent_all', 'percent_del_hard':'percent_del', 'percent_undel_hard':'percent_undel'}, inplace=True)
df_kb_output_hard.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,foxnews.com,10.2726,foxnews.com,25.2455,cnn.com,10.9043
1,cnn.com,10.1621,cnn.com,7.3851,rawstory.com,7.7548
2,rawstory.com,6.9091,dailycaller.com,4.7270,foxnews.com,6.2710
3,thedailybeast.com,3.3828,rawstory.com,3.7449,msnbc.com,3.9964
4,msnbc.com,3.3331,washingtonexaminer.com,3.6795,thedailybeast.com,3.7094

------------

In [549]:
df_kb_output_prosc = pd.DataFrame()
df_kb_output_prosc = df_prosc_kb[['domain', 'percent_prosc']][0:5]
df_kb_output_prosc

              domain  percent_prosc
0            nih.gov        10.2777
1         nature.com        10.0252
2           nasa.gov         9.5351
3            cdc.gov         6.0003
4  sciencedirect.com         3.5051

In [550]:
df_kb_output_prosc[['domain_del', 'percent_del_prosc']] = df_prosc_kb_del[['domain', 'percent_prosc']][0:5]
df_kb_output_prosc

              domain  percent_prosc  domain_del  percent_del_prosc
0            nih.gov        10.2777     nih.gov            15.8793
1         nature.com        10.0252     cdc.gov            11.1549
2           nasa.gov         9.5351    nasa.gov             7.0866
3            cdc.gov         6.0003  nature.com             4.8556
4  sciencedirect.com         3.5051     who.int             3.9370

In [551]:
df_kb_output_prosc[['domain_undel', 'percent_undel_prosc']] = df_prosc_kb_undel[['domain', 'percent_prosc']][0:5]
df_kb_output_prosc

,domain,percent_prosc,domain_del,percent_del_prosc,domain_undel,percent_undel_prosc
0,nih.gov,10.2777,nih.gov,15.8793,nature.com,10.6850
1,nature.com,10.0252,cdc.gov,11.1549,nasa.gov,9.8476
2,nasa.gov,9.5351,nasa.gov,7.0866,nih.gov,9.5629
3,cdc.gov,6.0003,nature.com,4.8556,cdc.gov,5.3425
4,sciencedirect.com,3.5051,who.int,3.9370,technologyreview.com,3.6007

In [552]:
df_kb_output_prosc.rename(columns={'percent_prosc': 'percent_all', 'percent_del_prosc':'percent_del', 'percent_undel_prosc':'percent_undel'}, inplace=True)
df_kb_output_prosc.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,nih.gov,10.2777,nih.gov,15.8793,nature.com,10.6850
1,nature.com,10.0252,cdc.gov,11.1549,nasa.gov,9.8476
2,nasa.gov,9.5351,nasa.gov,7.0866,nih.gov,9.5629
3,cdc.gov,6.0003,nature.com,4.8556,cdc.gov,5.3425
4,sciencedirect.com,3.5051,who.int,3.9370,technologyreview.com,3.6007

------------

In [553]:
df_kb_output_antisc = pd.DataFrame()
df_kb_output_antisc = df_antisc_kb[['domain', 'percent_antisc']][0:5]
df_kb_output_antisc

                 domain  percent_antisc
0  thegatewaypundit.com         15.4606
1         breitbart.com         14.9323
2       dailymail.co.uk          9.0672
3     theepochtimes.com          3.8172
4        truepundit.com          3.6833

In [554]:
df_kb_output_antisc[['domain_del', 'percent_del_antisc']] = df_antisc_kb_del[['domain', 'percent_antisc']][0:5]
df_kb_output_antisc

,domain,percent_antisc,domain_del,percent_del_antisc
0,thegatewaypundit.com,15.4606,thegatewaypundit.com,23.8967
1,breitbart.com,14.9323,breitbart.com,17.9634
2,dailymail.co.uk,9.0672,dailymail.co.uk,5.8598
3,theepochtimes.com,3.8172,zerohedge.com,3.4161
4,truepundit.com,3.6833,theepochtimes.com,3.3344

In [555]:
df_kb_output_antisc[['domain_undel', 'percent_undel_antisc']] = df_antisc_kb_undel[['domain', 'percent_antisc']][0:5]
df_kb_output_antisc

,domain,percent_antisc,domain_del,percent_del_antisc,domain_undel,percent_undel_antisc
0,thegatewaypundit.com,15.4606,thegatewaypundit.com,23.8967,breitbart.com,12.5243
1,breitbart.com,14.9323,breitbart.com,17.9634,dailymail.co.uk,11.6154
2,dailymail.co.uk,9.0672,dailymail.co.uk,5.8598,thegatewaypundit.com,8.7586
3,theepochtimes.com,3.8172,zerohedge.com,3.4161,truepundit.com,4.3696
4,truepundit.com,3.6833,theepochtimes.com,3.3344,theepochtimes.com,4.2008

In [556]:
df_kb_output_antisc.rename(columns={'percent_antisc': 'percent_all', 'percent_del_antisc':'percent_del', 'percent_undel_antisc':'percent_undel'}, inplace=True)
df_kb_output_antisc.head()

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,thegatewaypundit.com,15.4606,thegatewaypundit.com,23.8967,breitbart.com,12.5243
1,breitbart.com,14.9323,breitbart.com,17.9634,dailymail.co.uk,11.6154
2,dailymail.co.uk,9.0672,dailymail.co.uk,5.8598,thegatewaypundit.com,8.7586
3,theepochtimes.com,3.8172,zerohedge.com,3.4161,truepundit.com,4.3696
4,truepundit.com,3.6833,theepochtimes.com,3.3344,theepochtimes.com,4.2008

---------------------

In [557]:
df_1 = pd.concat([df_kb_output_l, df_kb_output_r, df_kb_output_mod, df_kb_output_hard, df_kb_output_prosc, df_kb_output_antisc])
df_1

,domain,percent_all,domain_del,percent_del,domain_undel,percent_undel
0,theguardian.com,8.7356,theguardian.com,6.9622,theguardian.com,8.9847
1,nytimes.com,5.4716,nytimes.com,6.3198,nytimes.com,5.3524
2,washingtonpost.com,4.7130,cnn.com,4.5290,washingtonpost.com,4.7444
3,cnn.com,3.6398,washingtonpost.com,4.4889,cnn.com,3.5149
4,medium.com,3.1928,medium.com,3.6537,medium.com,3.1280
0,foxnews.com,11.1548,foxnews.com,25.5297,foxnews.com,6.9465
1,forbes.com,6.0002,nypost.com,7.2431,forbes.com,6.8768
2,nypost.com,5.5834,dailycaller.com,4.7802,wsj.com,5.4464
3,wsj.com,4.8547,washingtonexaminer.com,3.7209,nypost.com,5.0975
4,indiatimes.com,3.9491,dailywire.com,3.5620,indiatimes.com,4.6129
0,theguardian.com,8.9902,theguardian.com,7.0100,theguardian.com,9.2754
1,nytimes.com,5.6311,nytimes.com,6.3632,nytimes.com,5.5257
2,washingtonpost.com,4.8504,washingtonpost.com,4.5197,washingtonpost.com,4.8980
3,medium.com,3.2858,nypost.com,4.4227,medium.com,3.2292
4,bloomberg.com,2.6242,medium.com,3.6788,bloomberg.com,2.7739
0,foxnews.com,10.2726,foxnews.com,25.2455,cnn.com,10.9043
1,cnn.com,10.1621,cnn.com,7.3851,rawstory.com,7.7548
2,rawstory.com,6.9091,dailycaller.com,4.7270,foxnews.com,6.2710
3,thedailybeast.com,3.3828,rawstory.com,3.7449,msnbc.com,3.9964
4,msnbc.com,3.3331,washingtonexaminer.com,3.6795,thedailybeast.com,3.7094
0,nih.gov,10.2777,nih.gov,15.8793,nature.com,10.6850
1,nature.com,10.0252,cdc.gov,11.1549,nasa.gov,9.8476
2,nasa.gov,9.5351,nasa.gov,7.0866,nih.gov,9.5629
3,cdc.gov,6.0003,nature.com,4.8556,cdc.gov,5.3425
4,sciencedirect.com,3.5051,who.int,3.9370,technologyreview.com,3.6007
0,thegatewaypundit.com,15.4606,thegatewaypundit.com,23.8967,breitbart.com,12.5243
1,breitbart.com,14.9323,breitbart.com,17.9634,dailymail.co.uk,11.6154
2,dailymail.co.uk,9.0672,dailymail.co.uk,5.8598,thegatewaypundit.com,8.7586
3,theepochtimes.com,3.8172,zerohedge.com,3.4161,truepundit.com,4.3696
4,truepundit.com,3.6833,theepochtimes.com,3.3344,theepochtimes.com,4.2008

In [559]:
print(df_1.to_latex(index=True,
                  formatters={"name": str.upper},
                  float_format="{:.2f}".format))

\begin{tabular}{llrlrlr}
\toprule
{} &                domain &  percent\_all &              domain\_del &  percent\_del &          domain\_undel &  percent\_undel \\
\midrule
0 &       theguardian.com &         8.74 &         theguardian.com &         6.96 &       theguardian.com &           8.98 \\
1 &           nytimes.com &         5.47 &             nytimes.com &         6.32 &           nytimes.com &           5.35 \\
2 &    washingtonpost.com &         4.71 &                 cnn.com &         4.53 &    washingtonpost.com &           4.74 \\
3 &               cnn.com &         3.64 &      washingtonpost.com &         4.49 &               cnn.com &           3.51 \\
4 &            medium.com &         3.19 &              medium.com &         3.65 &            medium.com &           3.13 \\
0 &           foxnews.com &        11.15 &             foxnews.com &        25.53 &           foxnews.com &           6.95 \\
1 &            forbes.com &         6.00 &              nypost.com &         7.24 &            forbes.com &           6.88 \\
2 &            nypost.com &         5.58 &         dailycaller.com &         4.78 &               wsj.com &           5.45 \\
3 &               wsj.com &         4.85 &  washingtonexaminer.com &         3.72 &            nypost.com &           5.10 \\
4 &        indiatimes.com &         3.95 &           dailywire.com &         3.56 &        indiatimes.com &           4.61 \\
0 &       theguardian.com &         8.99 &         theguardian.com &         7.01 &       theguardian.com &           9.28 \\
1 &           nytimes.com &         5.63 &             nytimes.com &         6.36 &           nytimes.com &           5.53 \\
2 &    washingtonpost.com &         4.85 &      washingtonpost.com &         4.52 &    washingtonpost.com &           4.90 \\
3 &            medium.com &         3.29 &              nypost.com &         4.42 &            medium.com &           3.23 \\
4 &         bloomberg.com &         2.62 &              medium.com &         3.68 &         bloomberg.com &           2.77 \\
0 &           foxnews.com &        10.27 &             foxnews.com &        25.25 &               cnn.com &          10.90 \\
1 &               cnn.com &        10.16 &                 cnn.com &         7.39 &          rawstory.com &           7.75 \\
2 &          rawstory.com &         6.91 &         dailycaller.com &         4.73 &           foxnews.com &           6.27 \\
3 &     thedailybeast.com &         3.38 &            rawstory.com &         3.74 &             msnbc.com &           4.00 \\
4 &             msnbc.com &         3.33 &  washingtonexaminer.com &         3.68 &     thedailybeast.com &           3.71 \\
0 &               nih.gov &        10.28 &                 nih.gov &        15.88 &            nature.com &          10.68 \\
1 &            nature.com &        10.03 &                 cdc.gov &        11.15 &              nasa.gov &           9.85 \\
2 &              nasa.gov &         9.54 &                nasa.gov &         7.09 &               nih.gov &           9.56 \\
3 &               cdc.gov &         6.00 &              nature.com &         4.86 &               cdc.gov &           5.34 \\
4 &     sciencedirect.com &         3.51 &                 who.int &         3.94 &  technologyreview.com &           3.60 \\
0 &  thegatewaypundit.com &        15.46 &    thegatewaypundit.com &        23.90 &         breitbart.com &          12.52 \\
1 &         breitbart.com &        14.93 &           breitbart.com &        17.96 &       dailymail.co.uk &          11.62 \\
2 &       dailymail.co.uk &         9.07 &         dailymail.co.uk &         5.86 &  thegatewaypundit.com &           8.76 \\
3 &     theepochtimes.com &         3.82 &           zerohedge.com &         3.42 &        truepundit.com &           4.37 \\
4 &        truepundit.com &         3.68 &       theepochtimes.com &         3.33 &     theepochtimes.com &           4.20 \\
\bottomrule
\end{tabular}